<!-- Begin 01-molecules/navigation/more-nav -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->
<div class="[ container-fluid row] more" data-dev-object-descrip="01-molecules/navigation/more-nav" data-dev-status="IN-PROGRESS">
	<div class="[ col-xs-12 col-sm-12 col-md-12 ]">
		<div class="[ col-xs-12 col-sm-12 col-md-4 col-lg-4 ] more__categories">
			<ul>
				<li><a href="/About/Advertise/">Advertise</a></li>
                                       <li><a href="/About/Us/">About Us</a></li>
                                       <li><a href="/Polls/">The Barometer</a></li>
                                       <li><a href="/About/Contact/">Contact</a></li>
                                       <li><a href="/Contributors/indexA.html">Contributors</a></li>
                                       <li><a href="/About/Funding/">Funding</a></li>

			</ul>
		</div>
		<div class="[ col-xs-12 col-sm-12 col-md-4 col-lg-4 ] more__categories">
			<ul>
				<li><a href="/Jobs/Intro/">Jobs</a></li>
                                        <li><a href="/MasterClass/Spring2016/Class-Listing/">Master Classes</a></li>
                                        <li><a href="http://subscribe.thetyee.ca">Newsletter</a></li>
                                        <li><a href="http://subscribe.thetyee.ca/privacy/">Privacy Policy</a></li>
                                        <li><a href="/About/Tyee-to-Print/">Publications</a></li>
                                        <li><a href="/About/Submissions/">Submissions</a></li>

			</ul>
		</div>
		<div class="[ col-xs-12 col-sm-12 col-md-4 col-lg-4] more__categories">
			<ul>
				<li><a href="https://support.thetyee.ca/">Support The Tyee</a></li>
                                        <li><a href="/Presents/">Tyee Presents</a></li>
                                        <li><a href="/News/">Tyee News</a></li>
                                        <li><a href="/Archive/weekly/">Weekly Archives</a></li>

			</ul>	
		</div>
	
</div>
<!-- END 01-molecules/navigation/more-nav -->