<!-- Begin 01-molecules/navigation/more-nav -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->
<div class="[ container-fluid row] more" data-dev-object-descrip="01-molecules/navigation/more-nav" data-dev-status="IN-PROGRESS">
	<div class="[ col-xs-12 col-sm-12 col-md-12 ]">
		<div class="[ col-xs-12 col-sm-3 col-md-2 ] more__categories">
			<ul>
				<li><a href="#">Advertise</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">The Barometer</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Contributors</a></li>
				<li><a href="#">Jobs</a></li>
			</ul>
		</div>
		<div class="[ col-xs-12 col-sm-3 col-md-2 ] more__categories">
			<ul>
				<li><a href="#">Master Classes</a></li>
				<li><a href="#">Newsletter</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Publications</a></li>
				<li><a href="#">Submissions</a></li>
			</ul>
		</div>
		<div class="[ col-xs-12 col-sm-3 col-md-2 ] more__categories">
			<ul>
				<li><a href="#">Support The Tyee</a></li>
				<li><a href="#">Tyee Presents</a></li>
				<li><a href="#">Tyee News</a></li>
				<li><a href="#">Weekly Archives</a></li>
			</ul>
				
		</div>
	
</div>
<!-- END 01-molecules/navigation/more-nav -->