<!-- Begin molecules/navigation/primary-nav -->
<nav class="[ navbar navbar-default yamm] site-nav primary-nav" data-dev-object-descrip="molecules/navigation/primary-nav" data-dev-status="IN-PROGRESS" role="navigation">
  
<!--NARROW MENU-->

  <div class="narrow-menu [ hidden-sm hidden-md hidden-lg hidden-xl ]">
      <!--Toggle-->
    <div class="[ col-xs-4 pull-left ] mobile-toggle ">
      <button type="button" class="collapsed menu__hamburger" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span>Menu</span>
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <!--logo -->
    <a class="col-xs-4" href="#"><img src="../../ui/img/tyee_logo.png" class="narrow-menu__logo" id="site-logo" alt="Logo Alt Text" /></a>

    <!--search-->
    <div class="narrow__search [ col-xs-4 ]">
        {% include 01-molecules/blocks/search-block.html %}
    </div>
  </div>


<!-- WIDE MENU -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="[ collapse navbar-collapse ] menu" id="bs-example-navbar-collapse-1">

    <div class="[ navbar-nav col-sm-12 col-md-12 col-lg-12 ] menu__content-wrapper">
      <ul class="[ col-sm-5 col-md-5 col-lg-5 nav ] menu__left-nav ">
        <li class="menu__latest-stories dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Latest Stories</a>
            <ul class="dropdown-menu">
              <li>{% include 02-organisms/sections/latest-stories.html %}</li>
            </ul>
        </li>
        <li class="menu__sections [ dropdown ]">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections</a>
          <ul class="dropdown-menu">
              <li>{% include 01-molecules/navigation/sections-nav.html %}</li>
          </ul>
        </li>
        <li class="menu__newsletter"><a href="#">Newsletter</a></li>
      </ul>
      
      <!--LOGO-->

      <ul class="[ menu__logo col-sm-2 col-md-2 col-lg-2 nav hidden-xs ]">
        <li class="[ hidden-xs ]">
           <img src="{{site.url}}ui/img/tyee_logo.png" alt="Logo Alt Text" />
        </li>
      </ul>

      <!--RIGHT NAV -->

      <ul class="menu__right-nav [ col-md-offset-1 col-lg-offset-1  col-sm-5 col-md-4 col-lg-4  nav ]">
        <li class="menu__join [ col-sm-offset-2 col-lg-offset-2 col-lg-2 col-sm-2 ]"><a href="#">Join</a></li>
        <li class="menu__facebook [ col-lg-1 col-sm-1 ]"><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
        <li class="menu__twitter [ col-lg-1 col-sm-1 ]"><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
        <li class="menu__search [ col-sm-4 col-md-4 col-lg-4 hidden-xs dropdown nav ]">

          {% include 01-molecules/blocks/search-block.html %}
        </li>
      </ul>
  </div>
</nav>