<!-- Begin 01-molecules/navigation/sections-nav -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->
<div class="[ container-fluid row] sections" data-dev-object-descrip="01-molecules/navigation/sections-nav" data-dev-status="IN-PROGRESS">
	<div class="[ col-xs-12 col-sm-12 col-md-12 ]">
		<div class="[ col-xs-12 col-sm-2 col-md-12 col-lg-2 ] sections__categories">
			<ul>
				<li>
					<a>News</a>
				</li>
				<li>
					<a>Culture</a>
				</li>
				<li>
					<a>Opinion</a>
				</li>
				<li>
					<a>National</a>
				</li>
				<li>
					<a>Mediacheck</a>
				</li>
				<li>
					<a>Solutions</a>
				</li>
			</ul>
		</div>
		<div class="[ col-xs-12 col-sm-10 col-md-12 col-lg-10 ] sections__topics-wrap">
		
			<h4 class="[ col-xs-12 col-sm-12 col-md-12 col-lg-12 ] sections__topics-header">Topics</h4>
			<div class="[ col-xs-12 col-sm-2 col-md-12 col-lg-3 ] sections__list-one">
				<ul>
					<li>
						<a>Aboriginal Affairs</a>
					</li>
					<li>
						<a>BC Politics</a>
					</li>
					<li>
						<a>Education</a>
					</li>
					<li>
						<a>Energy</a>
					</li>
					<li>
						<a>Environment</a>
					</li>
				</ul>
			</div>
			<div class="[ col-xs-12 col-sm-2 col-md-12 col-lg-2 ] sections__list-two">
				<ul>
					<li>
						<a>Federal Politics</a>
					</li>
					<li><a>Film</a></li>
					<li><a>Food</a></li>
					<li><a>Gender &amp; Sexuality</a></li>
					<li><a>Health</a></li>
				</ul>
			</div>
			<div class="[ col-xs-12 col-sm-2 col-md-12 col-lg-2 ] sections__list-three">
				<ul>
					<li><a>Housing</a></li>
					<li><a>Labour &amp; Industry</a></li>
					<li><a>Local Economy</a></li>
					<li><a>Media</a></li>
					<li><a>Municipal Politics</a></li>
				</ul>
			</div>
			<div class="[ col-xs-12 col-sm-2 col-md-12 col-lg-2 ] sections__list-four">
				<ul>					
					<li><a>Music</a></li>
					<li><a>Rights &amp; Justice</a></li>
					<li><a>Science &amp; Tech</a></li>
					<li><a>Transporation</a></li>
					<li><a>Travel</a></li>
				</ul>
			</div>
			<div class="[ col-xs-12 col-sm-12 col-md-12 col-lg-2 ] sections__list-four">
				<ul>					
					<li><a>Urban Planning &amp; Architecture</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END 01-molecules/navigation/sections-nav -->