<!-- Begin 01-molecules/navigation/sections-nav -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->
<div class="container-fluid sections" data-dev-object-descrip="01-molecules/navigation/sections-nav" data-dev-status="IN-PROGRESS">
	<div class="col-md-12">
		<div class="col-md-2 sections--categories">
			<ul>
				<li>
					<a>News</a>
				</li>
				<li>
					<a>Culture</a>
				</li>
				<li>
					<a>Opinion</a>
				</li>
				<li>
					<a>National</a>
				</li>
				<li>
					<a>Mediacheck</a>
				</li>
				<li>
					<a>Solutions</a>
				</li>
			</ul>
		</div>
		<div class="col-md-2 sections--list-one">
			<ul>
				<li>
					<a>Aboriginal Affairs</a>
				</li>
				<li>
					<a>BC Politics</a>
				</li>
				<li>
					<a>Education</a>
				</li>
				<li>
					<a>Energy</a>
				</li>
				<li>
					<a>Environment</a>
				</li>
				<li>
					<a>Federal Politics</a>
				</li>
			</ul>
		</div>
		<div class="col-md-2 sections--list-two">
			<ul>
				<li><a>Film</a></li>
				<li><a>Food</a></li>
				<li><a>Gender &amp; Security</a></li>
				<li><a>Health</a></li>
				<li><a>Housing</a></li>
				<li><a>Labour &amp; Industry</a></li>
			</ul>
		</div>
		<div class="col-md-2 sections--list-three">
			<ul>
				<li><a>Local Economy</a></li>
				<li><a>Media</a></li>
				<li><a>Municipal Politics</a></li>
				<li><a>Music</a></li>
				<li><a>Rights &amp; Justice</a></li>
				<li><a>Science &amp; Tech</a></li>
			</ul>
		</div>
		<div class="col-md-2 sections--list-four">
			<ul>
				<li><a>Transporation</a></li>
				<li><a>Travel</a></li>
				<li><a>Urban Planning &amp; Architecture</a></li>
			</ul>
		</div>
		<div class="col-md-2 sections--list-five">
			<ul>
				
			</ul>
		</div>
	</div>
</div>
<!-- END 01-molecules/navigation/sections-nav -->