---
layout: default-global
body-class: advertpage # adds a class to the page's body tag
series: false # true or false
presents: No # Yes or No
poll--sponsored: true # true or false
permalink: /advertpage.html
title: "Advertise with The Tyee"
description:
meta-category: Advertise
meta-url: ""
meta-image: 
meta-contributor: 
meta-contributor-bio: 
meta-date: 
featured-media-source: 
featured-media-caption: 
featured-media-credit: 
---


    {% include 02-organisms/article/advertpage__header.html %}  
    
    {% include 02-organisms/article/article__body--poll.html %}    
