---
layout: default-global
page-type: section  # article, section, topic or home
series: no
permalink: /events-index.html
meta-category: Events
title: Events index 
section-name: Tyee Events
sponsored: true
sponsor-blurb: Supported by Lee’s Benevolent Society
index-page-fact-box: false # true or false (if editors want to display info about this index page a fact-box will appear in the first row of the index list replacing the subscribe block)
meta-url: "http://thetyee.ca/events"
---

    <!-- ===== Section Index ===== -->

    <div class="container index-page__container">

        <section class="index-page__story-list">

                {% include 02-organisms/sections/index-page__header.html %}
                
                {% comment %} 
                FEATURED STORY Section 
                {% endcomment %}

                {% include 02-organisms/sections/index-page__featured-story--events.html content-source="ui/img/future_of_work-TyeeStory-960x600.jpg" extension-class="story-item--index-page index-list-spacing" story-item-headline="(In)secure: The&nbsp;Future of Working" story-item-dek="How work has changed in Canada from the 20th century to now and what might come next." story-badge="series" %}


                {% comment %} 
                MAIN EVENT LIST INDEX LOOP
                {% endcomment %}
                <div class="row">
                        
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            {% include 01-molecules/blocks/story-item--event.html content-source="ui/img/HomeForGood-presentsbanner-960x600.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Home For Good" story-item-dek="A Tyee event on bold solutions for secure, affordable rental housing." story-badge=include.story-badge %}
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            {% include 01-molecules/blocks/story-item--event.html content-source="ui/img/future_of_work-TyeeStory-960x600.jpg" story-item-class="story-item--index-page index-list-spacing" story-item-headline="(In)secure: The&nbsp;Future of Working" story-item-dek="How work has changed in Canada from the 20th century to now and what might come next." story-badge=include.story-badge %}
                        </div>

                        {% comment %} MESSAGING ZONE - This column will contain either a Subscribe block for the Event mailing list {% endcomment %}
                        <div class="col-xs-12 col-md-4">
                                <div class="messaging-zone index-list-spacing">{% include 01-molecules/blocks/messaging-block--subscribe.html %}</div>
                        </div>
                </div>
                {% comment %} END of MAIN EVENT LIST INDEX LOOP {% endcomment %}


                {% comment %} 
                ARCHIVE EVENT LIST INDEX LOOP
                {% endcomment %}

        </section> <!-- index-page__story-list -->


        <section class="index-page__story-list index-page__story-list--archived-events">

                <h2 class="border-bottom">Archived Events</h2>
                        
                <div class="row event-list-grid">

                    {% comment %} STORY LIST - FIRST ROW has Subscribe block {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}

                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}
                    
                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}
                    
                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}

                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}
                                            
                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}

                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}

                    {% comment %} STORY LIST - NORMAL ROW {% endcomment %}
                        {% include 02-organisms/sections/index-page__event-list-loop.html story-badge=nil messaging-block="" %}
                </div>

                {% comment %} END of ARCHIVED EVENT LIST INDEX LOOP {% endcomment %}

                {% comment %} LOAD MORE BUTTON {% endcomment %}
                    <div class="row">
                            {% include 00-atoms/buttons/load-more-button.html bootstrap-classes="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" extension-class="" %}
                    </div>

        </section> <!-- index-page__story-list--archived-events -->


        {% comment %} MOST STORIES SECTION {% endcomment %}
            {% include 01-molecules/blocks/3-col-list-block.html extension-class="" list-class-extension="" %}

    </div> <!-- bs container -->
