---
layout: default-global
body-class: presents-partner # adds a class to the page's body tag
page-type: article
series: false # true or false
presents: No # Yes or No
poll--sponsored: true # true or false
messaging-zone: 'no'  # 'yes' or 'no' -- default is 'yes'
permalink: /presents-partner.html
title: "Tyee Presents"
description:
meta-category: Advertise
meta-url: ""
meta-image: 
meta-contributor: 
meta-contributor-bio: 
meta-date: 
featured-media-source: 
featured-media-caption: 
featured-media-credit: 
---

    {% comment %}
        The Presents Partner page has no featured-media so it should follow the form of an article-legacy-image. Like the poll page, the feature-media section is omitted. 
    {% endcomment %}


    {% include 02-organisms/article/advertpage__header.html %}  
    

    {% include 02-organisms/article/article__body--advertpage.html %}    
