---
layout: default-global
series: no
permalink: /section-index.html
meta-category: News
title: News | Section index 
section-name: News
sponsored: true
sponsor-blurb: Supported by Lee’s Benevolent Society
meta-url: "http://thetyee.ca/News"
---

    <!-- ===== Section Index ===== -->

    <div class="container">

        <section id="index-page__story-list">

                {% include 02-organisms/sections/section__header.html %}
                
                <section id="index-page__featured-story">
                    <div class="row">
                          <div class="col-12 col-md-8">
                            {% include 01-molecules/blocks/story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}
                          </div>
                          
                          <!--AD Halfpage. -->
                          <div class="col-md-4 hidden-xs hidden-sm">
                                {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--no-label index-list-spacing" ad-slot="ad-300x600" ad-source="" %}
                          </div>
                    </div>
                </section>

                <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}

                        <!--MESSAGING ZONE - subscribe. -->
                        <div class="col-xs-12 col-md-4">
                                <div class="messaging-zone index-list-spacing">{% include 01-molecules/blocks/messaging-block--subscribe.html %}</div>
                        </div>
                </div>
                <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}
                </div>
                
                <div class="tyee-presents-block">
                    <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}
                    </div>
                </div>
                
                <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}

                        <!--AD Upper bigbox. -->
                        <div class="col-xs-12 col-md-4">
                            {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing" ad-source="" ad-slot="ad-bigbox" %}
                        </div>

                </div>
                <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}
                </div>
                
                <div class="row">
                        <div class="col-xs-12 col-md-8">
                                <div class="messaging-zone index-list-spacing">{% include 01-molecules/blocks/messaging-block--ask.html %}</div>
                        </div>
                </div>
                
                <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}
                        
                        <!--AD lower bigbox. -->
                        <div class="col-xs-12 col-md-4">
                            {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing" ad-source="" ad-slot="ad-bigboxlower" %}
                        </div>
                </div>
                
                <div class="tyee-presents-block"> TYEE PRESENTS
                    <div class="row">
                            {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                            {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}
                    </div>
                </div>
                
                <div class="row">
                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home."%}

                        {% include 01-molecules/blocks/story-item--section-story-list.html content-source="ui/img/Christy-Clark.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="Poll Offers Hope, Fears For Both Main Parties" story-item-dek="Majority think economy strong, but one-third of British Columbians worried about their personal financial situation."%}

                        <!--AD bottom bigbox. -->
                        <div class="col-xs-12 col-md-4">
                            {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing" ad-source="" ad-slot="ad-bigboxbottom" %}
                        </div>
                </div>

                <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                                <button type="button" class="btn btn-default btn-lg btn--load-more">
                                    LOAD MORE STORIES <br>
                                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> 
                                </button>
                        </div>
                </div>


        </section> <!-- index-page__story-list -->

        <section id="most-stories-block">
            <div class="row">
                <div class="col-sm-4">Most Popular</div>
                <div class="col-sm-4">Most Emailed</div>
                <div class="col-sm-4">Most Emailed</div>
            </div>
        </section>

    </div> <!-- bs container -->
