<!-- begin 02-organisms/article/featured-media -->
<!--This pulls in an image and a caption-->
{% for field in site.data.example_stories limit:1 %}

<section class="featured-media" data-dev-object-descrip="02-organisms/article/featured-media" data-dev-status="IN-PROGRESS">

	<div class="container-fluid">

		{% include 01-molecules/blocks/ad-box.html ad-position="bigbox--1st-position" ad-source="VFF-bigbox.gif" %}

		{% include 01-molecules/blocks/figure.html figure-contents="00-atoms/images/image" figure-caption="Coldwater Indian Band Chief Lee Spahan next to Kinder Morgan pipeline crossing sign on his reserve. His people were given a one-time payment of $1,292 for the permanent right-of-passage." media-credit="Photo: Mychaylo Prystupa." content-source="/ui/img/ColdwaterBandChiefLeeSpahan_610px.jpg" %}

		{% comment %}
			This is left here to show the syntax for pulling data from the CSV file:

		    {% include 00-atoms/images/image.html content-source=field.featured_image %}
			<p><caption><em>{{field.featured_image_caption}}</em></caption></p>
		{% endcomment %}

	</div> <!--END .container-fluid-->

</section>
{% endfor %}
