<!-- BEGIN 02-organisms/sections/barometer -->
<section class="barometer [ col xs-12 col-sm-12 col-md-12 ]" data-dev-object-descrip="01-molecules/blocks/barometer" data-dev-status="IN-PROGRESS">
	<div class="barometer__wrap [ col xs-12 col-sm-12 col-md-offset-3 col-md-6 ]">
		<h4><i class="fa fa-bar-chart"></i> The Barometer</h4>
		<p>Tell us: what's bugging you about Vancouver's affordability crisis?</p>
		<p><a href="#">Take this week's poll</a></p>
	</div>
</section>
<!-- END 02-organisms/sections/barometer -->