<!-- BEGIN 02-organisms/sections/builder-modal -->

<div id="modalSub" class="modal fade modal--builder" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="bg-pattern">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <img src="<?=$wwwroot?>ui/img/TyeeBuilders-2016-logo.svg" alt="Tyee Builders logo" height="auto" width="180" class="modal-builder-logo center-block">
      </div>
      <h2 class="text-center">Democracy needs good journalism</h2>
      <a href="https://support.thetyee.ca/?utm_source=popup">
        <div class="modal-body text-center">
          <!--<p><em>We call them Tyee Builders, and we couldn't do it without them.</em></p>-->
          <p class="cta"><strong>Support The Tyee's ‘BC in the Balance: The Voter’s Deep Guide to the 2017 Election’
</strong></p>
        </div>
      </a>

      <div class="modal-footer text-center no-border-top">
        <small><a id="modalSubNoMore" href=""><em>Please don’t show this to me again.</em></a></small>
      </div>

    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END 02-organisms/sections/builder-modal -->
