<!-- BEGIN 02-organisms/sections/builder-modal -->
{% comment %}
    The modal gets included at the end of footer.html
    Other modals: subscription-modal.html
{% endcomment %}


<div id="modalSub" class="modal fade modal--builder" tabindex="-1" role="dialog">
  <div class="modal-dialog ntnl-sgnup-modal ">
    <div class="">
<section class="subscription-popup [ col xs-12 col-sm-12 col-md-12 ]" data-dev-object-descrip="01-molecules/blocks/subscription-popup" data-dev-status="IN-PROGRESS">
<div class="modal-dialog" role="document">
    <div class="bg-pattern">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <img src="{{site.url}}ui/img/TyeeBuilders-2016-logo.svg" alt="Tyee Builders logo" height="auto" width="180" class="modal-builder-logo center-block">
      </div>
      <h2 class="text-center">Did you know that The Tyee is supported by readers?</h2>
      <a href="builder pager link">
        <div class="modal-body text-center">
          <p><em>We call them Tyee Builders, and we couldn't do it without them.</em></p>
          <p class="cta"><strong>Join us. Support independent media.</strong></p>
        </div>
      </a>

      <div class="modal-footer text-center no-border-top">
        <small><em>Your privacy is important to us. We will never share, rent, or sell your email address.</em></small><br>
        <small><strong><a id="modalSubNoMore" href="">Please don’t show this to me again.</a></strong></small>

      </div>
    </div>
  </div>
</section>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END 02-organisms/sections/builder-modal -->