<!-- Begin 02-organisms/sections/httpswarning -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->
<div id="https"  class="[ container-fluid ]" data-dev-object-descrip="molecules/blocks/ad-banner">
<div class="container-fluid">

<span>
	<img src="/ui/img/lock.png" height="15" width="auto" style="position:relative;top:-1px;"> <a href="https://thetyee.ca">
		The Tyee now available in https (click to redirect).
	</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<span> <a href="/story">Click here</a> to learn more about why.
</span>
</div>
</div>

<!-- END 02-organisms/sections/httpswarning -->