{% comment %} FEATURED STORY Section incl halfpage ad {% endcomment %}
<!--index-page__featured-story -->
<section class="index-page__featured-story {{ include.extension-class }}">
    <div class="row">
          <div class="col-12 col-md-8">
            {% include 01-molecules/blocks/story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home." story-badge="series" %}
          </div>
          
          <!--AD Halfpage. -->
          <div class="col-md-4 hidden-xs hidden-sm">
                {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--no-label index-list-spacing" ad-slot="ad-300x600" ad-source="" %}
          </div>
    </div>
</section>