{% comment %} FEATURED STORY Section for Events index page (no halfpage ad)
              This contains the current upcoming event.
              Elements of story-item.html are brought directly into this object so that
              bootstrap columns can be applied.
{% endcomment %}

<!--index-page__featured-story--evebts -->
<section class="index-page__featured-story story-item {{ include.extension-class }}">
    
    <div class="row">
        <div class="col-12 col-md-8">

            {% if include.story-badge != nil %}
                
                {% include 00-atoms/images/story-badge.html badge-position="badge--story-item-placement" story-badge=include.story-badge %}
            
            {% endif %}

            <a href="">{% include 00-atoms/images/image.html content-source=include.content-source %}</a>
        </div>

        <div class="col-12 col-md-4">
            <div class="story-item__description">
                <h5><a href="">{{ include.story-item-headline }}</a></h5>
                
                <p class="story-item--deck">{{ include.story-item-dek }}</p>
                
                <span class="story-item__author">J Alston-O'Connor &ensp;</span>
                <span class="story-item__date">30 Sept</span>
            </div>
        </div>
    </div>

</section>