<!-- Begin 02-organisms/sections/latest-stories -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->

<section class="section latest-stories" data-dev-object-descrip="02-organisms/sections/latest-stories" data-dev-status="IN-PROGRESS">

			<!-- Put the story list in here.
		Start from bootstrap’s default Media Object (if possible) ( http://getbootstrap.com/components/#media ) and then applying my atomic conventions.
		This object should default to its mobile-first stacked state and only become horizontal at higher breakpoints (see mockups for the 2 states). In mobile stacked state it should be limited to 3 items. In horizontal state it should show enough items to fill the viewport width, ideally with slider functionality to reveal more items.
		-->
		<ul class="latest-stories__media-wrapper row">
			<span class="chevron left"></span>
			<li class="media col-xs-12 col-sm-4 col-md-3 col-lg-2">
				{% include 01-molecules/blocks/latest-story-item.html %}
			</li>
			<li class="media col-xs-12 col-sm-4 col-md-3 col-lg-2">
				{% include 01-molecules/blocks/latest-story-item.html %}
			</li>
			<li class="media col-xs-12 col-sm-4 col-md-3 col-lg-2">
				{% include 01-molecules/blocks/latest-story-item.html %}
			</li>
			<li class="media col-xs-12 col-sm-4 col-md-3 col-lg-2 hidden-sm">
				{% include 01-molecules/blocks/latest-story-item.html %}
			</li>
			<li class="media col-xs-12 col-sm-4 col-md-3 col-lg-2 hidden-sm hidden-md">
				{% include 01-molecules/blocks/latest-story-item.html %}
			</li>
			<li class="media col-xs-12 col-sm-4 col-md-3 col-lg-2 hidden-sm hidden-md">
				{% include 01-molecules/blocks/latest-story-item.html %}
			</li>
			<span class="chevron right"></span>
		</ul>

		


</section>
<!-- END 02-organisms/sections/latest-stories -->