<!-- Begin 02-organisms/sections/latest-stories -->
<!-- This object will be used below the article body amd also as a dropdown in the primary nav -->

<section class="section latest-stories" data-dev-object-descrip="02-organisms/sections/latest-stories" data-dev-status="IN-PROGRESS">

			<!-- Put the story list in here.
		Start from bootstrap’s default Media Object (if possible) ( http://getbootstrap.com/components/#media ) and then applying my atomic conventions.
		This object should default to its mobile-first stacked state and only become horizontal at higher breakpoints (see mockups for the 2 states). In mobile stacked state it should be limited to 3 items. In horizontal state it should show enough items to fill the viewport width, ideally with slider functionality to reveal more items.
		-->
		<ul class="row">
			<li class="media col-md-3 col-sm-4 col-xs-12">
				<div class="media-left pull-left">
					<a href="#">
						<img class="media-object" src="/ui/img/placeholder.svg"/>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Title</h4>
					<p>Synopsis</p>
				</div>
			</li>
			<li class="media col-md-3 col-sm-4 col-xs-12">
				<div class="media-left pull-left">
					<a href="#">
						<img class="media-object" src="/ui/img/placeholder.svg"/>
					</a>
				</div>
				<div class="media-body">
					<h4>Title</h4>
					<p>Synopsis</p>
				</div>
			</li>
			<li class="media col-md-3 col-sm-4 col-xs-12">
				<div class="media-left pull-left">
					<a href="#">
						<img class="media-object" src="/ui/img/placeholder.svg"/>
					</a>
				</div>
				<div class="media-body">
					<h4>Title</h4>
					<p>Synopsis</p>
				</div>
			</li>
			<li class="media col-md-3 hidden-sm col-xs-12">
				<div class="media-left pull-left">
					<a href="#">
						<img class="media-object" src="/ui/img/placeholder.svg"/>
					</a>
				</div>
				<div class="media-body">
					<h4>Title</h4>
					<p>Synopsis</p>
				</div>
			
			</li>
		</ul>
		


</section>
<!-- END 02-organisms/sections/latest-stories -->