<section class="weekender-home-split">
    <div class="wrapper">
        <header>
            <h2>
                <img src="ui/img/weekender-logo.svg" alt="Weekender" width="300" height="63">
            </h2>
            
            <p>Creative Living + Lively Culture</p>
        </header>

        {% include 01-molecules/blocks/story-item--split-feature.html content-source="ui/img/PizzaHutCollage-1000.jpg" story-item-class="story-item-feature" story-item-category="analysis" story-item-headline="The Case of the Political Pizza Hut" story-item-dek="Every election, a candidate moves into this Burnaby landmark to run their campaign." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge=nil headline-position-x="right" %}

        {% include 01-molecules/blocks/homepg-story-item.html story-item-class="story-item--secondary story-2" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-badge="presents" %}

        {% include 01-molecules/blocks/homepg-story-item.html story-item-class="story-item--secondary story-3" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}

        {% include 01-molecules/blocks/homepg-story-item.html story-item-class="story-item--secondary story-4" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-badge="series" %}

        <a href="/Culture" class="button button--spanrow button--dark-bg">More Culture</a>        
    </div>
</section>
