<footer class="site-footer">
<div class="container">
	<div class="footer-one">
		<h4>Sections</h4>
		<ul>
			<li><a href="#">News</a></li>
			<li><a href="#">Culture</a></li>
			<li><a href="#">Opinion</a></li>
			<li><a href="#">National</a></li>
			<li><a href="#">Mediacheck</a></li>
			<li><a href="#">Solutions</a></li>
		</ul>
	</div>
	<div class="footer-two">
		<h4>Topics</h4>
		<ul>
			<li><a href="#">Aboriginal Affairs</a></li>
			<li><a href="#">BC Culture</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Energy</a></li>
			<li><a href="#">Environment</a></li>
			<li><a href="#">Federal Politics</a></li>
			<li><a href="#">Film</a></li>
			<li><a href="#">Food</a></li>
			<li><a href="#">Gender &amp; Sexuality</a></li>
			<li><a href="#">Health</a></li>
			<li><a href="#">Housing</a></li>
		</ul>
	</div>
	<div class="footer-three">
		<ul>
			<li><a href="#">Labour &amp; Industry</a></li>
			<li><a href="#">Local Economy</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Municipal Politics</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">Rights &amp; Justice</a></li>
			<li><a href="#">Science &amp; Tech</a></li>
			<li><a href="#">Transportation</a></li>
			<li><a href="#">Travel</a></li>
			<li><a href="#">Urban Planning &amp; Architecture</a></li>
		</ul>
	</div>
	<div class="footer-four">
		<h4>Your Account</h4>
		<ul>
			<li><a href="#">Follow the Tyee</a></li>
			<li><a href="#">Subscribe by email</a></li>
			<li><a href="#">Subscribe by RSS</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Email</a></li>
		</ul>
	</div>

    <p class="pull-right"><a href="#">Back to top</a></p>
        <p>{{ site.copyright }} &middot; <a href="{{ site.urls.privacy }}">Privacy</a> &middot; <a href="{{ site.urls.credits }}">Credits</a></p>
        <p><a href="{{ site.urls.github }}">{{ site.urls.display }}</a> v{{ site.version }}</p>
</div>
</footer>
