<!-- Begin molecules/messaging/alerts--browser-support -->

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<noscript id="js-warning" data-dev-object-descrip="molecules/messaging/alerts--browser-support" data-dev-status="IN-PROGRESS">
This page requires Javascript. Your browser either doesn't support JavaScript or you have it turned off. Please enable JavaScript before you proceed.
</noscript>


<!-- note sneaking this into includes/01-molecules/messaging/alerts--browser-support.html whereas it should be in 02-organisms/sections/httpswarning 
in the repo -- avoiding mass republish  -->

<div id="https" style="display:none;" class="[ container-fluid ]" data-dev-object-descrip="molecules/blocks/ad-banner">
<div class="container-fluid">

<span>
	<img src="/ui/img/lock.png" height="15" width="auto" style="position:relative;top:-1px;"> <a href="https://thetyee.ca">
		The Tyee now available in https (click to redirect).
	</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<span> <a href="/story">Click here</a> to learn more about why.
</span>
</div>
</div>
<script>
$(window).load(function(){

setTimeout(function() { showHttps(); }, 200);
setTimeout(function() { hideHttps(); }, 12000);

	
});
function hideHttps() {
	$("#https").hide("slow");
}
function showHttps() {
	$("#https").show("slow");
}

</script>
<!-- END 02-organisms/sections/httpswarning ( 01-molecules/messaging/alerts--browser-support.html actually)  -->
