<footer class="site-footer site-footer--homepage hmpg-org-wrapper">

  <a href="/" class="site-footer__logo-container"><img src="/design-article.thetyee.ca/ui/img/TheTYEE_Logo_Horiz_REV.svg" class="site-footer__logo" alt="Tyee logo" /></a>
  <div class="links-group">
    <h2>The Tyee</h2>
    <ul>
    <li><a href="/about_us">About The Tyee</a></li>
    <li><a href="/team/">The Tyee Team</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/About/Us/#independence">Funding</a></li>
    <li><a href="/Jobs/Intro">Jobs</a></li>
    <li><a href="https://thetyee.ca/privacy/">Privacy Policy</a></li>
    <li><a href="/About/Submissions/">Submissions</a></li>
    <li><a href="https://support.thetyee.ca?utm_campaign=footerplain">Support The Tyee</a></li>
    <li><a href="/About/Advertise/">Advertise</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Sections</h2>
    <ul>
    <li><a href="/News">News</a></li>
    <li><a href="/Analysis">Analysis</a></li>
    <li><a href="/Culture">Culture</a></li>
    <li><a href="/Opinion">Opinion</a></li>
    <li><a href="/National">National</a></li>
    <li><a href="/Solutions">Solutions</a></li>
    <li><a href="/Tyeenews/">Tyee News</a></li>
    <li><a href="/Archive/weekly">Weekly Archives</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Your Account</h2>
    <ul>
<li><strong><a href="https://account.thetyee.ca">Builder Account Login</a></strong></li>
    <li><a href="https://subscribe.thetyee.ca?utm_campaign=youraccountfoot">Subscribe by email</a></li>
    <li><a href="http://thetyee.ca/RSS/Defined/">Subscribe by RSS</a></li>
    </ul>
  </div>
  <div class="links-group social">
	  <ul>
    <li><a class="twitter" href="https://twitter.com/thetyee" title="Follow us on Twitter" aria-label="Follow us on Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
<li> 	<a class="mastodon" href="https://mstdn.ca/@thetyee" title="follow us on Mastodon"><i class="fab fa-brands fa-mastodon"></a></i></li>
<li> <a class="linkedin" href="https://ca.linkedin.com/company/the-tyee"><i class="fa-brands fab fa-linkedin"></i></li>
<li> <a class="tiktok" href="https://www.tiktok.com/@the_tyee?lang=en"><i class="fa-brands fab fa-tiktok"></i></li>
<li> <a class="apple" href="https://apple.news/T4zyX5MvRR6CB495e6dN6SQ"><img style="width:28px;" src="/ui/img/applenews-blk.png"></li> 
<li> <a class="bluseky" href="https://bsky.app/profile/thetyee.bsky.social"><img style="width:26px;" src="/ui/img/bluesky-white-small.png"></a></li>
 </ul>
  </div>

</footer>
