<footer class="new-site-footer new-site-footer--homepage new-hmpg-org-wrapper">

  <a href="{{ site.url }}" class="new-site-footer__logo-container"><img src="{{ site.url }}ui/img/tyee-logo-reversed.svg" class="new-site-footer__logo" alt="Tyee logo" /></a>
  <div class="new-links-group">
    <h2>The Tyee</h2>
 <a href="/About/Intro">About The Tyee</a>
    <a href="/About/Advertise/">Advertise</a>
    <a href="/About/Contact/">Contact</a>
    <a href="#">Funding</a>
    <a href="/Jobs/Intro">Jobs</a>
    <a href="https://subscribe.thetyee.ca/privacy/">Privacy Policy</a>
    <a href="/About/Submissions/">Submissions</a>
    <a href="https://support.thetyee.ca?utm_campaign=footerplain">Support The Tyee</a>
    <a href="/About/Advertise/">Advertise</a>
  </div>
  <div class="new-links-group">
    <h2>Articles</h2>
   <a href="/News">News</a>
    <a href="/Culture">Culture</a>
    <a href="/Opinion">Opinion</a>
    <a href="/National">National</a>
    <a href="/Mediacheck">Mediacheck</a>
    <a href="/Solutions">Solutions</a>
    <a href="/Video">Video</a>
    <a href="/About/Tyee-to-Print/">Publications</a>
    <a href="/Tyeenews/">Tyee News</a>
    <a href="/Archive/weekly">Weekly Archives</a>
  </div>
  <div class="new-links-group">
    <h2>Columns</h2>
   <a href="/Bios/Steve_Burgess">Steve Burgess</a>
    <a href="/Bios/Ian_Gill/">Ian Gill</a>
    <a href="/Bios/Crawford_Kilian">Crawford Kilian</a>
    <a href="/Bios/Andrew_Nikiforuk">Andrew Nikiforuk</a>
    <a href="/Bios/Dorothy_Woodend">Dorothy Woodend</a>
  </div>
  <div class="new-links-group">
    <h2>Your Account</h2>
  <a href="https://thetyee.ca/About/follow-the-tyee/">Follow The Tyee</a>
    <a href="https://subscribe.thetyee.ca?utm_campaign=youraccountfoot">Subscribe by email</a>
    <a href="http://thetyee.ca/RSS/Defined/">Subscribe by RSS</a>
  </div>
  <div class="new-links-group">
      <a class="facebook" href="https://facebook.com/thetyee"><i class="fa fa-facebook fa-lg"></i></a>
    <a class="twitter" href="https://twitter.com/thetyee"><i class="fa fa-twitter fa-lg"></i></a>
  </div>

</footer>
