<footer class="site-footer site-footer--homepage hmpg-org-wrapper">

  <a href="{{ site.url }}" class="site-footer__logo-container"><img src="{{ site.url }}ui/img/tyee-logo-reversed.svg" class="site-footer__logo" alt="Tyee logo" /></a>
  <div class="links-group">
    <h2>The Tyee</h2>
 <a href="/About/Intro">About The Tyee</a>
    <a href="/About/Advertise/">Advertise</a>
    <a href="/About/Contact/">Contact</a>
    <a href="/About/Us/#independence">Funding</a>
    <a href="/Jobs/Intro">Jobs</a>
    <a href="https://thetyee.ca/privacy/">Privacy Policy</a>
    <a href="/About/Submissions/">Submissions</a>
    <a href="https://support.thetyee.ca?utm_campaign=footerplain">Support The Tyee</a>
  </div>
  <div class="links-group">
    <h2>Articles</h2>
   <a href="/News">News</a>
    <a href="/Culture">Culture</a>
    <a href="/Opinion">Opinion</a>
    <a href="/National">National</a>
    <a href="/Mediacheck">Mediacheck</a>
    <a href="/Solutions">Solutions</a>
    <a href="/Video">Video</a>
    <a href="/About/Tyee-to-Print/">Publications</a>
    <a href="/Tyeenews/">Tyee News</a>
    <a href="/Archive/weekly">Weekly Archives</a>
  </div>
 
  <div class="links-group">
    <h2>Your Account</h2>
<a href="https://account.thetyee.ca">Log into your builder account</a>
  <a href="https://thetyee.ca/About/follow-the-tyee/">Follow The Tyee</a>
    <a href="https://subscribe.thetyee.ca?utm_campaign=youraccountfoot">Subscribe by email</a>
    <a href="http://thetyee.ca/RSS/Defined/">Subscribe by RSS</a>
  </div>
  <div class="links-group">
	  <ul>
    <li><a class="facebook" href="https://facebook.com/thetyee" title="Follow us on Facebook" aria-label="Follow us on Facebook"><i class="fab fa-facebook"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/thetyee" title="Follow us on Twitter" aria-label="Follow us on Twitter"><i class="fab fa-twitter"></i></a></li>
    <li><a class="instagram" href="https://www.instagram.com/thetyee/" title="Follow us on Instagram" aria-label="Follow us on Instagram"><i class="fab fa-instagram"></i></a></li>
	  </ul>
  </div>

</footer>
