<footer class="new-site-footer new-site-footer--homepage new-hmpg-org-wrapper">

  <a href="{{ site.url }}" class="new-site-footer__logo-container"><img src="{{ site.url }}ui/img/tyee-logo-reversed.svg" class="new-site-footer__logo" alt="Tyee logo" /></a>
  <div class="new-links-group">
    <h2>The Tyee</h2>
    <a href="#">About The Tyee</a>
    <a href="#">Advertise</a>
    <a href="#">Contact</a>
    <a href="#">Funding</a>
    <a href="#">Jobs</a>
    <a href="#">Master Classes</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Submissions</a>
    <a href="#">Support The Tyee</a>
    <a href="#">Advertise</a>
  </div>
  <div class="new-links-group">
    <h2>Articles</h2>
    <a href="#">News</a>
    <a href="#">Culture</a>
    <a href="#">Opinion</a>
    <a href="#">National</a>
    <a href="#">Mediacheck</a>
    <a href="#">Solutions</a>
    <a href="#">Video</a>
    <a href="#">Publications</a>
    <a href="#">Tyee News</a>
    <a href="#">Weekly Archives</a>
  </div>
  <div class="new-links-group">
    <h2>Columns</h2>
    <a href="#">Steve Burgess</a>
    <a href="#">Ian Gill</a>
    <a href="#">Crawford Killian</a>
    <a href="#">Andrew Nikiforuk</a>
    <a href="#">Dorothy Woodend</a>
  </div>
  <div class="new-links-group">
    <h2>Your Account</h2>
    <a href="#">Follow The Tyee</a>
    <a href="#">Subscribe by email</a>
    <a href="#">Subscribe by RSS</a>
  </div>
  <div class="new-links-group">
    <a class="facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a>
    <a class="twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a>
  </div>

</footer>
