<footer class="site-footer site-footer-IE">
	<div class="container">

			<ul class="footer__menu col-sm-9 col-md-10">
				<li><a href="#">Subscribe</a></li>
				<li><a href="#">Advertise</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#" class="">{% include 00-atoms/images/dollar-heart-icon.html %}<span>Join</span></a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="footer__social-links [ col-xs-12 col-sm-3 col-md-2 ]">
				<li class="[ col-xs-6 col-sm-6 col-md-6 ]"><a class="facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
				<li class=" [ col-xs-6 col-sm-6 col-md-6 ]"><a class="twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
			</ul>

	</div>
</footer>
