<footer class="site-footer site-footer--homepage hmpg-org-wrapper">

  <a href="/" class="site-footer__logo-container"><img src="/design-article.thetyee.ca/ui/img/tyee-logo-reversed.svg" class="site-footer__logo" alt="Tyee logo" /></a>
  <div class="links-group">
    <h2>The Tyee</h2>
    <a href="/About/Intro">About The Tyee</a>
    <a href="/About/Advertise/">Advertise</a>
    <a href="/About/Contact/">Contact</a>
    <a href="/About/Us/#independence">Funding</a>
    <a href="/Jobs/Intro">Jobs</a>
    <a href="https://subscribe.thetyee.ca/privacy/">Privacy Policy</a>
    <a href="/About/Submissions/">Submissions</a>
    <a href="https://support.thetyee.ca?utm_campaign=footerplain">Support The Tyee</a>
  </div>
  <div class="links-group">
    <h2>Articles</h2>
    <a href="/News">News</a>
    <a href="/Culture">Culture</a>
    <a href="/Opinion">Opinion</a>
    <a href="/National">National</a>
    <a href="/Mediacheck">Mediacheck</a>
    <a href="/Solutions">Solutions</a>
    <a href="/Video">Video</a>
    <a href="/About/Tyee-to-Print/">Publications</a>
    <a href="/Tyeenews/">Tyee News</a>
    <a href="/Archive/weekly">Weekly Archives</a>
  </div>
   <div class="links-group">
    <h2>Your Account</h2>
    <a href="https://subscribe.thetyee.ca?utm_campaign=youraccountfoot">Subscribe by email</a>
    <a href="http://thetyee.ca/RSS/Defined/">Subscribe by RSS</a>
  </div>
  <div class="links-group">
    <a class="facebook" href="https://facebook.com/thetyee"><i class="fa fa-facebook fa-lg"></i></a>
    <a class="twitter" href="https://twitter.com/thetyee"><i class="fa fa-twitter fa-lg"></i></a>
  </div>

</footer>
