<footer class="site-footer site-footer--homepage hmpg-org-wrapper">

  <a href="{{ site.url }}" class="site-footer__logo-container"><img src="{{ site.url }}ui/img/tyee-logo-reversed.svg" class="site-footer__logo" alt="Tyee logo" /></a>
  <div class="links-group">
    <h2>The Tyee</h2>
    <ul>
    <li><a href="#">About The Tyee</a></li>
    <li><a href="#">Advertise</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Funding</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Master Classes</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Submissions</a></li>
    <li><a href="#">Support The Tyee</a></li>
    <li><a href="#">Advertise</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Articles</h2>
    <ul>
    <li><a href="#">News</a></li>
    <li><a href="#">Culture</a></li>
    <li><a href="#">Opinion</a></li>
    <li><a href="#">National</a></li>
    <li><a href="#">Mediacheck</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Publications</a></li>
    <li><a href="#">Tyee News</a></li>
    <li><a href="#">Weekly Archives</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Columns</h2>
    <ul>
    <li><a href="#">Steve Burgess</a></li>
    <li><a href="#">Ian Gill</a></li>
    <li><a href="#">Crawford Killian</a></li>
    <li><a href="#">Andrew Nikiforuk</a></li>
    <li><a href="#">Dorothy Woodend</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Your Account</h2>
    <ul>
    <li><a href="#">Follow The Tyee</a></li>
    <li><a href="#">Subscribe by email</a></li>
    <li><a href="#">Subscribe by RSS</a></li>
    </ul>
  </div>
  <div class="links-group">
	  <ul>
    <li><a class="facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li><a class="twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
	  </ul>
  </div>

</footer>
