<!-- organisms/global/HEADER--HOMEPAGE -->
<header class="new-site-header new-site-header--homepage">

  <!--Site Header Logo Block -->
  <div class="new-site-header__logo-block-wrapper">
  <!-- include 01-molecules/messaging/highlight-bar.html %} -->
  <div class="new-site-header__logo-block"> <!-- add class 'scroll' for compact sticky version -->
	    <!--site tagline A -->
	    <div class="new-site-header__tagline new-site-header__tagline--a">
		    Independent<br />
			journalism that swims<br />
			 against the current.
	    </div>

	    <!--logo -->
	    <!-- NEW LIVE SOURCE IS <img src="{{ site.url }}ui/img/thetyee.svg" class="new-site-header__logo-img" id="new-site-logo" alt="Tyee logo" /> -->
	    <div class="new-site-header__logo">
	      <a href="#"><img src="http://thetyee.github.io/design-article.thetyee.ca/ui/img/thetyee.svg" class="new-site-header__logo-img" id="new-site-logo" alt="Tyee logo" /></a>
	      <!--site mobile tagline CTA -->
	    </div>
	    
	    <div class="new-site-header__buttons"> 
		    <a href="https://support.thetyee.ca/" class="yellow"><i class="fas fa-heart" aria-hidden="true"></i> support<span> us</span></a>
		    <a href="https://subscribe.thetyee.ca/?utm_campaign=new_head/" class="black hide-on-phone"><i class="fas fa-envelope" aria-hidden="true"></i> subscribe<span> free</span></a>
	    </div>
	
	    <!--site tagline B .new-site-header__tagline--b deprecated -->
	    <div class="new-site-header__menu-toggle">
			<label for="new-expander--nav-menu" class="new-nav__link new-nav__burger new-site-nav-main__expander-toggle"><i class="fas fa-bars"></i></label>
	    </div>
	</div> <!--end of Site Header Logo Block -->
  </div>
	
    <!-- SITE NAV MENU -->
    <nav id="new-site-navigation" class="new-site-nav new-site-nav-main">
      <!-- MENU -- EXPANDER input checkbox toggle -->
      <input type="checkbox" id="new-expander--nav-menu" style="display: none;">
      <!-- MENU -- BURGER for narrow views -->
<!--       <label for="new-expander--nav-menu" class="new-nav__link new-nav__burger new-site-nav-main__expander-toggle">Menu</label> -->

      <!-- MENU -- FULL BAR for wide views -->
      <ul id="nav-bar">
      	<li><a class="nav-bar__link--news"href="/News">News</a></li>
	  	<li><a class="nav-bar__link--analysis"href="/Analysis">Analysis</a></li>
	  	<li><a class="nav-bar__link--culture"href="/Culture">Culture</a></li>
	  	<li><a class="nav-bar__link--solutions"href="/Solutions">Solutions</a></li>
	  	<li><label for="new-expander--nav-menu" class="nav-bar__link--more new-site-nav-main__expander-toggle">More</label></li> <!-- MENU more expander -->
	  	<li><a class="nav-bar__link--join new-btn-join" href="https://support.thetyee.ca/?utm_campaign=mbar">Support Us</a></li>
	  	<li><label for="new-expander--nav-menu" class="nav-bar__link--search">Search <i class="fas fa-search"></i></label></li> <!-- SEARCH expander -->
      </ul>
      <!-- SEARCH -- EXPANDER input checkbox toggle -->
      
           

      <!-- MENU -- EXPANDER dropdown -->
      <div class="new-site-nav__dropdown">
          <!-- SEARCH  -->
          <div class="new-site-nav__search-dropdown">
            <form id="new-search-form" class="new-site-nav__search-form" method="get" role="search" action="/Newsearch">
              <input id="new-search-form-input" type="text" class="form-control form-text" placeholder="Search" name="q">
              <input type="hidden" name="domains" value="thetyee.ca">
              <input type="hidden" name="sitesearch" value="thetyee.ca" checked="checked">
              <input type="hidden" name="client" value="pub-2188005021510640">
              <input type="hidden" name="forid" value="1">
              <input type="hidden" name="ie" value="UTF-8">
              <input type="hidden" name="oe" value="UTF-8">
              <input type="hidden" name="hl" value="en">
              <button type="submit" class="button new-site-nav__search-form-button">Search</button>
            </form>
          </div> <!-- end of Search  -->
          <!-- SECTION SUBMENU -->
          <!-- expander input checkbox toggle for section submenu -->
          <input type="checkbox" id="new-expander--nav-menu-section-submenu" style="display: none;">
          <label for="new-expander--nav-menu-section-submenu" class="new-site-nav__dropdown-heading new-site-nav__dropdown-heading-sections new-site-nav__dropdown-expander-toggle ">Sections</label>
          <!-- section submenu content -->
          <div class="new-expander-content new-expander-content__section-submenu">
	          <ul>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section "href="/News">News</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="/Analysis">Analysis</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="/Culture">Culture</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="/National">National</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="/Solutions">Solutions</a></li>
	          </ul>
          </div>
          <!-- TOPICS SUBMENU -->
          <!-- expander input checkbox toggle for Topics submenu -->
          <input type="checkbox" id="new-expander--nav-menu-topics-submenu" style="display: none;">
          <label for="new-expander--nav-menu-topics-submenu" class="new-site-nav__dropdown-heading new-site-nav__dropdown-heading-topics new-site-nav__dropdown-expander-toggle ">Topics</label>
          <!-- Topics submenu content -->
          <div class="new-expander-content new-expander-content__topics-submenu">
            <ul>
	            
<li><a class="nav__link nav__link--dropdown-item"href="/Topic/BC-Politics">BC Politics</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Education">Education</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Energy">Energy</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Environment">Environment</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Federal-Politics">Federal Politics</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Film">Film</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Food/">Food</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/GenderSexuality/">Gender & Sexuality</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Health/">Health</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Housing/">Housing</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/LabourIndustry/">Labour & Industry</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Indigenous-Affairs">Indigenous</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Municipal-Politics">Municipal Politics</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Music">Music</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/RightsJustice">Rights & Justice</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/ScienceTech">Science & Tech</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Transportation/">Transportation</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/Travel/">Travel</a></li>
            <li><a class="nav__link nav__link--dropdown-item"href="/Topic/PlanningArch">Urban Planning & Architecture</a></li>
	          </ul>
          </div>
          <!-- MORE SUBMENU -->
          <!-- expander input checkbox toggle for More submenu -->
          <input type="checkbox" id="new-expander--nav-menu-more-submenu" style="display: none;">
          <label for="new-expander--nav-menu-more-submenu" class="new-site-nav__dropdown-heading new-site-nav__dropdown-heading-more new-site-nav__dropdown-expander-toggle ">More</label>
          <!-- More submenu content -->
          <div class="new-expander-content new-expander-content__more-submenu">
	          <ul>
		         <li><a class="nav__link nav__link--dropdown-item" href="https://support.thetyee.ca/?utm_campaign=more_menu">Support The Tyee</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/About/Advertise/">Advertise</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/About/Us/">About Us</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/Polls">The Barometer</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/About/Contact/">Contact</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/About/Funding/">Funding</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/Jobs/Intro/">Jobs</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="https://subscribe.thetyee.ca/?utm_campaign=menu">Newsletter</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="http://subscribe.thetyee.ca/privacy/">Privacy Policy</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/About/Submissions/">Submissions</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="https://support.thetyee.ca?utm_campaign=menusupport">Support The Tyee</a></li>
          <li><a class="nav__link nav__link--dropdown-item" href="/Archive/weekly/">Weekly Archives</a></li>
          	</ul>
          </div>
          <!-- misc new-nav -->
          <a class="new-nav__link new-nav__link--join new-btn-join" href="#">Support Us</a>
          <a class="new-nav__link new-nav__link--newsletter"href="https://subscribe.thetyee.ca?utm_campaign=navm">Newsletter</a>
          <a class="new-nav__link new-facebook" href="https://facebook.com/thetyee"><i class="fab fa-facebook fa-lg"></i></a>
          <a class="new-nav__link new-twitter" href="https://twitter.com/thetyee"><i class="fab fa-twitter fa-lg"></i></a>
          	
      </div> <!-- end of Site-Nav Dropdown -->

    </nav> <!-- end of Site Navigation --> 

</header>
