<!-- Begin organisms/global/header -->

<header class="site__header" data-dev-object-descrip="organisms/global/header" data-dev-status="IN-PROGRESS">
        <?php  include($gitrootinc ."01-molecules/navigation/primary-nav.html")?>
</header>
<br>
<header style="background: #041e41;" class="electionbuildermobile hidden-large hidden-xl hidden-md hidden-lg hidden-sm">
        
        
<center>
        <a href="https://support.thetyee.ca/">
<img src="/ui/img/mobilebalance.png" style="max-width: 100%;">
</a>
</center>
</header>