<!-- organisms/global/HEADER--HOMEPAGE -->
<header class="site-header site-header--homepage hmpg-org-wrapper">

  <!--Site Header Logo Block -->
  <div class="site-header__logo-block">

    <!--site tagline A -->
    <div class="site-header__tagline site-header__tagline--a">
      We value: Our readers.<br>
      Our independence. Our region.<br>
      The power of real journalism.
    </div>

    <!--logo -->
    <a class="site-header__logo" href="/"><img src="{{ site.url }}ui/img/tyee_logo.png" class="narrow-menu__logo" id="site-logo" alt="Tyee logo" /></a>

    <!--site tagline B -->
    <div class="site-header__tagline site-header__tagline--b">
      Please receive our <a href="/">e-headlines</a><br>for free. Or consider becoming<br>a <a href="/">Tyee Builder</a>.
    </div>

    <nav id="site-navigation" class="site-nav site-nav--main">
      <input type="checkbox" id="expander--nav-menu" style="display: none;">
      <label for="expander--nav-menu" class="nav__link nav__burger nav--expander-toggle"><div>Menu</div></label>
      <a class="nav__link nav__link--news"href="#">News</a>
      <a class="nav__link nav__link--analysis"href="#">Analysis</a>
      <a class="nav__link nav__link--culture"href="#">Culture</a>
      <!-- MENU EXPANDER -- More dropdown -->
      <label for="expander--nav-menu" class="nav__link nav--expander-toggle">More {% include 00-atoms/images/icon-arrow-toggle-down.html %}</label>

      <a class="nav__link nav__link--join btn-join" href="#">{% include 00-atoms/images/dollar-heart-icon.html %}<span>Join</span></a>

      <a class="nav__link nav__link--search nav__link--dropdown" href="#" role="button" aria-haspopup="true">{% include 00-atoms/images/icon-search.html %}<span class="search-text">Search</span> </a>
      <div class="site--wide-more-dropdown">
        More nav items galore!! Massive dropdown! Map of the universe!
      </div>

    </nav>


  </div> <!--end of Site Header Logo Block -->

</header>
