    <!-- organisms/global/HEADER--HOMEPAGE -->
<header class="site-header site-header--homepage hmpg-org-wrapper">
<!--Site Header Logo Block -->
  <div class="site-header__logo-block">
    <!--site tagline A -->
<div class="site-header__tagline site-header__tagline--a">
      We value: <a href="/About/Us/#readers">Our readers.</a><br>
      <a href="/About/Us/#independence">Our independence</a>. <a href="/About/Us/#region">Our region</a>.<br>
      The <a href="/About/Us/#power">power</a> of <a href="/About/Us/#real">real journalism</a>
    </div>
    <!--logo -->
    <div class="site-header__logo">
      <a href="/"><img src="/design-article.thetyee.ca/ui/img/Tyee-logo--webhead.svg" class="site-header__logo-img" id="site-logo" alt="Tyee logo" /></a>
      <!--site mobile tagline CTA -->
      <div class="site-header__tagline site-header__tagline--mobile">
        <a href="https://support.thetyee.ca/?utm_campaign=navhead">Help pay for our reporting.</a>
      </div>
    </div>

    <!--site tagline B -->
    <div class="site-header__tagline site-header__tagline--b">
      We're reader supported.<br>
      Get our <a href="https://subscribe.thetyee.ca/?utm_campaign_new_head">newsletter</a> free.<br>
      <a href="https://support.thetyee.ca/?utm_campaign=help_pay_nav">Help pay for our reporting.</a>
    </div>

    <!-- SITE NAV MENU -->
    <nav id="site-navigation" class="site-nav site-nav-main">
      <!-- MENU -- EXPANDER input checkbox toggle -->
      <input type="checkbox" id="expander--nav-menu" style="display: none;">
      <!-- MENU -- BURGER for narrow views -->
      <label for="expander--nav-menu" class="nav__link nav__burger site-nav-main__expander-toggle">Menu</label>

      <!-- MENU -- FULL BAR for wide views -->
      <a class="nav__link nav__link--news"href="/News/">News</a>
      <a class="nav__link nav__link--analysis"href="/Analysis">Analysis</a>
      <a class="nav__link nav__link--culture"href="/Culture">Culture</a>
      <label for="expander--nav-menu" class="nav__link nav__link--more site-nav-main__expander-toggle">More</label> <!-- MENU more expander -->
      <a class="nav__link nav__link--join btn-join" href="https://support.thetyee.ca/?utm_campaign=menu">Support Us</a>


      <!-- SEARCH -- EXPANDER input checkbox toggle -->
      <label for="expander--nav-menu" class="nav__link nav__link--search">Search</label> <!-- SEARCH expander -->


      <!-- MENU -- EXPANDER dropdown -->
      <div class="site-nav__dropdown">
          <!-- SEARCH  -->
          <div class="site-nav__search-dropdown">
            <form id="search-form" class="site-nav__search-form" method="get" role="search" action="/Newsearch">
              <input id="search-form-input" type="text" class="form-control form-text" placeholder="Search" name="q">
              <input type="hidden" name="domains" value="thetyee.ca">
              <input type="hidden" name="sitesearch" value="thetyee.ca" checked="checked">
              <input type="hidden" name="client" value="pub-2188005021510640">
              <input type="hidden" name="forid" value="1">
              <input type="hidden" name="ie" value="UTF-8">
              <input type="hidden" name="oe" value="UTF-8">
              <input type="hidden" name="hl" value="en">
              <button type="submit" class="button site-nav__search-form-button">Search</button>
            </form>
          </div> <!-- end of Search  -->
          <!-- SECTION SUBMENU -->
          <!-- expander input checkbox toggle for section submenu -->
          <input type="checkbox" id="expander--nav-menu-section-submenu" style="display: none;">
          <label for="expander--nav-menu-section-submenu" class="site-nav__dropdown-heading site-nav__dropdown-heading-sections site-nav__dropdown-expander-toggle ">Sections</label>
          <!-- section submenu content -->
          <div class="expander-content expander-content__section-submenu">
            <a class="nav__link nav__link--dropdown-item nav__link--dropdown-item-section "href="/News">News</a>
            <a class="nav__link nav__link--dropdown-item nav__link--dropdown-item-section"href="/Analysis">Analysis</a>
            <a class="nav__link nav__link--dropdown-item nav__link--dropdown-item-section"href="/Culture">Culture</a>
            <a class="nav__link nav__link--dropdown-item nav__link--dropdown-item-section"href="/National">National</a>
            <a class="nav__link nav__link--dropdown-item nav__link--dropdown-item-section"href="/Solutions">Solutions</a>
          </div>
          <!-- TOPICS SUBMENU -->
          <!-- expander input checkbox toggle for Topics submenu -->
          <input type="checkbox" id="expander--nav-menu-topics-submenu" style="display: none;">
          <label for="expander--nav-menu-topics-submenu" class="site-nav__dropdown-heading site-nav__dropdown-heading-topics site-nav__dropdown-expander-toggle ">Topics</label>
          <!-- Topics submenu content -->
          <div class="expander-content expander-content__topics-submenu">
            <a class="nav__link nav__link--dropdown-item"href="/BC-Politics">BC Politics</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Education">Education</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Energy">Energy</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Environment">Environment</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Federal-Politics">Federal Politics</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Film">Film</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Food/">Food</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/GenderSexuality/">Gender & Sexuality</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Health/">Health</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Housing/">Housing</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/LabourIndustry/">Labour & Industry</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Indigenous-Affairs">Indigenous Affairs</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Local-Media">Local Media</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Municipal-Politics">Municipal Politics</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Music">Music</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/RightsJustice">Rights & Justice</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/ScienceTech">Science & Tech</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Transportation/">Transportation</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/Travel/">Travel</a>
            <a class="nav__link nav__link--dropdown-item"href="/Topic/PlanningArch">Urban Planning & Architecture</a>
          </div>
          <!-- MORE SUBMENU -->
          <!-- expander input checkbox toggle for More submenu -->
          <input type="checkbox" id="expander--nav-menu-more-submenu" style="display: none;">
          <label for="expander--nav-menu-more-submenu" class="site-nav__dropdown-heading site-nav__dropdown-heading-more site-nav__dropdown-expander-toggle ">More</label>
          <!-- More submenu content -->
          <div class="expander-content expander-content__more-submenu">
          <a class="nav__link nav__link--dropdown-item" href="/About/Advertise/">Advertise</a>
          <a class="nav__link nav__link--dropdown-item" href="/About/Us/">About Us</a>
          <a class="nav__link nav__link--dropdown-item" href="/Polls">The Barometer</a>
          <a class="nav__link nav__link--dropdown-item" href="/About/Contact/">Contact</a>
          <a class="nav__link nav__link--dropdown-item" href="/Contributors/indexA.html">Contributors</a>
          <a class="nav__link nav__link--dropdown-item" href="/About/Funding/">Funding</a>
          <a class="nav__link nav__link--dropdown-item" href="/Jobs/Intro/">Jobs</a>
          <a class="nav__link nav__link--dropdown-item" href="/About/Events/">Events</a>
          <a class="nav__link nav__link--dropdown-item" href="https://subscribe.thetyee.ca/?utm_campaign=menu">Newsletter</a>
          <a class="nav__link nav__link--dropdown-item" href="http://subscribe.thetyee.ca/privacy/">Privacy Policy</a>
          <a class="nav__link nav__link--dropdown-item" href="/About/Submissions/">Submissions</a>
          <a class="nav__link nav__link--dropdown-item" href="https://support.thetyee.ca?utm_campaign=menusupport">Support The Tyee</a>
          <a class="nav__link nav__link--dropdown-item" href="/Archive/weekly/">Weekly Archives</a>
          </div>
          <!-- misc nav -->
          <a class="nav__link nav__link--join btn-join" href="https://support.thetyee.ca?utm_campaign=navmisc">Support Us</a>
          <a class="nav__link nav__link--newsletter"href="https://subscribe.thetyee.ca/?utm_campaign=navmisc">Newsletter</a>
          <a class="nav__link facebook" href="https://facebook.com/TheTyee"><i class="fa fa-facebook fa-lg"></i></a>
          <a class="nav__link twitter" href="https://twitter.com/thetyee/"><i class="fa fa-twitter fa-lg"></i></a>
      </div> <!-- end of Site-Nav Dropdown -->

    </nav> <!-- end of Site Navigation -->

  </div> <!--end of Site Header Logo Block -->
</header>
