<!-- 00-atoms/images/image -->
{% comment %}
Just a plain ol image. This will be called from within a figure object or an aside object. When calling the include use the parameter content-source to specify the url of the image. E.g:
	[% include 00-atoms/images/image.html content-source="http://baconmockup.com/300/200" %]
	OR
	[% include 00-atoms/images/image.html content-source=include.content-source %] if passing on a parameter from a parent include
-->
{% endcomment %}
<img src='{{ site.url }}{{ include.content-source }}' class="responsive-img" alt="image atom"/>
