<!-- Begin 01-molecules/blocks/ad-box -->
<!-- Set the parameter ad-position="ad-box--halfpage" if this ad is a half-page in the featured-media section -->
{% comment %}
<!-- Ad-box is bigbox by default. bigbox ads get marked up within the article__body. They can be included like this: 
            [% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox" ad-source="VFF-bigbox.gif" %]
     There is also a half-page ad format. Halfpage ads are marked up within the featured-media section and they
        are only visible on the widest screens. To include them just change the ad-size parameter:
            [% include 01-molecules/blocks/ad-box.html ad-size="ad-box--halfpage" ad-source="" %] -->
{% endcomment %}

<aside class="ad-box {{ include.ad-size}}" data-dev-object-descrip="01-molecules/blocks/ad-box" data-dev-status="IN-PROGRESS">
    <div class="advertisement" id="{{ include.ad-slot }}" style="text-align:center">
    </div>
</aside>

<!-- END 01-molecules/blocks/ad-box -->
