<!-- BEGIN 01-molecules/blocks/fact-box -->
{% comment %}
<!-- The fact appears at the bottom of the article by default, but appears in the sidebar in wider viewports. This is done by marking up the fact-box twice (at both in the aside and also at the bottom of the main text column) and then display visibility of one or the other is determined by css according to view width.
    The additional .hide-on-narrow-vp class gets applied to the containing 
    <aside> so that its margin doesn't cut into the the text column when
    the fact box is hidden. (This ugly class could probably be eliminated if 
    asides were simply a class rather than a container, or if an aside's 
    margins were applied to it's contents instead of the container itself.)

    In default (narrow) viewports there should be the option of putting an anchor text-link within the article body text so that readers can easily get down the page to the fact-box. E.g:
	    <a href="#fact-box-1" class="fact-box__anchor-link">Inline link to fact box.</a>
    ... as seen in the atom fact-box-anchor-link.html which can be embedded into the paragraph.html atom.
    This link will be set to display:none in wider viewports. 
    There is empty <span id="fact-box-1"></span> at the bottom of the article__body to serve as the destination anchor for this link. (Assign #fact-box-1 to the fact-box object itself wouldn't work because the html for this object appears in 2 locations on the page.)
    
    ++++++++++++++++++++++++++++++++
    You must set a fact-box__content parameter and a fact-box__title parameter (if your fact-box needs a title). fact-box__content should be written in html (e.g. text should be within <p> tags), but all quote marks must be escaped like this: \" otherwise Jeckyll won't compile properly.
    ++++++++++++++++++++++++++++++++
-->
{% endcomment %}

<div class="fact-box {{ include.object-class }} data-dev-object-descrip="01-molecules/blocks/fact-box" data-dev-status="IN-PROGRESS">

    <h4 class="title">{{ include.fact-box__title }}</h4>
        
    {{ include.fact-box__content }}

</div>

<!-- END 01-molecules/blocks/fact-box -->

