<!-- BEGIN 01-molecules/blocks/fact-box -->
{% comment %}
<!-- The fact appears at the bottom of the article by default, but appears 
    in the sidebar in wider viewports. This is done by changing the .fact-box 
    display property based on location/context and viewport width. 
    The additional .hide-on-narrow-vp class gets applied to the containing 
    <aside> so that its margin doesn't cut into the the text column when
    the fact box is hidden. (This ugly class could probably be eliminated if 
    asides were simply a class rather than a container, or if an aside's 
    margins were applied to it's contents instead of the container itself.)
-->
{% endcomment %}

<div class="fact-box accent-color--border" data-dev-object-descrip="01-molecules/blocks/fact-box" data-dev-status="IN-PROGRESS">

	<h4 class="title">UNDERGROUND GAS STORAGE: A LEGACY OF LEAKS</h4>
        
    <p>The gas storage industry, now 90 years old, has experienced lots of gas migration problems and its facilities "can create a serious risk of explosions and risks especially when located in urban settings," say the petroleum experts who authored <em>Gas Migration</em>.</p>
    <p>Leaks occur through faults, wells and cracks in cap rock. Operators <a href="http://www.co2captureproject.org/viewresult.php?downid=190">admit</a> that during the 50-year life of any operation, methane will leak and erupt into aquifers, soils and the atmosphere. </p>
    <p>Decades ago, scientists compared storing methane underground (the gas is lighter than air) to building a room for a bunch of feral cats all trying to escape.</p>
    <p>The following incidents illustrate that the Aliso Canyon disaster represents just one of the hazards of injecting and storing gases underground. </p>
    <p><a href="http://www.chron.com/news/houston-texas/article/Valve-failure-sends-flames-into-sky-at-Moss-Bluff-1969876.php">Moss Bluff, Texas, 2004:</a> An explosion at this facility north of Houston lit up the sky with 200-foot flames and damaged a wellhead. As a result, the facility released nearly $30-million worth of methane into the atmosphere. More than 100 local residents were evacuated.</p>
    <p><a href="http://www.kansas.com/news/article1071558.html">Yaggy Facility, Kansas, 2001:</a> Natural gas escaped from this facility via fractures in the ground and then travelled seven kilometres underground, only to surface in abandoned brine wells in the middle of Hutchinson, Kansas. Fires and explosions destroyed part of the city and killed two people.</p>
    <p><a href="http://articles.latimes.com/1990-08-05/news/we-133_1_underground-natural-gas-storage">Playa Del Rey Gas Storage, California, 1990s:</a> Methane from this 1943 facility leaked and strayed into a nearby oil field. By the 1950s, the facility was bleeding nearly 25 per cent of its injected gas into the adjoining oil field. Landowners have complained about noxious gas pollution for years. In the 1990s, the operator vented 300,000 cubic feet of gas into the atmosphere a month. </p>
    <p><a href="http://articles.latimes.com/1986-12-21/news/hd-3856_1_gas-leak">Montebello Facility, California, 1980s:</a> This California oil field was first filled with gas in the 1960s but started leaking in the 1980s as high-pressured gas injections caused fractures. Gas leaked into a housing development. The operator tore down several homes and later replugged some abandoned wells.</p>
    <p><strong>Mont Belvieu, Texas, 1980</strong>: After a major expansion in the 1970s of this storage facility near Houston, gas and other hydrocarbons started to migrate into people's homes, causing explosions. One gas leak prompted the evacuation of 50 families. Leaks became so prevalent, <a href="http://www.nytimes.com/1988/11/28/us/chemicals-in-salt-caverns-hold-pain-for-texas-town.html">reported</a> the New York Times, "that in early 1986 the city sent a message to potential newcomers to this town 35 miles northeast of Houston, saying they faced 'serious danger and possible death' if they moved to the main part of town." Petrochemical companies eventually relocated hundreds of homeowners.</p>
    <p><strong>Leroy Gas Storage Facility, Wyoming, 1978:</strong> This project located northeast of Salt Lake City was first filled with gas in 1972. Six years later, the methane travelled through fractures and cap rock and bubbled up in nearby creek. After substantial gas losses the company reduced the pressure in the facility to stop the methane bleeding.</p>
    <p>-- <em>Andrew Nikiforuk</em></p>

</div>

<!-- END 01-molecules/blocks/fact-box -->

