<!-- Begin 01-molecules/blocks/figure -->
{% comment %}
<!-- The figure object is a block for supporting content that is directly related to the main textual flow. It can contain any of the media atoms or any other objects that are appropriate figure contents ( https://www.w3.org/wiki/HTML/Elements/figure ). It will also typically contain a caption describing its content.
All media within an article body should be included from within either a figure object or an aside object.

The figure object will appear within the main content flow on all viewports.  

Modify this object with .figure--XL to produce an extra-wide object that breaks out of the text column in larger viewports.

HOW TO INCLUDE THIS FIGURE OBJECT
---------------------------------
Use the figure-contents parameter to specify the path of its contained media object molecule. Like this: 
	[% include 01-molecules/blocks/figure.html figure-contents="00-atoms/images/image" %]

You can also specify a caption string and a content-source parameter if the media object molecule requires it. Like this:
	[% include 01-molecules/blocks/figure.html figure-contents="00-atoms/images/image" figure-caption="Caption text goes here" content-source="http://baconmockup.com/300/200" %]
-->
{% endcomment %}

<figure class="figure" data-dev-object-descrip="01-molecules/blocks/figure" data-dev-status="IN-PROGRESS">
	{% include {{ include.figure-contents }}.html content-source=include.content-source %}
	<figcaption class="caption">{{ include.figure-caption }}{% comment %} Figure content is {{ include.figure-contents }}. Content source is {{ include.content-source }}{% endcomment %}</figcaption>
</figure>
<!-- END 01-molecules/blocks/figure -->

