<aside class="house-ad story-item--index-page story-item--secondary">
	<div>
	  <figure>
		   <a href="https://support.thetyee.ca/?utm_source=house_hp"><img src="/design-article.thetyee.ca/ui/img/tote_bag_redo.png" alt="Builder tote"/></a>
	  </figure>
		<h2 class="ad__headline"><a href="https://support.thetyee.ca/?utm_source=house_hp">Canada needs more independent media. Join us.</a></h2>
		<p>The Tyee is a non-profit, reader-supported publication.</p>
	  <a href="https://support.thetyee.ca/?utm_source=house_hp" class="house-ad--button">Sign up now.</a>
	</div>
</aside>
