<!-- BEGIN 01-molecules/blocks/latest-story-item -->
<a href="#">
	<div class="media-image col-sm-12 col-xs-4">
		<img class="media-object" src="<?=$wwwroot?>/ui/img/placeholder.svg"/>
	</div>
	<div class="media-body col-sm-12 col-xs-8">
		<h4 class="hed_preload_placeholder latest-stories__hed"></h4>
		<p class="dek_preload_placeholder latest-stories__dek"></p>
	</div>
	<div class="media-meta">
		<span class="latest-stories__date hidden-xs"></span>
		<span class="latest-stories__authour hidden-xs"></span>
	</div>
</a>

<!-- END 01-molecules/blocks/story-item -->