<!-- BEGIN 01-molecules/blocks/messaging-block--share -->
<section class="messaging-block" data-dev-object-descrip="01-molecules/blocks/messaging-block--share" data-dev-status="IN-PROGRESS">
<h3>Share this Article</h3>
<div class="tool-bar clearfix" data-dev-object-descrip="USES CODE FROM: molecules/blocks/tool-bar" data-dev-status="IN-PROGRESS">
	<ul class="clearfix">
		<li><button type="button" class="btn btn-default btn-facebook">
			  <span class="fa fa-facebook" aria-hidden="true"></span> Share on Facebook
			</button></li>
		<li><button type="button" class="btn btn-default btn-twitter">
			  <span class="fa fa-twitter" aria-hidden="true"></span> Share on Twitter
			</button></li>
		<li><button type="button" class="btn btn-default btn-email">
			  <span class="fa fa-envelope" aria-hidden="true"></span>
			</button></li>
	</ul>
</section>
<!-- END 01-molecules/blocks/messaging-block--share -->