<!-- BEGIN 01-molecules/blocks/messaging-block--builder -->

<section class="article-footer--builder-ask">

<h2>Quality journalism doesn't just happen.</h2>

<p>The Tyee is proud to be a reader-funded publication. Every day, we publish original stories about topics that matter. No junk, just good journalism is our motto.</p>

<p>Original news reporting is not cheap, but we're able to support our team of fiercely independent journalists because of our Tyee Builder program.</p><p>Tyee Builders chip in a few bucks each per month towards our reporting budget. Even a little goes a long way, and it adds up quickly. Because of the support of Tyee Builders, we can offer our news for free to whoever wants to read it. We believe that in-depth public-interest journalism should be accessible by all, not just by those who can afford to pay for pricey subscriptions.</p>

<p>If you believe in the power of real journalism, please consider joining as a monthly Tyee Builder. You choose the amount you contribute, and you can cancel anytime. <span style="background: rgb(255,208,0); background: rgba(255,208,0,0.8);"><a target="_blank"  href="https://support.thetyee.ca/?utm_source=website&utm_medium=footer_Dec2019b23&utm_campaign=footer_Dec2019b23"><strong>Join now.</strong></a></span></p>

</section>