<!-- BEGIN 01-molecules/blocks/messaging-block--subscribe -->
<section class="messaging-block messaging-block--subscribe" data-dev-object-descrip="01-molecules/blocks/messaging-block--subscribe" data-dev-status="IN-PROGRESS">
<h3>Subscribe to the Tyee</h3>

<div class="input-group">
  <span class="input-group-btn">
  		<button class="btn btn-default btn--subscribe" type="button">Subscribe now</button>
  </span>
  <input type="text" class="form-control" placeholder="Enter your email address...">
</div><!-- /input-group -->

</section>
<!-- END 01-molecules/blocks/messaging-block--subscribe -->
