<!-- BEGIN 01-molecules/blocks/messaging-block--ask -->
<section class="messaging-block messaging-block--ask" data-dev-object-descrip="01-molecules/blocks/messaging-block--ask" data-dev-status="IN-PROGRESS">
	<a href="#">
		<h3>The&nbsp;Tyee&nbsp;is&nbsp;supported by&nbsp;readers&nbsp;like&nbsp;you</h3>
		<span><?php include($gitrootinc . "00-atoms/images/dollar-heart-icon.html" ?> Join us and grow independent&nbsp;media in&nbsp;Canada.</span>
	</a>
</section>
<!-- END 01-molecules/blocks/messaging-block--ask -->