<!-- BEGIN 01-molecules/blocks/presents-series-box -->
{% comment %}
This box is shown if the story is part of a Tyee Presents series. This box should always be the FIRST aside that appears on the page.
{% endcomment %}

<div class="series-box text-block-container" data-dev-object-descrip="01-molecules/blocks/series-box" data-dev-status="IN-PROGRESS">
    {% include 00-atoms/images/presents-badge.html badge-position="badge--aside-placement badge--aside-placement--presents" %}
    <h5>Also in this <br> Tyee Presents series:</h5>
    <h3 class="title">Margolese National Design for Living</h3>
    
    <ul>
        <li><a href="http://thetyee.ca/Presents/2014/09/02/Bing-Thom-Margolese-Prize/">Margolese Prize Winner Bing Thom on the Art of Placemaking</a></li>
        <li><a href="/News/2016/02/04/Ontario-Carolinian-Forest/">On Nature's Death Row: Ontario's Vanished 'Carolinian' Forest</a></li>
        <li><a href="/News/2016/02/11/Alberta-Foothills-Forest/">On Nature's Death Row: Alberta's Coveted Foothills Forest</a></li>
        <li><a href="/News/2016/02/18/BC-Okanagan-Endangered-Species/">On Nature's Death Row: Squeezed Out by 'Lifestyle' in BC's Okanagan</a></li>
        <li><a href="/Culture/2016/02/22/Nature-Death-Row/">On Nature's Death Row: I Helped Commit Ecocide; So Did You</a></li>
    </ul>

</div>

<!-- END 01-molecules/blocks/series-box -->

