<!-- BEGIN 01-molecules/blocks/presents-box--index-page -->
{% comment %}
This version of the presents-box is adapted to work within the the bootstrap layout of the index pages.
This could be consolidated with the general present-box object, using conditionals to switch the html, but that's probably more trouble than it's worth.
{% endcomment %}

<div class="presents-box presents-box--index-page text-block-container index-list-spacing">
    {% include 00-atoms/images/presents-badge.html badge-position="badge--aside-placement badge--aside-placement--presents" %}
    <h5>Contests, events & more from Tyee and select partners</h5>

        <ul>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                        <li>
                            {% include 01-molecules/blocks/story-item--simple.html %}
                        </li>
                </div>
                <div class="col-xs-12 col-sm-6">
                        <li>
                            {% include 01-molecules/blocks/story-item--simple.html %}
                        </li>
                </div>
            </div>
        </ul>

</div>   

<!-- END 01-molecules/blocks/presents-box--index-page -->

