<!-- BEGIN 01-molecules/blocks/presents-box -->
{% comment %}
The Presents box will contain a max of three stories.
{% endcomment %}

<div class="presents-box text-block-container" data-dev-object-descrip="01-molecules/blocks/presents-box" data-dev-status="IN-PROGRESS">
    {% include 00-atoms/images/presents-badge.html badge-position="badge--aside-placement badge--aside-placement--presents" %}
    <h5>Contests, events & more from Tyee and select partners</h5>
    
    <ul>
        <li>
            {% include 01-molecules/blocks/story-item--simple.html %}
        </li>
        <li>
            {% include 01-molecules/blocks/story-item--simple.html %}
        </li>
        <li>
            {% include 01-molecules/blocks/story-item--simple.html %}
        </li>
    </ul>

</div>

<!-- END 01-molecules/blocks/presents-box -->

