<!-- BEGIN 01-molecules/blocks/related-story -->
<!-- If you want to adapt the object you can extend it by using the story-item-class parameter to add a new BEM class. Like this:
	[% include 01-molecules/blocks/story-item.html content-source="http://baconmockup.com/300/200" story-item-class="story-item--latest-stories" %]
-->

<div class="related-story accent-color--border" data-dev-object-descrip="01-molecules/blocks/related-story" data-dev-status="IN-PROGRESS">

	<a href="#put-article-link-here" class="link-wrap"><span></span></a>

	<div class="story-item {{ include.story-item-class }}">
	
		{% if include.content-source != '' %}

			{% include 00-atoms/images/image.html content-source=include.content-source %}
		
		{% endif %}

		<div class="story-item__description">
                    <h5>{{ include.related-story-title }}</h5>
						
			{% include 00-atoms/buttons/read-more.html %}
		</div>

	</div>

</div>

<!-- END 01-molecules/blocks/related-story -->
