<!-- BEGIN 01-molecules/blocks/related-event-box -->
{% comment %}
{% endcomment %}

<div class="related-event-box text-block-container" data-dev-object-descrip="01-molecules/blocks/related-event-box" data-dev-status="IN-PROGRESS">

    <div class="event-badge badge--aside-placement"><img src="{{ site.url }}ui/img/badge-related-event.svg"></div>

	<h4 class="title">STANDING UP TO FRACKING: A TYEE EVENT</h4>
        
 
   <p>Join The Tyee and acclaimed energy journalist and author Andrew Nikiforuk for a special evening on fracking. Nikiforuk will survey the latest energy battleground and discuss his new book, Slick Water, which centres around Jessica Ernst's landmark case. The event takes place Jan. 28 in Vancouver. Find further details and ticket information <a href="http://thetyee.ca/Presents/2016/01/11/Slick-Water/">here</a>.</p>

</div>

<!-- END 01-molecules/blocks/fact-box -->

