<!-- BEGIN 01-molecules/blocks/search-block -->
<div class="search-block" data-dev-object-descrip="01-molecules/blocks/search-block" data-dev-status="IN-PROGRESS">
	
	  <a href="#" class="[ dropdown-toggle pull-right ]" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="hidden-xs">Search</span> <span class="glyphicon glyphicon-search"></span></a>
          <ul class="dropdown-menu">
            <div class="menu__search--wrapper">
              <form class="[ navbar-form row ]" role="search">
                <li class="[ form-group col-xs-8 col-sm-8 col-md-10 col-lg-11 ]">
                  <input type="text" class="[ form-control ]" placeholder="Search">
                </li>
                <button type="submit" class="[ btn btn-default col-xs-4 col-sm-4 col-md-2 col-lg-1 ] menu__search--button ">Submit</button>
              </form>
            </div>
          </ul>

</div>
<!-- END 01-molecules/blocks/story-item -->