<!-- BEGIN 01-molecules/blocks/search-block -->
<div class="search-block" data-dev-object-descrip="01-molecules/blocks/search-block" data-dev-status="IN-PROGRESS">
	
	  <a href="#" class="[ dropdown-toggle pull-right ]" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search"></span><span class="search-text">Search</span> </a>
          <ul class="dropdown-menu">
            <div class="menu__search--wrapper">
              <form id="search-form" class="[ navbar-form row ]" method='get' role="search" action="/Newsearch">

                <li class="[ form-group col-xs-8 col-sm-8 col-md-10 col-lg-11 ]">
                  <input id="menu__search--input" type="text" class="[ form-control form-text]" placeholder="Search" name="q">
                  <input type="hidden" name="domains" value="thetyee.ca">
                  <input type="hidden" name="sitesearch" value="thetyee.ca" checked="checked">
                  <input type="hidden" name="client" value="pub-2188005021510640">
                  <input type="hidden" name="forid" value="1">
                  <input type="hidden" name="ie" value="UTF-8">
                  <input type="hidden" name="oe" value="UTF-8">
                  <input type="hidden" name="hl" value="en">
                </li>
                <button type="submit" class="[ btn btn-default col-xs-4 col-sm-4 col-md-2 col-lg-1 ] menu__search--button ">Search</button>
              </form>
            </div>
          </ul>

</div>
<!-- END 01-molecules/blocks/story-item -->
