<!-- BEGIN 01-molecules/blocks/series-box -->
{% comment %}
{% endcomment %}

<div class="series-box text-block-container" data-dev-object-descrip="01-molecules/blocks/series-box" data-dev-status="IN-PROGRESS">
    <a href="#series-listview-link" class="series-badge badge--aside-placement"><img src="{{ site.url }}ui/img/badge-series.svg"></a>
    <h5>Also in this series:</h5>
    <h3 class="title">Portaits from nature’s death row</h3>
    
    <ul>
        <li><a href="/News/2016/01/28/Nature-Death-Row-BC/">On Nature's Death Row: It Used to Be BC's 'Eden'</a></li>
        <li><a href="/News/2016/02/04/Ontario-Carolinian-Forest/">On Nature's Death Row: Ontario's Vanished 'Carolinian' Forest</a></li>
        <li><a href="/News/2016/02/11/Alberta-Foothills-Forest/">On Nature's Death Row: Alberta's Coveted Foothills Forest</a></li>
        <li><a href="/News/2016/02/18/BC-Okanagan-Endangered-Species/">On Nature's Death Row: Squeezed Out by 'Lifestyle' in BC's Okanagan</a></li>
        <li><a href="/Culture/2016/02/22/Nature-Death-Row/">On Nature's Death Row: I Helped Commit Ecocide; So Did You</a></li>
    </ul>

</div>

<!-- END 01-molecules/blocks/series-box -->

