<!-- BEGIN 01-molecules/blocks/story-item -->
{% comment %}
<!-- The story-item--event object is a variation on the story-item that is suited to events. It's intended primarilyfor use on the events-index page.

HOW TO INCLUDE THIS OBJECT
---------------------------------
Use the content-source parameter parameter to specify the path of its contained image. Like this: 
	[% include 01-molecules/blocks/story-item--event.html content-source="http://baconmockup.com/300/200" %]

If you want to adapt the object you can extend it by using the story-item-class parameter to add a new BEM class. Like this:
	[% include 01-molecules/blocks/story-item.html content-source="http://baconmockup.com/300/200" story-item-class="story-item--latest-stories" %]

You may also want to add a story badge (e.g. a series-badge), like this:
	[% include 01-molecules/blocks/story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page index-list-spacing" story-item-headline="‘Service Co-op’ Helps Calgary Seniors Stay in the ‘Hood" story-item-dek="Whether it’s keeping up with maintenance or downsizing, ‘Aging in Place’ co-op aims to keep seniors at home." story-badge="presents" %]
-->
{% endcomment %}
<div class="story-item {{ include.story-item-class }}">

	{% if include.story-badge != nil %}
        
        {% include 00-atoms/images/story-badge.html badge-position="badge--story-item-placement" story-badge=include.story-badge %}
    
    {% endif %}

	<a href="">{% include 00-atoms/images/image.html content-source=include.content-source %}</a>
	
	<div class="story-item__description">
        <a href="#" class="button button--get-tickets m-t-2">Get Tickets</a>


		<h5><a href="">{{ include.story-item-headline }}</a></h5>
		<p class="story-item--deck">{{ include.story-item-dek }}</p>

		<div class="story-item--event__details">
            <span class="story-item__date--event">30 Oct. 2017 &ensp; | &ensp; 7:00 P.M.</span>
            <span class="story-item__date--event">Djavad Mowafaghian Cinema</span>
        </div>
		
	</div>

</div>
<!-- END 01-molecules/blocks/story-item -->