<!-- BEGIN 01-molecules/blocks/story-item--simple -->
{% comment %}
<!-- This is a simplified version of story-item object. It's primarily intended for use as a list item within the Presents-box object.
-->
{% endcomment %}
{% include 00-atoms/images/image.html content-source="/ui/img/Kitten-200x138.jpg" %}
<a href="/News/2016/01/28/Nature-Death-Row-BC/" class="story-item__headline">Tyee Master Class: Strategic Frames and Messaging. {% include 00-atoms/images/arrow-icon.html %}</a>
<p>Learn how to create a winning media strategy with a seasoned communications pro. April 23 in Vancouver.</p>
<!-- END 01-molecules/blocks/story-item-simple -->