<!-- Begin molecules/blocks/tool-bar -->

<div class="tool-bar clearfix" data-dev-object-descrip="molecules/blocks/tool-bar" data-dev-status="IN-PROGRESS">
    <ul class="clearfix">
        <li class="count" ><strong id="sharecount"><span class="count">68</span> <span class="text">SHARES</span></strong></li>
        <li><a style="color:white;" href="#" onclick="share_fb(window.location.href);return false;" rel="nofollow" share_url="<?=$escaped_url ?> target="_blank" class="btn btn-social-icon btn-facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a style="color:white;" target="_blank" href="#" onclick="share_tw(); return false;" class="btn btn-social-icon btn-twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a class="btn btn-social-icon btn-email"><span data-toggle="modal" data-target="#share-email"><i class="fas fa-envelope"></i></span></a></li>     
        <li><a target="_blank" class="btn-join" href="https://support.thetyee.ca?utm_campaign=toolbar">{% include 00-atoms/images/dollar-heart-icon.html %}</a></li>
        <li><a class="btn-comment" href="#comments">{% include 00-atoms/images/comment-bubble.html %}</a>
            <a class="str-comment" href="{{ page.meta-url }}#disqus_thread"></a>
        </li>   
    </ul>

</div>
