{% for field in site.data.example_stories limit:1 %}

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">
        
        {% include 00-atoms/images/barometer-badge.html badge-position="badge--headline-placement badge--headline-placement--barometer" %}
        <h6 class="poll-label"><a href="/tyee-polls-link-here/">Welcome to Tyee’s reader poll.</a><div class="poll-label__background"></div></h6>

        <h1 class="h1--border-bottom" data-bind="title">{{ page.title }}</h1>

        {% comment %} {% include 01-molecules/blocks/tool-bar.html %} {% endcomment %}

    </div> <!--END .container-fluid-->

</header>

{% endfor %}
