<!-- Begin organisms/article/article__body -->

<article class="article__body main-col-container" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">
    <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->

    <div class="container-fluid clearfix">

                <!--An ASIDE containing a SERIES BOX. -->
                {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/series-box" content-source="" aside-caption=false media-credit=false aside-class="" %}

        {% include 01-molecules/text/lead-in-text.html lead-in-content="Picture this scene: It's a bright spring morning. A light breeze scented with sea salt sets wildflowers nodding. Overhead, a pair of cappuccino-coloured butterflies the size of quarters flicker and pirouette around gnarled trees freshly dressed in green. In the deeper shade, a keen eye might pick out, like a fat comma in bright blue, the slow advance of a slug across a rotting leaf. Suddenly a small bird bursts up into the spring air, the sun catching its lemon-yellow face and black raccoon-mask, a sharp musical trill following its rise. " %}


       <p>You or I might describe this as paradise. Indeed, Victorian-era fur-trader and later the first Governor of British Columbia, James Douglas, did just that on first sight of the open woodland meadows he found covering much of southern Vancouver Island, calling them a "perfect Eden." </p> 

       <p>But for the Propertius Duskywing butterfly, the Montane Yellow violet, the Sharp-tailed snake, the Blue-grey Taildropper slug and the Horned Lark who live in the region's Garry Oak meadows, this is more like death row. All but the Duskywing are now on Canada's 'red' list of most threatened species; the butterfly is one rung down, on the next-most-threatened 'blue' list.</p>

        <!--AD in the 1ST POSITION. (Set ad-position parameter.) -->
        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox" ad-source="VFF-bigbox.gif" %}

        <p>We've become sadly familiar in the last generation or so with the species we've pushed to the brink of extinction around the globe: the African Rhino, the Snow Leopard, the Orca whale. What we're less conscious of are the entire ecosystems that we have destroyed as our populations exploded in the last century and our industry became ever more rapacious.</p>

                <!--An ASIDE containing an IMAGE. -->
                {% include 01-molecules/blocks/aside.html aside-contents="00-atoms/images/image" aside-caption="The Duskywing butterfly, denizen of the endangered Garry Oak forest. Photo courtesy of the Nature Conservancy of Canada." media-credit="Photo by Hoffman" content-source="/ui/img/dusky-wing-300px.jpg" aside-class="" %}

        
<p>Scientific concern, however, has reached the point that the International Union for the Conservation of Nature, the group that curates global endangered-species lists, is now <a href="http://www.iucnredlistofecosystems.org/about-us/global-framework/" target="_blank">pulling together</a> one for threatened ecosystems. </p>


<p>It's a sad irony that such endangered places can be hard to spot, so thoroughly have we European settlers erased them as we 'developed' southern Canada. One is the Garry Oak ecosystem, hanging on in shreds among Vancouver Island's farms and housing developments. Other fragments cling to life in Ontario, Alberta and mainland British Columbia. I'll profile those later in this series of reports. </p>

                <!--SUBHEADER -->
                {% include 00-atoms/text/article-subheader.html subheader-content="A lost savannah forest" %}

<p>Back in 1843, the shores of what is now Victoria Harbour as well as many of the Gulf Islands and reaches of the Cowichan Valley were clad in open forest whose most striking feature was the dispersed grey trunks of Garry Oaks. At their feet, a seasonal succession of wildflowers buzzed with insects attracted to their blossoms and edible leaves. Both supported birds and small mammals that in turned sustained snakes and larger avian and terrestrial predators. Prominent in the meadow community was Deltoid Balsamroot, whose sturdy stems in April would push past the blooming Blue Camas on the way to showing their own ruddy sunflower-like blossoms in May.</p>

<p>Both these last two were important parts of indigenous diets and health care. Assisted by managed burning that the region's Salish nations conducted to maintain the harvest of <a href="http://honest-food.net/2011/07/26/cooking-blue-camas/" target="_blank">edible camas roots</a>, a broken cover of Garry Oak forest, prairie and savannah once extended over hundreds of thousands of acres -- an estimated 30,000 in the Cowichan Valley alone.</p>


                <!--Here's an XTRA LARGE FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html figure-class="figure--xl" figure-contents="00-atoms/images/image" figure-caption="Scattered remnants of Garry Oak remain in places like Victoria's Beacon Hill Park." media-credit="Scattered remnants of Garry Oak remain in places like Victoria's Beacon Hill Park. Photo by r. a. paterson in Your BC: The Tyee's Photo Pool." content-source="/ui/img/garryoak-610px.jpg" %}

<p>Garry Oaks themselves can still be widely found, alone or in small stands, over much of Vancouver Island's south-eastern tip and as far north as Comox, and even as far inland as Yale along the Fraser River. But the ecosystem that once sheltered beneath their bows has all but vanished -- converted to farmland, then to settlements, highways and subdivisions. Now, less than one half of one per cent of the distinctive parkland remains in scattered remnants in places like Victoria's Beacon Hill Park. Garry Oak meadows today are Canada's second most endangered ecosystem, after the Carolinian forests of Ontario.</p>


                <!--SUBHEADER -->
                {% include 00-atoms/text/article-subheader.html subheader-content="A last refuge" %}

<p>The largest scrap of deep-soil Garry woodland meadow left in Canada can be found squeezed by cropland on one side and houses on the other just outside the town of Duncan, B.C., about 45 kilometres northwest of where James Douglas came ashore. This is the 52-acre <a href="http://www.goert.ca/activities/2007/03/cowichan-garry-oak-preserve/" target="_blank">Cowichan Garry Oak Preserve</a>, owned and protected by the non-profit Nature Conservancy of Canada.</p>

<p>The preserve, depending on your perspective, is either a last refuge or a waiting room of the condemned. Many plants that once ranged across much of southern Vancouver Island -- Shooting Stars, Western Buttercups, White-top Aster, Fern-leaved Desert Parsley, Spring Gold and Victoria's Owl-clover -- and the often-specialized insects and other species that rely on them, can still be found here. For many, it's the community that makes this a refuge. Duskywing butterflies, for instance, depend on Camas and Garry Oaks for different parts of their lifecycle.</p>

<p>Many other species also have close relationships. The strong attraction that Blue Camas holds for bees draws those pollinators to complete the reproductive cycle for neighbouring wildflowers with less attraction power. Red ants help dispersing seeds shed by the ground-dwelling Yellow Montane Violet. Attracted by some quality in the seed's shell, says the conservancy's restoration technician and naturalist Irvin Banman, who manages the Cowichan preserve, the ants "don't stop and have a chew where they are, they carry the seeds for a while before they drop them," thus extended the violet's reproductive reach. </p>

                <!--Here's an XTRA LARGE FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html figure-class="figure--xl" figure-contents="00-atoms/images/image" figure-caption="Blue Camas dusts the Cowichan Garry Oak Preserve." media-credit="Photo courtesy of the Nature Conservancy of Canada." content-source="/ui/img/blue-camas-610px.jpg" %}


  <p>It's these interconnections among the wildlife sheltering beneath the boughs of Vancouver Island's remaining oaks that preoccupy Banman: 67 species of bees, 56 more of mosses and lichens, Gopher snakes and Twisted Oak Moss have been identified in the preserve. That scrap of surviving parkland and other patches elsewhere in southern Vancouver Island are home to <a href="http://www.goert.ca/documents/GOERT-SAR-Table-2010-Nov-web.xls" target="_blank">113 endangered species</a>, Banman says -- more than in any other of Canada's threatened landscapes. </p>
                          <p>In an ironic twist, the few preserved fragments of an ecosystem that once dominated large parts of southern Vancouver Island are only now revealing the full richness of what has been lost. Fungi, a class that includes not only mushrooms and moulds but the planet's largest known <a href="http://www.scientificamerican.com/article/strange-but-true-largest-organism-is-fungus/" target="_blank">organism</a>, can thrive in the intermittently moist and dry, open and shaded Garry Oak landscape. A recent survey by mycologists of a remnant patch of oak woodland at Victoria's Observatory Hill identified more than 1,000 fungal species. Another researcher who brought a truffle-hunting dog to the Cowichan preserve turned up some examples of the savoury fungus "that it was suspected would be new to science," Banman says. </p>
                          <p>There's a parking lot at the preserve. Visitors who contact the conservancy can arrange a tour. Banman hopes they get the message that the Garry Oak is "not just an oak tree. It's an ecosystem. We're talking invertebrates, insects, lichen, mosses, fungi, trees, shrubs, grasses, birds, wild flowers, mammals. It's all connected, richer than you can imagine... You don't know how many of those you can pull out of there before they collapse.</p>
                <!--Here's an XTRA LARGE FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html figure-class="figure--xxl" figure-contents="00-atoms/images/image" figure-caption="'The Giant' in Cowichan Garry Oak Preserve." media-credit="Photo courtesy of Maleea Acker." content-source="/ui/img/giant-oak-610px.jpg" %}

                          <p>For the moment, Banman says, "all the red-listed plants at the Cowichan Preserve are doing OK." That gives at least some hope for the butterflies and bees that depend on them. </p>
                         
                          <p>And some species reduced to remnants in Canada, among them the Propertius Duskywing and the Yellow Montain violet, are faring better in southern parts of their former range in the United States.</p>
                          <p>But Tim Ennis, a specialist in endangered ecosystems and a consultant to both the conservancy and the committee in charge of recommending species for legal protection in Canada, sees longer-term threats. </p>
                          <p>There is a well-known attrition in biodiversity, as the size and connectedness of landscapes available to plants and animals that have adapted to them over millennia, shrinks. In the case of Garry Oak ecosystems, the remaining 'biogeographic islands' are too small to secure the permanent survival of all its present species. The stress of encroaching human activity, inbreeding among reduced populations -- even depression in surviving animals -- takes a toll on reproductive success.</p>
                          <p>For some, the death sentence is not lifted, only delayed. "Species loss lags behind habitat loss," Ennis points out. "You can see this train wreck just about to happen."</p>
                          <p>That's the reason Ennis believes that merely "protecting what's left is not going to do it." We have to restore the forests, he says. </p>
                <!--Here's an XTRA LARGE FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html figure-class="figure--xl" figure-contents="00-atoms/images/image" figure-caption="For a moment, the remaining scraps of Garry Oak woodland meadow remain stable." media-credit="Photo courtesy of the Nature Conservancy of Canada." content-source="/ui/img/garry-oak-610px.jpg" %}



                          <p>For the moment, the scraps of Garry Oak woodland meadow still standing, with their fluttering companions of butterflies in spring, their seasonal dustings of Blue Camas, Deltoid Balsamroot and White-topped Asters, are stable, Banman says. But recovering even a little of their former extent in development-pressured southern Vancouver Island is "unlikely."</p>
                          <p>Garry Oaks should be with us for a long time. Climate change will even be kind to the tough, drought- and flood-tolerant trees. The Propertius Duskywing and Sharp-tailed snake however, the Horned Lark, and more than a hundred other condemned species, are more likely to meet the end of their lines on a death row as pretty as paradise. </p>

    </div> <!--END .container-fluid-->

</article>

<!-- END organisms/article/article__body -->
