<!-- Begin organisms/article/article__body -->
<div id="content" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">
            
        <article class="">
            <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->
            
            <section class="main">

                {% include 01-molecules/text/lead-in-text.html %}

                <!--This is a single PARAGRAPH of content, like in a Tyee series, where items like additional images, pullquotes or video are entered a field at a time-->
                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                {% include 01-molecules/blocks/block-ad-box.html %}

                {% include 00-atoms/text/paragraph.html %}

                {% include 01-molecules/text/pullquote.html %}

                <!--An ASIDE containing a RELATED STORY. -->
                {% include 01-molecules/blocks/aside.html object-contents="01-molecules/blocks/related-story" content-source="http://place-hoff.com/400/250" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                <!--VIDEO player. Will likely be iframe embeds. -->
                {% include 01-molecules/blocks/figure.html object-contents="00-atoms/media/video" figure-caption="This is a caption describing a video inside a figure. Such railroad! Very excitement!" content-source="" %}

                {% include 00-atoms/text/paragraph.html %}

                {% include 01-molecules/text/blockquote.html %}

                {% include 00-atoms/text/paragraph.html %}
                
                <!--Here's a FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html object-contents="00-atoms/images/image" figure-caption="This is a caption describing an image inside a figure. Much kawaii!" content-source="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/138.jpg" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                <!--An ASIDE containing a RELATED STORY. -->

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                <!--AUDIO player. Will likely be iframe embeds. -->
                {% include 01-molecules/blocks/figure.html object-contents="00-atoms/media/audio" figure-caption="This is a caption describing an audio object inside a figure." content-source="" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                <!--An ASIDE containing a RELATED STORY. -->
                {% include 01-molecules/blocks/aside.html object-contents="01-molecules/blocks/related-story" content-source="http://place-hoff.com/400/300" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                <!--Photo SLIDESHOW ======================================================= NEEDS WORK ==== -->
                {% include 02-organisms/media/slideshow.html %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html %}

                <!--Here's a FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html object-contents="00-atoms/images/image" figure-caption="This is a caption describing an image inside a figure. Very yum!" content-source="http://baconmockup.com/300/200" %}

                {% include 00-atoms/text/paragraph.html %}

            </section>

        </article>
        
    </div> <!--END .container-fluid-->

</div> <!--END #content -->
<!-- END organisms/article/article__body -->