{% for field in site.data.example_stories limit:1 %}

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">
        
        {% include 00-atoms/images/presents-badge.html badge-position="badge--headline-placement badge--headline-placement--presents" %}
        <h6 class="tyee-presents-label"><a href="/presents-link-here/">Welcome to Tyee’s weekly reader poll.</a></h6>

        <h1 class="" data-bind="title">{{ page.title }}</h1>

        {% include 01-molecules/blocks/tool-bar.html %}

    </div> <!--END .container-fluid-->

</header>

{% endfor %}
