{% for field in site.data.example_stories limit:1 %}

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">

        {% if page.series == true %}

        {% include 00-atoms/images/series-badge.html series-badge-position="badge--headline-placement" %}
        
        {% endif %}

        <h6 class="category-label"><a href="#" data-bind="category">{{ page.meta-category }}</a></h6>

        <h1 class="" data-bind="title">{{ page.title }}</h1>

        <h4 data-bind="teaser">{{ page.description }}</h4>

        {% include 01-molecules/text/author-info.html author-name=page.meta-contributor author-bio=page.meta-contributor-bio article-date=page.meta-date author-headshot=page.meta-contributor-photo %} {% comment %} <-- THERE MUST BE NBSPs BETWEEN THE DATE ELEMENTS {% endcomment %}

        {% include 01-molecules/blocks/tool-bar.html %}

    </div> <!--END .container-fluid-->

</header>

{% endfor %}
