<!-- Begin organisms/article/article__body -->
            
    <article class="article__body" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">
        <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->
        
        <div class="container-fluid clearfix">

                {% include 01-molecules/text/lead-in-text.html %}

                <!--This is a single PARAGRAPH of content, like in a Tyee series, where items like additional images, pullquotes or video are entered a field at a time-->
                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Ad-box folows." %}

                {% include 01-molecules/blocks/ad-box.html ad-source="VFF-bigbox.gif" %}

                {% include 00-atoms/text/paragraph.html custom-parag-content="Pull-quote follows." %}

                {% include 01-molecules/text/pullquote.html %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Related story follows." %}

                <!--An ASIDE containing a RELATED STORY. -->
                {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/related-block" content-source="http://place-hoff.com/400/266" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Video player follows." %}

                <!--VIDEO player. Will likely be iframe embeds. -->
                {% include 01-molecules/blocks/figure.html figure-contents="00-atoms/media/video" figure-caption="This is a caption describing a video inside a figure. Such railroad! Very excitement!" content-source="" %}

                {% include 00-atoms/text/paragraph.html custom-parag-content="Blockquote follows." %}

                {% include 01-molecules/text/blockquote.html %}

                {% include 00-atoms/text/paragraph.html custom-parag-content="Figure with image follows." %}
                
                <!--Here's a FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html figure-contents="00-atoms/images/image" figure-caption="This is a caption describing an image inside a figure. Much kawaii!" content-source="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/138.jpg" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Aside with image follows." %}

                <!--An ASIDE containing an IMAGE. -->
                {% include 01-molecules/blocks/aside.html aside-contents="00-atoms/images/image" aside-caption="This is a caption for an image in an aside. So hassle!" content-source="http://place-hoff.com/350/300" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Audio player follows." %}

                <!--AUDIO player. Will likely be iframe embeds. -->
                {% include 01-molecules/blocks/figure.html figure-contents="00-atoms/media/audio" figure-caption="This is a caption describing an audio object inside a figure. Very Hollywood cynicism!" content-source="" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Related story follows." %}

                <!--An ASIDE containing a RELATED STORY. -->

                {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/related-block" content-source="http://place-hoff.com/525/350" %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Slideshow follows." %}

                <!--Photo SLIDESHOW ======================================================= NEEDS WORK ==== -->
                {% include 02-organisms/media/slideshow.html %}

                {% include 00-atoms/text/paragraph.html %}
                {% include 00-atoms/text/paragraph.html custom-parag-content="Figure with image follows." %}

                <!--Here's a FIGURE containing an IMAGE. 
                    All media within an article body should be called from within a figure object or an aside. -->
                {% include 01-molecules/blocks/figure.html figure-contents="00-atoms/images/image" figure-caption="This is a caption describing an image inside a figure. Very yum!" content-source="http://baconmockup.com/300/200" %}

                {% include 00-atoms/text/paragraph.html %}

        </div> <!--END .container-fluid-->

    </article>
        
<!-- END organisms/article/article__body -->