{% for field in site.data.example_stories limit:1 %}

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, authour and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">

	<div class="container-fluid">

		<p><a href="#">CATEGORY</a></p>

		<h1>‘Perfect Storm’ Engulfing Canada’s Economy Perfectly Predictable</h1>

		<h4>Years ago Andrew Nikiforuk, citing experts, warned where Stephen Harper’s priorities would lead us.</h4>

		{% include 01-molecules/text/author-info.html %}

		<div class="social_sharing">
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Email</a></li>
				<li><a href="#">Donate</a></li>
				<li><a href="#">Print</a></li>
				<li><a href="#">Comment</a></li>
			</ul>
		</div>

	</div> <!--END .container-fluid-->

</header>

{% endfor %}