{% for field in site.data.example_stories limit:1 %}

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">

        <a href="#series-listview-link" class="series-badge badge--headline-placement"><img src="{{ site.url }}ui/img/badge-series.svg"></a>

        <h6 class="category-label"><a href="#" data-bind="category">{{ include.article-category }}</a></h6>

        <h1 class="" data-bind="title">‘Perfect Storm’ Engulfing Canada’s Economy Perfectly Predictable</h1>

        <h4 data-bind="teaser">Years ago Andrew Nikiforuk, citing experts, warned where Stephen Harper’s priorities would lead us.</h4>

        {% include 01-molecules/text/author-info.html author-name="Mychaylo Prystupa" author-bio="Mychaylo Prystupa is an award-winning freelance journalist with 14 years experience, including nine as a CBC News reporter and two at the National Observer. Find him on Twitter @mychaylo, or his website here." article-date="27 Jan 2016" author-headshot="mychaylo-prystupa.jpg" %}

        {% include 01-molecules/blocks/tool-bar.html %}

    </div> <!--END .container-fluid-->

</header>

{% endfor %}
