<!-- Begin organisms/article/article__body -->

<article class="article__body main-col-container" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">
    <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->

    <div class="container-fluid clearfix">

        <!--An ASIDE containing a SERIES BOX. -->
        {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/series-box" content-source="" aside-caption=false media-credit=false aside-class="" %}

        <!--An ASIDE containing a FACT BOX. This aside will be hidden in narrow viewports. -->
        {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/Fact-box" content-source="" aside-caption=false media-credit=false aside-class="hide-on-narrow-vp" fact-box__content="<p>This series was produced by Tyee Solutions Society. It was made possible through the financial support of Simon Fraser University's VanCity Office of Community Engagement. This support for this project does not necessarily imply endorsement of the findings or content of this report. TSS funders neither influence nor endorse the particular content of TSS reporting. Other publications wishing to publish this story or other TSS produced articles, please see this website for contacts and information.</p>" %}

        {% include 01-molecules/text/lead-in-text.html lead-in-content="At one point, Ken Lyotier was literally sleeping on the streets. It was the eighties, and Lyotier was living in the Downtown Eastside -- Skid Row it was called then -- and struggling with alcohol. His makeshift tent of tarp and pallet barely kept out the winter rains under the dead-end that was the north end of Main Street." %}

        <p>At other times he "bounced around" between the single-resident occupancy (SRO) hotels that dot the neighbourhood. "The conditions in the hotels were just appalling -- they still are," he says, sitting on a stool in his home of nearly three decades in the Four Sisters Co-op on Powell Street. "There was no heat, no light, no running water in the wintertime, broken windows, people dying in bathtubs."</p>

        <p>Lyotier's life had once been better. He'd worked assessing real estate for the Land Titles Office, and later worked for a realtor. "Then the real estate market crashed," he explains. "I mean, it was bad. Unemployment rates were soaring." Out of work and drinking, he found himself eventually on the street, and then in hospital. As he recovered from abdominal surgery, Lyotier recalls a visit from a Downtown Eastside Residents Association (DERA) organizer named Jim Green.</p>

        <!--AD in the 1ST POSITION. (Set ad-position parameter.) -->
        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox" ad-source="VFF-bigbox.gif" %}

        <p>It was 1986. The Four Sisters Co-op hadn't yet opened; it hadn't even received an occupancy permit. But doctors refused to release Lyotier, with unhealed surgical wounds, to the septic surroundings of an SRO's shared bathroom. Green found a way to make an exception, and Lyotier was ushered quietly into a suite in the newly completed complex.</p>

<p>With stable, clean housing, Lyotier's life slowly began to turn around. "It took me a while. I tried really hard but I slipped. Eventually it just happened, but it took a lot to get there." Three years after moving into the complex, Lyotier finally kicked his alcohol addiction and, he says, hasn't had a drink since 1989. He went on to found United We Can, a nonprofit recycling centre that employs low-income people. Now 67, he sits on the co-op's resident-run board of directors.</p>

<aside class="pullquote" data-dev-object-descrip="molecules/text/pullquote" data-dev-status="IN-PROGRESS">
     "It saved my bacon! There were times when they could've chucked me out of here, but they didn't."
</aside>

<p>How much of a difference did safe shelter play in his recovery? Lyotier laughs heartily. Four Sisters "made all the difference," he says, sitting in his small, warmly lit suite surrounded by dozens of plants lovingly tended over the decades. </p>

<p>"It saved my bacon! There were times when they could've chucked me out of here," he admits. "But they didn't."</p>

    <p>The co-op is named after Vancouver's four official "sister cities" of Edinburgh, Guangzhou, Odessa and Yokohama. Lyotier's unit is one of 153 in the complex, its three buildings joined by a gated central courtyard designed for children to play in safely.</p>

    <p>Twenty eight years after it opened, Four Sisters remains one of the city's largest affordable housing projects, and a case study in resident self-governance. Yet its notable success emerged from an unpromisingly rancourous atmosphere of community activism at the time.</p>


                <!--FIGURE containing a VIDEO player. Will likely be iframe embeds. -->
                {% include 01-molecules/blocks/figure.html figure-contents="00-atoms/media/video" figure-caption="" media-credit="" content-source="https://player.vimeo.com/video/119933203" %}

    <p>Jim Green and DERA (founded by recently retired MP Libby Davies and late Vancouver city councillor Bruce Eriksen) had initially been reluctant to incorporate homebuilding into their group's focus on anti-poverty and anti-eviction organizing. Indeed, Lyotier had pitched a federal housing program to Green earlier in the decade, without success.</p>

                <!--An ASIDE containing a RELATED EVENT. -->
                {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/related-event-box" aside-class="" %}

    <p>Green did eventually warm to the idea -- saving Lyotier's bacon in the process. It was an early sign of an evolving vision that would eventually carry the Alabama-born community activist to a seat at city hall, and place him at the centre of changing public views on social housing. </p>

    <p>In coming days, we'll visit two other brick and mortar legacies of Green's energies on behalf of housing under a variety of models: Solheim Place, a fully subsidized social housing project; and the Woodward's Redevelopment, which embodied a new era of controversial partnerships between big developers and governments, and the idea of a "social mix" of condominium owners and below-market renters.</p>

        <!--SUBHEADER -->
        {% include 00-atoms/text/article-subheader.html subheader-content="A place for family" %}


<p>As its central play yard hints, the original vision behind the Four Sisters project wasn't affordable housing for the down-and-out so much as family-focused community, particularly for single parents and their kids.</p>

<p>One of those parents was artist Deirdre Keohane. She moved in with her newborn son and toddler daughter in 1992. "Prior to being here, I wasn't living under a bridge or anything," she says. But her dingy walkup on Commercial Drive "was a shithole, and it was so insecure. There was violence downstairs," she recalls. As a new mother, she thought: "Oh my God, what am I bringing my kid up into?!"</p>

<p>One of those parents was artist Deirdre Keohane. She moved in with her newborn son and toddler daughter in 1992. "Prior to being here, I wasn't living under a bridge or anything," she says. But her dingy walkup on Commercial Drive "was a shithole, and it was so insecure. There was violence downstairs," she recalls. As a new mother, she thought: "Oh my God, what am I bringing my kid up into?!"</p>

<p>"This place was my salvation," she said. "Not only for me, but for the children as well. It gave me strength and a community in which to raise my children. As a lone parent, it's very isolating and frightening. Here, I walked into a family."</p>

                <!--An ASIDE containing a RELATED STORY. -->
                {% include 01-molecules/blocks/aside.html aside-contents="01-molecules/blocks/related-story" related-story-title="Metro Vancouver's Housing Crisis: A Huge Opportunity?" content-source="/ui/img/vancouverskyline610px.jpg" aside-class="" %}


<p>The co-op features a brightly lit arts room that opens into a bamboo-edged, fenced courtyard (where Keohane plans to offer drawing lessons), rooftop garden plots (a greenhouse is in the works), and woodworking shop. On the ground floor is a common kitchen for resident events, two of its walls decorated with dozens of tiny children's handprints in colourful paint, one belonging to Keohane's son, Connor.</p>

<p>According to another of the co-op's earliest members and community leaders, Ian MacRae, the project reached out to lone parents who wanted to develop a "foundation to get their life back on track." But its founders also recognized that that task was impossible without stable, secure housing. </p>

<p>Thanks to a federal funding program then in place, the co-op was able to subsidize the rent for roughly one-third of its occupants. And with the complex's secure central courtyard, says MacRae, "Our idea was to put families in there so they could throw their kids outside, still keep an eye on them, and have them safe and secure." </p>

        <!--AD size bigbox. (Set ad-size parameter.) -->
        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox" ad-source="VFF-bigbox.gif" %}

<p>Keohane moved back to her home country of Ireland in 1998, continuing to make art, including a sculpture presented to the country's president. She credits her artistic vision to the lessons in community she learned at Four Sisters. So when she decided to move back to Vancouver last year, she was thrilled to be accepted back into Four Sisters. "It was like coming home!" she says breathlessly. "I love this place with a passion."</p>

<p>Connor, whose tiny handprint from the age of three still brightens a kitchen wall, came with her into a two-bedroom suite in the co-op. Now 23, he volunteers at the Carnegie Centre weight-lifting room up the street. The bustling neighbourhood hub is another legacy of DERA's early campaign successes, before the organization dissolved amid financial scandal in 2010. </p>

<p>Keohane has rejoined the co-op's board too, in hope that she can "carry the philosophy forward," of serving single-parent families in a child-friendly, supportive community. </p>

        <!--SUBHEADER -->
        {% include 00-atoms/text/article-subheader.html subheader-content="Disappearing subsidies" %}

        <p>Her time away from Four Sisters has exposed some disturbing trends, however. There are far fewer young children around the co-op, and fewer Aboriginal residents than once were there. </p>

        <p>MacRae reports other changes. As funding from that long-ago federal program has declined in recent years, the co-op has been able to subsidize fewer tenants -- as few as one-in-10 units today, he estimates.  </p>

        <p>"That's very upsetting to me, and to a lot of other people too," says MacRae. "As [subsidized tenants] leave or die, they get replaced by market[-rent] people. Eventually this will be entirely market."</p>

        
        <!--An ASIDE containing an IMAGE. -->
        {% include 01-molecules/blocks/aside.html aside-contents="00-atoms/images/image" aside-caption="Today, Ken Lyotier is on the Four Sisters Co-op board and nurtures a large collection of plants in his one-bedroom apartment in the complex" media-credit="Photo by David P. Ball." content-source="/ui/img/4Sisters-KenLyotier-Plant-vert.jpg" aside-class="" %}

        <p>With the federal program whose subsidies helped create such co-op housing phasing out by the end of the decade, and maintenance costs for the aging complex rising, Four Sisters' board faces excruciating choices, including raising the still below-market rents paid by unsubsidized tenants.</p>

        <p>Keohane is anxious for her own future. She and Connor pay the unsubsidized rate of $977 a month for their two-bedroom. An unsubsidized bachelor apartment in Four Sisters goes for only $573, a one-bedroom is $754, and a family-sized three bedroom is $1,134. </p>

        <p>By contrast, rents in the surrounding area are skyrocketing. One-person micro-suites and studio lofts can rent for well over $1,100. "The neighbourhood is becoming gentrified, you can see that," Keohane says. "It really makes me scared."</p>

        <p>She fears losing the Four Sisters' philosophy of community, of mutual support, shared childcare groups, its family-oriented vibe, that so inspired her artwork. "The philosophy of caring for one another will go if it's market (rates)," she says. "People become much more private; they don't have to depend on other people for a family."</p>

        <p>Lyotier also considers gentrification a growing concern. But he believes the successful campaigns of the Downtown Eastside Residents Association in decades past should be a reminder of the power of a community to take smart, collective action. </p>


<p data-dev-object-descrip="molecules/text/paragraph-with-end-mark" data-dev-status="IN-PROGRESS">
"Where it started for people like Jim [Green]," he recalls, "was that housing is a right and we need to see it as a right. It's a psychological shift that happens -- a spiritual shift." {% include 00-atoms/images/end-mark-icon.html %}
</p>

                <!--FACT-BOX will display here at bottom of article in narrow viewports -->
                <span id="fact-box-1"></span> <!--Anchor for inline fact-box text link. This ID must not appear in the sidebar fact-box html! -->
                {% include 01-molecules/blocks/Fact-box.html fact-box__content="<p>This series was produced by Tyee Solutions Society. It was made possible through the financial support of Simon Fraser University's VanCity Office of Community Engagement. This support for this project does not necessarily imply endorsement of the findings or content of this report. TSS funders neither influence nor endorse the particular content of TSS reporting. Other publications wishing to publish this story or other TSS produced articles, please see this website for contacts and information.</p>" %}

    </div> <!--END .container-fluid-->

</article>

<!-- END organisms/article/article__body -->

