<!-- begin 02-organisms/article/featured-media -->
<!--This pulls in an image and a caption-->
{% for field in site.data.example_stories limit:1 %}

<section class="featured-media" data-dev-object-descrip="02-organisms/article/featured-media" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">

        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--halfpage" ad-slot="ad-300x600" ad-source="" %}

        {% include 01-molecules/blocks/figure.html figure-contents="00-atoms/images/image" figure-caption=page.featured-media-caption media-credit=page.featured-media-credit content-source=page.featured-media-source %}

        {% comment %}
        This is left here to show the syntax for pulling data from the CSV file:

        {% include 00-atoms/images/image.html content-source=field.featured_image %}
        <p><caption><em>{{field.featured_image_caption}}</em></caption></p>
        {% endcomment %}

    </div> <!--END .container-fluid-->

</section>
{% endfor %}
