<!-- Begin molecules/text/author-info -->
<div class="author-info clearfix" data-dev-object-descrip="molecules/text/author-info" data-dev-status="IN-PROGRESS">

	<img src='{{ site.url}}ui/img/author-headshot.jpg'>

	<div>
		By <a href="#">Andrew Macleod</a>, 15 January 2015, TheTyee.ca
		<span class="author-info__bio">Andrew Nikiforuk has been writing about the oil and gas industry for nearly 20 years and cares deeply about accuracy, government accountability, and cumulative impacts.</span>
	</div>

</div>