<!-- Begin molecules/text/author-info -->
<div class="author-info clearfix" data-dev-object-descrip="molecules/text/author-info" data-dev-status="IN-PROGRESS">

	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/315px-Blank_woman_placeholder.svg.png"/>

	<div>
            By <a href="#" data-bind="author-name">Andrew Macleod</a>, <span data-bind="date">15 January 2015</span>, TheTyee.ca
		<span class="author-info__bio" data-bind="author-bio">Andrew Nikiforuk has been writing about the oil and gas industry for nearly 20 years and cares deeply about accuracy, government accountability, and cumulative impacts.</span>
		<span class="author-more hidden-md hidden-lg hidden-xl">More<span class="caret"></span></span>
	</div>

</div>
