<!-- Begin molecules/text/author-info -->
<div class="author-info clearfix" data-dev-object-descrip="molecules/text/author-info" data-dev-status="IN-PROGRESS">

	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/315px-Blank_woman_placeholder.svg.png"/>

	<div>
		By <a href="#">Andrew Macleod</a>, 15 January 2015, TheTyee.ca
		<span class="author-info__bio">Andrew Nikiforuk has been writing about the oil and gas industry for nearly 20 years and cares deeply about accuracy, government accountability, and cumulative impacts.</span>
	</div>

</div>