<!-- Begin molecules/text/blockquote -->
<!-- For info about the difference between blockquotes, pull quotes see 
	https://quinnlabs.com/articles/pullquotes-blockquotes-and-asides-in-html5/ 
	https://www.smashingmagazine.com/2008/06/block-quotes-and-pull-quotes-examples-and-good-practices/    
-->
<!-- For info about best practices for blockquotes see 
	http://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required 
-->
<figure class="blockquote" data-dev-object-descrip="molecules/text/blockquote" data-dev-status="IN-PROGRESS">
     <blockquote>Blockquotes are marked up inside of figures. Not only does the W3C spec for figure perfectly align with our needs, it even comes with the convenient figcaption element; a perfect container for our citation. I’ve given the figure a class because there are other kinds of figures — images, tables, etc etc. </blockquote>
     <figcaption>Tim Murtaugh, <cite><a href="https://quinnlabs.com/articles/pullquotes-blockquotes-and-asides-in-html5/">More Thoughts About Blockquotes than are Strictly Required</a></cite></figcaption>
</figure>
