<!-- Begin molecules/text/lead-in-text -->
{% comment%}
    This is the last paragraph in the article. It always ends with the Tyee end-mark icon (little fish).
{% endcomment %}
<p data-dev-object-descrip="molecules/text/paragraph-with-end-mark" data-dev-status="IN-PROGRESS">
	The last paragraph in an article always ends with the Tyee end-mark icon (little fish). Nulla accumsan luctus semper. In arcu in pulvinar. Quisque consequat vehicula viverra. <a href="http://www.test.link">Quisque</a> ut sagittis tortor, at gravida sapien. Vivamus ut nibh consequat, rutrum nisl quis, iaculis sapien. {% include 00-atoms/images/end-mark-icon.html %}
</p>
