<!-- Begin molecules/text/pullquote -->
{% comment %}
<!-- For info about the difference between blockquotes, pull quotes see 
	https://quinnlabs.com/articles/pullquotes-blockquotes-and-asides-in-html5/ 
	https://www.smashingmagazine.com/2008/06/block-quotes-and-pull-quotes-examples-and-good-practices/    
-->
<!-- For info about best practices for blockquotes see article above 
-->
{% endcomment %}

<aside class="pullquote" data-dev-object-descrip="molecules/text/pullquote" data-dev-status="IN-PROGRESS">
     W3C recommends using the aside tag to mark up things like pullquotes, or related content that might go in a sidebar. Blockquotes are reserved for content quoted from another source and so they should not be used here.
</aside>
