<!-- 01-molecules/media/reader-poll -- 
Wufoo poll embed.  -->
<div class="embedded-poll">

        <div id="wufoo-q122jf0y17l4vz6">
        Fill out my <a href="https://thetyee.wufoo.com/forms/q122jf0y17l4vz6">online form</a>.
        </div>
        <script type="text/javascript">var q122jf0y17l4vz6;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'thetyee',
        'formHash':'q122jf0y17l4vz6',
        'autoResize':true,
        'height':'992',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { q122jf0y17l4vz6 = new WufooForm();q122jf0y17l4vz6.initialize(options);q122jf0y17l4vz6.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>

</div>
<!-- END 01-molecules/media/reader-poll -->

