<!-- begin 01-molecules/media/slideshow -->

<div id="slide-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/ui/img/ColdwaterBandChiefLeeSpahan_610px.jpg" alt="Hoffman">
      <div class="carousel-caption">
        Coldwater Indian Band Chief Lee Spahan next to Kinder Morgan pipeline crossing sign on his reserve. His people were given a one-time payment of $1,292 for the permanent right-of-passage. Photo Mychaylo Prystupa
      </div>
    </div>
    <div class="item">
      <img src="ui/img/KinderMorganColdwaterLeak_610px.jpg" alt="Hoffman">
      <div class="carousel-caption">
        Oil leak of the Trans Mountain pipeline on Coldwater Indian Band reserve in 2014. Source: band's lawyer.
      </div>
    </div>
    <div class="item">
      <img src="ui/img/ColdwaterMap_300px.jpg" alt="Hoffman">
      <div class="carousel-caption">
        Coldwater Indian Band's location along the Trans Mountain pipeline, which owner Kinder Morgan wants to expand pending federal approval.
      </div>
    </div>
    <div class="item">
      <img src="/ui/img/Kitten-200x138.jpg" alt="Hoffman">
      <div class="carousel-caption">
        Here's a slide caption...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- END 02-organisms/media/slideshow -->

