{% comment %}
    Atoms can be inserted in-line into the paragraph by setting parameter inline-atom="[path to the atom]". E.g:
        [% include 00-atoms/text/paragraph.html inline-atom="00-atoms/text/fact-box-anchor-link" %]
    The lorem ipsum text can be replaced using the paragraph-content parameter.
    A CUSTOM PARAGRAPH CLASS can be assigned using the custom-class parameter.
    To create an EDITOR'S NOTE use a normal paragraph and assign the class "editors-note". The editor's note should always be the first paragraph in the article-body, preceding the lead-in-paragraph (dropcap).
{% endcomment %}
<p class="{{ include.custom-class }}" >
    {% if include.paragraph-content %}
        {{ include.paragraph-content }}
    {% else %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at est mi. 
    {% if include.inline-atom %}{% include {{ include.inline-atom }}.html %}{% endif %} 
    Nulla accumsan luctus semper. In consequat laoreet arcu in pulvinar. Quisque consequat vehicula viverra. <a href="#">Quisque</a> ut sagittis tortor, at gravida sapien. Vivamus ut nibh consequat, rutrum nisl quis, iaculis sapien. {{ include.custom-parag-content }}
    {% endif %}
</p>