---
layout: default-global--new2019
page-type: article
series: Yes
permalink: /library--new2019.html
meta-category: News
title: Component Library containing (almost) all Components Found in Articles revised for 2019
description: This story page adds a new page header, footer and styles to bring the story pages into coherence with the homepage.
meta-url: "http://thetyee.ca/Culture/2016/03/25/Mean-Movies/"
meta-image: "http://thetyee.ca/Culture/2016/03/24/10-cloverfield-lane610px.jpg"
meta-contributor: Mychaylo Prystupa
meta-contributor-bio: "Mychaylo Prystupa is an award-winning freelance journalist with 14 years experience, including nine as a CBC News reporter and two at the National Observer. Find him on Twitter @mychaylo, or his website here."
meta-contributor-photo: "ui/img/mychaylo-prystupa.jpg"
meta-date: "27&nbsp;Jan&nbsp;2016"
featured-media-source: "ui/img/Hoff-525x350.png"
featured-media-caption: This is a caption describing an image inside a figure, all inside the featured-media layout section.
featured-media-credit: Photo by Hoffman
---

{% include 02-organisms/article/article__header.html %}

{% include 02-organisms/article/featured-media.html %}   <!-- NEEDS WORK add full-width format -->

{% include 02-organisms/article/article__body.html %}
