---
layout: news
page-type: section  # article, section, topic or home
series: no
permalink: /news.html
meta-category:
title: News | The Tyee
section-name:
sponsored: false
sponsor-blurb:
index-page-fact-box: false # true or false (if editors want to display info about this index page a fact-box will appear in the first row of the index list replacing the subscribe block)
meta-url: "http://thetyee.ca/news"
---


<main>
  <!-- HMPG TOPIC organism ----------------------------------- -->
  <section class="hmpg-org-recent-stories hmpg-org-recent-stories--topic hmpg-org-wrapper">
    <header class="hmpg-module-header">
      <h2 class="hmpg-module-header__main-label">News</h2>
    </header>

    <div class="hmpg-org-recent-stories__list" style="display: none;">
      <!-- FEATURED STORY  -->
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/TrudeauSinghMay.jpg" story-item-class="story-item--index-page story-item--primary" story-item-category="opinion" story-item-headline="Why Not an NDP-Green-Liberal Coalition to Battle the&nbsp;Climate Crisis?" story-item-dek="Polls suggest a minority government, but we need a full coalition. Imagine the possibilities." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge=nil %}
      <!-- TOP THREE STORIES  -->
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/JagmeetSinghParksvilleBeach.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="opinion" story-item-headline="The ‘Moderate’ NDP Hasn’t Worked. Let’s Resurrect the Regina Manifesto" story-item-dek="The CCF-NDP has buried its radical roots, and in the process become irrelevant." story-badge=nil %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/JanePhilpottIndependentAnnouncement.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="news" story-item-headline="The Forging of Jane Philpott’s Moral Will" story-item-dek="Her path to principled outcast is a five-act story suffused with religion, tragedy and Trudeau. A Tyee interview." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge=nil %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/COVER.Trudeau-Two.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="opinion" story-item-headline="Eight Hard Questions for the PM of Pipelines and Climate Emergency" story-item-dek="He says Canadians can have it both ways. The facts say otherwise." story-badge=nil %}

    </div> <!-- end of hmpg-org-recent-stories__list -->

  </section>
  <!-- end of Hmpg Topic organism -->

  <!-- HMPG RECENT STORIES organism ----------------------------------- -->
  <section class="hmpg-org-recent-stories hmpg-org-recent-stories--topic hmpg-org-wrapper section-stories">
    <div class="hmpg-org-recent-stories__list">
      <!-- FEATURED STORY  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--primary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One&nbsp;thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
      <!-- TOP THREE STORIES  -->
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--secondary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
      <!-- AD BOX  -->
      <div class="hmpg-ad-box hmpg-ad-box--bigbox">
        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing hmpg-ad-box hmpg-ad-box--bigbox" ad-source="" ad-slot="ad-bigbox" %}
      </div>
      <!-- STORY RIVER  -->
      <!-- row 1  -->
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}
      <!-- AD BOX  -->
      <div class="hmpg-ad-box hmpg-ad-box--bigbox">
        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing hmpg-ad-box hmpg-ad-box--bigbox" ad-source="" ad-slot="ad-bigbox" %}
      </div>

      <!-- LIST EXPANDER -- Recent Stories river  -->
      <input type="checkbox" id="expander--recent-stories" style="display: none;">
      <label for="expander--recent-stories" class="button button--spanrow button--expander button--expander-open">More recent stories</label>

      <!-- row 2  -->
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}
      <!-- row 3  -->
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/section-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}

        <!-- LIST EXPANDER -- CLOSE BUTTON -- Recent Stories river  -->
        <label for="expander--recent-stories" class="button button--spanrow button--expander button--expander-close">Fewer recent stories</label>

        <!-- end of Recent Stories river  -->

    </div> <!-- end of hmpg-org-recent-stories__list -->

  </section>
  <!-- end of Hmpg Recent Stories organism -->


  


  <!-- HMPG MOST organism ----------------------------------- -->
  <section class="hmpg-org-most hmpg-org-wrapper">

    <!-- Most Popular molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Popular</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Popular molecule  -->

    <!-- Most Commented molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Commented</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Commented molecule -->

    <!-- Most Emailed molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Emailed</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Emailed molecule -->

  </section>
  <!-- end of Most organism -->

</main>
