---
layout: default-global-homepage
page-type: home  # article, section, topic or home
series: no
permalink: /homepage-red.html
meta-category:
title: The Tyee | red home
section-name:
sponsored: false
sponsor-blurb:
index-page-fact-box: false # true or false (if editors want to display info about this index page a fact-box will appear in the first row of the index list replacing the subscribe block)
meta-url: "http://thetyee.ca/home"
---
<style>
  :root {
	--typeface-serif: 'Tiempos Text', georgia, serif;
	--typeface-sans: 'franklin-gothic-urw', helvetica, sans-serif;
	--typeface-item-body: 'franklin-gothic-urw', helvetica, sans-serif;
	--typeface-display: 'Tiempos Text', georgia, serif;
	--typeface-display-small: 'Tiempos Text', georgia, serif;
	--typeface-display-medium: 'Tiempos Headline', georgia, serif;
	--typeface-display-large: 'Tiempos Headline', georgia, serif;
}
  /* :root {
    --brand-colour--text-darker: hsl(350, 100%, 46%);
    --brand-colour--text: hsl(350, 100%, 46%); */
</style>


<main>
  

  <!-- HMPG RECENT STORIES organism ----------------------------------- -->
  <section class="hmpg-org-recent-stories hmpg-org-recent-stories--general hmpg-org-wrapper">
    <header class="hmpg-module-header">
      <h2 class="hmpg-module-header__main-label">Recent Stories</h2>
    </header>
    <div class="hmpg-org-recent-stories__list">
      <!-- FEATURED STORY  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--primary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One&nbsp;thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
      <!-- TOP THREE STORIES  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--secondary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" %}
      <!-- AD BOX  -->
      {% include 01-molecules/blocks/homepg-house-ad.html %}
      <!-- STORY RIVER  -->
      <!-- row 1  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}

      <!-- LIST EXPANDER -- Recent Stories river  -->
      <input type="checkbox" id="expander--recent-stories" style="display: none;">
      <label for="expander--recent-stories" class="button button--spanrow button--expander button--expander-open">More recent stories</label>

      <!-- row 2  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}
      <!-- row 3  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}

        <!-- LIST EXPANDER -- CLOSE BUTTON -- Recent Stories river  -->
        <label for="expander--recent-stories" class="button button--spanrow button--expander button--expander-close">Fewer recent stories</label>

        <!-- end of Recent Stories river  -->

    </div> <!-- end of hmpg-org-recent-stories__list -->

  </section>
  <!-- end of Hmpg Recent Stories organism -->


  <!-- HMPG TYEE INSIDER organism ----------------------------------- -->
  <section class="hmpg-org-tyee-insider hmpg-org-wrapper">

    <!-- Tyee Insider main molecule ----- -->
    <div class="m-tyee-insider__main">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Tyee Insider</h2>
        <p class="hmpg-module-header__main-label-blurb">A short one-sentence explainer blurb goes here</p>
      </header>

      <!-- Insider main story (custom html to support a float-based layout) -->
      <article class="story-item story-item--index-page story-item--primary tyee-insider__story">
      	<h2 class="story-item__headline"><a href="">Canada needs more independent journalism. Join&nbsp;us&nbsp;for fact-driven reporting.</a></h2>
        <figure class="story-item__image">
            <img src='{{ site.url }}ui/img/seniors-home.png' class="responsive-img" />
        </figure>
      	<div class="story-item__deck">
          <p>We’re an independent, online news magazine from BC. We’re devoted to fact-driven reporting and analysis that informs and enlivens our democratic conversation. Our reporting has garnered <a href="">numerous awards</a> and the respect of our peers and readers. While some journalism gives the last word to power, we try to give the last word to ordinary folks.</p>
          <p>This area will require quite a bit of text in order to balance the photo. </p>
          <p>Probably there should be two or three paragraphs&mdash;an inspiring communication directly to our dear reader, stressing the salience of The Tyee’s work: the ground-breaking reporting and insightful analysis that has wrought these jewels of pure knowledge in the light of the good and delivered them into the ancient platonic cave where the benighted citizens of the polis have languished in disinformation until a band of merry roving reporters finally released them from their shackles of ignorance and unveiled wisdom!</p>
        </div>
      </article>

      <div class="m-tyee-insider__related-stories">
        <h2 class="m-tyee-insider__related-label">And check this out…</h2>

        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}

        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}

        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
      </div>
    </div> <!-- End of Tyee Insider main  -->

  </section>
  <!-- end of Hmpg Tyee Insider organism -->


  <!-- HMPG PINNED STORY organism ----------------------------------- -->
  <section class="hmpg-org-pinned-story hmpg-org-wrapper">
	 <header class="hmpg-module-header">
	  <h2 class="hmpg-module-header__main-label">Editor’s Pick</h2>
	  <p class="hmpg-module-header__main-label-blurb">This story is making waves.</p>
	 </header>
      {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--primary story-item--reverse" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One&nbsp;thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
  </section>


<!-- comment noted / poll -->
<section class="hmpg-org-tyee-insider annex annex2 hmpg-org-wrapper">

	
	<!-- Comment Noted molecule ----- -->
	    <div class="m-comment-noted">
	      <header class="hmpg-module-header">
	        <h2 class="m-comment-noted__label">Comment Noted</h2>
	<p class="hmpg-module-header__main-label-blurb">We hear you.</p>
	      </header>
	      <h3 class="m-comment-noted__title"><a href="https://thetyee.ca/News/2021/03/11/BC-Rewriting-Regulations-To-Include-All-Gender-Identities/">Language Change Is Not Top-Down<span style="font-size: 80%;"> <br>(click to read in context)</span></a></h3>
	      <div class="m-comment-noted__body">
	        <p>Language belongs to the people.</p><br>
	
	<p>Dictionary compilers periodically research a broad category of writers and speakers for word and grammar usages not in the dictionary for their revisions.</p><br>
	
	<p>Authoritarians have no business dictating how we speak and write.</p><br>
	        
	      </div>
	      
	      <a class="story-item__author" href="https://thetyee.ca/News/2021/03/11/BC-Rewriting-Regulations-To-Include-All-Gender-Identities/">DavesNotHere, in response to The Tyee article <strong>“BC Is Rewriting 70 Different Regulations to Include All Gender Identities”</strong></a>
	    </div>
	    <!-- End of Comment Noted molecule  -->
	    <!-- Barometer molecule ----- -->
	    <div class="m-barometer">
	      <header class="hmpg-module-header">
	        <h2 class="m-barometer__label">Take Our&nbsp;Poll</h2>
	<p class="hmpg-module-header__main-label-blurb">Vote now.</p>
	      </header>
	      <div class="barometer-form-list">
	<p>Tyee Poll: Do You Think Fish Farms Should Be Banned on the Pacific Coast?</p>
	
	<ul>
	<li>Yes.</li>
	<li>No.</li>
	<li>I’m not sure.</li>
	</ul>
	      </div>
	      <a href="https://thetyee.ca/Polls/2021/04/01/Fish-Farms/"><input class="barometer-form-input button button--barometer button--dark-bg" type="submit" value="Vote Now"></a>
	      <footer class="m-barometer__footer">
	        <p class="label--small">Last week:</p>
	        <a href="/Polls/2021/03/19/Vaccine-Rollout-Demographics/?results=true"><strong>When is your demographic eligible to receive the vaccine?</strong></a>
	        <a class="text-link text-link--button" href="/Polls/2021/03/19/Vaccine-Rollout-Demographics/?results=true">Read the results of that poll here.</a>
	      </footer>
	    </div>
	    <!-- End of Barometer molecule -->

</section>

<!-- end of comment / poll -->


  <!-- HMPG DEEP DIVE organism ----------------------------------- -->
  <section class="hmpg-org-deep-dive hmpg-org-wrapper">

    <header class="hmpg-module-header">
      <h2 class="hmpg-module-header__main-label">Deep Dive</h2>
      <p class="hmpg-module-header__main-label-blurb">A short one-sentence explainer blurb might go here</p>
    </header>

    <!-- Featured Text ----- -->
    <article class="story-item story-item--index-page story-item--primary">
    	<h2 class="story-item__headline"><a href="">Big headline for deep dive context</a></h2>
    	<div class="story-item__deck">
        <p>This isn’t just a normal deck. It’s actually the entire content of a mini-story that privides the editorial context for the aritcles showcased in this module. It will never have a photo because the primary photo real estate in this module is dedicated to the main featured story.</p>
        <p>Ideally it will be two or three short paragraphs&mdash;just a pithy introduction to the topic that our dear reader is about to deep dive into, stressing the salience of the subject, the ground-breaking reporting and insightful analysis that has wrought these <a href="">jewels of pure knowledge</a> and brought them forth from the ancient platonic cave where they have languished in obscurity until a band of merry roving reporters recovered their wisdom and delivered it into the light of the good.</p>
      </div>
    </article>

    <!-- Featured story ----- -->
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge=nil %}

    <!-- Story list ----- -->
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." author-2="Amanda Follett Hosgood" author-3="Yasmin Jiwani" story-badge="series" %}
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
  </section>
  <!-- end of Deep Dive organism -->


  <!-- HMPG TOPIC organism ----------------------------------- -->
  <section class="hmpg-org-recent-stories hmpg-org-recent-stories--topic hmpg-org-wrapper">
    <header class="hmpg-module-header">
      <h2 class="hmpg-module-header__main-label">Election 2019</h2>
    </header>

    <div class="hmpg-org-recent-stories__list">
      <!-- FEATURED STORY  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TrudeauSinghMay.jpg" story-item-class="story-item--index-page story-item--primary" story-item-category="opinion" story-item-headline="Why Not an NDP-Green-Liberal Coalition to Battle the&nbsp;Climate Crisis?" story-item-dek="Polls suggest a minority government, but we need a full coalition. Imagine the possibilities." story-badge=nil %}
      <!-- TOP THREE STORIES  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/JagmeetSinghParksvilleBeach.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="opinion" story-item-headline="The ‘Moderate’ NDP Hasn’t Worked. Let’s Resurrect the Regina Manifesto" story-item-dek="The CCF-NDP has buried its radical roots, and in the process become irrelevant." story-badge=nil %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/JanePhilpottIndependentAnnouncement.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="news" story-item-headline="The Forging of Jane Philpott’s Moral Will" story-item-dek="Her path to principled outcast is a five-act story suffused with religion, tragedy and Trudeau. A Tyee interview." story-badge=nil %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/COVER.Trudeau-Two.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="opinion" story-item-headline="Eight Hard Questions for the PM of Pipelines and Climate Emergency" story-item-dek="He says Canadians can have it both ways. The facts say otherwise." story-badge=nil %}
        <a href="" class="button button--spanrow">More Election 2019</a>
    </div> <!-- end of hmpg-org-recent-stories__list -->

  </section>
  <!-- end of Hmpg Topic organism -->


  <!-- HMPG MOST organism ----------------------------------- -->
  <section class="hmpg-org-most hmpg-org-wrapper">

    <!-- Most Popular molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Popular</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Popular molecule  -->

    <!-- Most Commented molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Commented</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Commented molecule -->

    <!-- Most Emailed molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Emailed</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Emailed molecule -->

  </section>
  <!-- end of Most organism -->
  
  
  {% include 02-organisms/sections/featured-sponsor-article.html %} 


  <!-- HMPG PINNED STORY organism ----------------------------------- -->
  <section class="hmpg-org-pinned-story hmpg-org-wrapper">
	  
	   <header class="hmpg-module-header">
	  <h2 class="hmpg-module-header__main-label">Editor’s Pick</h2>
	  <p class="hmpg-module-header__main-label-blurb">This story is making waves.</p>
	 </header>
	  
    <article class="story-item story-item--index-page story-item--primary story-item--reverse">

    <figure class="story-item__image">

       <a href="">
          <!-- 00-atoms/images/image -->

    <img src="ui/img/photos/SaggingOrientalPoppies.jpg" class="responsive-img" alt="image atom">

      </a>
    </figure>

    <div class="category-label"><a href="/category-link-here/" data-bind="category">news</a></div>
    <h2 class="story-item__headline"><a href="">If Doctors Said This Was Your Last&nbsp;Spring, What&nbsp;Would You&nbsp;Do?</a></h2>
    <p class="story-item__deck">My answer has been to roam the night with pruning shears.</p>
    <div class="story-item__author"><a href="author" rel="author" class="story-item__author">Brian Brett</a> / 20 Jun 2019</div>

    </article>
  </section>


  <!-- REPORTED ELSEWHERE organism ----------------------------------- -->
  <section class="hmpg-org-reported-elsewhere hmpg-org-wrapper">

      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Reported Elsewhere</h2>
      </header>

      <div class="hmpg-org-reported-elsewhere__list">
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott<span class="story-item__news-source">CBC News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression<span class="story-item__news-source">Global News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Shortest Article Headline Published<span class="story-item__news-source">The New Yorker</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?<span class="story-item__news-source">The New York Times Magazine</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott<span class="story-item__news-source">CBC News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression<span class="story-item__news-source">The New York Times Magazine</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Shortest Article Title Published<span class="story-item__news-source">CBC News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?<span class="story-item__news-source">Global News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott<span class="story-item__news-source">The New Yorker</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression<span class="story-item__news-source">The New York Times Magazine</span></a></h2>
        </article>

        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing hmpg-ad-box hmpg-ad-box--bigbox" ad-source="" ad-slot="ad-bigbox" %}
      </div>

  </section>
  <!-- end of Reported Elsewhere organism -->


  <!-- BUILDER organism ----------------------------------- -->
  <section class="hmpg-org-builder hmpg-org-wrapper">
    <article class="builder__content">
      <h2 class="builder__headline"><a href="">Make great journalism happen</a></h2>
<!--
      <figure class="builder__image">
          <img src='{{ site.url }}ui/img/tyee-logo-builder-reversed-outline.svg' class="" />
      </figure>
-->
      <div class="builder__deck">
        <p>The Tyee is a reader-supported publication. If&nbsp;you&nbsp;value&nbsp;what&nbsp;we&nbsp;do, help&nbsp;us&nbsp;make&nbsp;it.</p>
      </div>
      <a href="" class="builder__cta button button--builder button--dark button--dark-bg">Join Tyee <span class="text-brand-colour">Builders</span></a>
    </article>
  </section>

</main>
