---
layout: default-global-homepage
page-type: home  # article, section, topic or home
series: no
permalink: /homepage.html
meta-category:
title: The Tyee | home
section-name:
sponsored: false
sponsor-blurb:
index-page-fact-box: false # true or false (if editors want to display info about this index page a fact-box will appear in the first row of the index list replacing the subscribe block)
meta-url: "http://thetyee.ca/home"
---

<main>

  <!-- HMPG RECENT STORIES organism ----------------------------------- -->
  <section class="hmpg-org-recent-stories hmpg-org-wrapper">
    <div class="hmpg-org-recent-stories__list">
      <!-- FEATURED STORY  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--primary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One&nbsp;thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
      <!-- TOP THREE STORIES  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--secondary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
      <!-- AD BOX  -->
      <div class="hmpg-ad-box hmpg-ad-box--halfpage">
        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--no-label index-list-spacing" ad-slot="ad-300x600" ad-source="" %}
      </div>
      <!-- STORY RIVER  -->
      <!-- row 1  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}

      <!-- LIST EXPANDER -- Recent Stories river  -->
      <input type="checkbox" id="expander--recent-stories" style="display: none;">
      <label for="expander--recent-stories" class="button button--expander button--expander-open">More recent stories</label>

      <!-- row 2  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}
      <!-- row 3  -->
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}

        <!-- LIST EXPANDER -- CLOSE BUTTON -- Recent Stories river  -->
        <label for="expander--recent-stories" class="button button--expander button--expander-close">Fewer recent stories</label>

        <!-- end of Recent Stories river  -->

    </div> <!-- end of hmpg-org-recent-stories__list -->

  </section>
  <!-- end of Hmpg Recent Stories organism -->


  <!-- HMPG TYEE INSIDER organism ----------------------------------- -->
  <section class="hmpg-org-tyee-insider hmpg-org-wrapper">

    <!-- Tyee Insider main molecule ----- -->
    <div class="m-tyee-insider__main">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Tyee Insider</h2>
        <p class="hmpg-module-header__main-label-blurb">A short one-sentence explainer blurb goes here</p>
      </header>

      <!-- Insider main story (custom html to support a float-based layout) -->
      <article class="story-item story-item--index-page story-item--primary tyee-insider__story">
      	<h2 class="story-item__headline"><a href="">Canada needs more independent journalism. Join&nbsp;us&nbsp;for fact-driven reporting.</a></h2>
        <figure class="story-item__image">
            <img src='{{ site.url }}ui/img/seniors-home.png' class="" />
        </figure>
      	<div class="story-item__deck">
          <p>We're an independent, online news magazine from BC. We're devoted to fact-driven reporting and analysis that informs and enlivens our democratic conversation. Our reporting has garnered numerous awards and the respect of our peers and readers. While some journalism gives the last word to power, we try to give the last word to ordinary folks.</p>
          <p>This area will require quite a bit of text in order to balance the photo. </p>
          <p>Probably there should be two or three paragraphs -- an inspiring communication directly to our dear reader, stressing the salience of The Tyee's work: the ground-breaking reporting and insightful analysis that has wrought these jewels of pure knowledge in the light of the good and delivered them into the ancient platonic cave where the benighted citizens of the polis have languished in disinformation until a band of merry roving reporters finally released them from their shackles of ignorance and unveiled wisdom!</p>
        </div>
      </article>

      <div class="m-tyee-insider__related-stories">
        <h2 class="m-tyee-insider__related-label">And check this out…</h2>

        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}

        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}

        {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
      </div>
    </div> <!-- End of Tyee Insider main  -->

    <!-- Comment Noted molecule ----- -->
    <div class="m-comment-noted">
      <header class="hmpg-module-header">
        <h2 class="m-comment-noted__label">Comment Noted</h2>
      </header>
      <h3 class="m-comment-noted__title">Uh oh. I’m a Planner and Planning Makes Housing More Expensive</h3>
      <div class="m-comment-noted__body">
        <p>Condon is correct that the the city doesn't budget as if housing was truly a top priority. So it's time for a rethink. Housing is literally foundational to organizing ourselves. Without it, our lives fall apart.</p>
        <p>At the same time, money isn't all that City Hall has in their toolbox to increase supply. The zoning incentives Condon lists here seem highly affordable.</p>
        <p>If current approaches are driving up land prices, I'd like City Hall to plan community engagement to generate more practical ideas and initiatives for affordable housing. The more heads on this one, the better.</p>
      </div>
      <a href="author" rel="author" class="story-item__author">ZweiSystem</a>
    	<div class="story-item__date">26 Feb 2019</div>
    </div>
    <!-- End of Comment Noted molecule  -->

    <!-- Barometer molecule ----- -->
    <div class="m-barometer">
      <header class="hmpg-module-header">
        <h2 class="m-barometer__label">Take Our&nbsp;Poll</h2>
      </header>
      <h3 class="m-barometer__title">How are Trudeau’s Liberals going to try and survive the SNC- Lavalin scandal?</h3>

      <ul class="barometer-form-list">
          <li class="barometer-form-list__item">
            <input type="radio" value="1" id="barometer-poll-item-1" name="barometerpoll" />
            <label class="barometer-form-label" for="barometer-poll-item-1">We did it for the jobs</label>
          </li>
          <li class="barometer-form-list__item">
            <input type="radio" value="2" id="barometer-poll-item-2" name="barometerpoll" />
            <label class="barometer-form-label" for="barometer-poll-item-2">Smear campaign of Wilson-Raybould</label>
          </li>
          <li class="barometer-form-list__item">
            <input type="radio" value="3" id="barometer-poll-item-3" name="barometerpoll" />
            <label class="barometer-form-label" for="barometer-poll-item-3">New leader time!</label>
          </li>
          <li class="barometer-form-list__item">
            <input type="radio" value="4" id="barometer-poll-item-4" name="barometerpoll" />
            <label class="barometer-form-label" for="barometer-poll-item-4">Wait it out and hope the country gets bored</label>
          </li>
          <li class="barometer-form-list__item">
            <input type="radio" value="5" id="barometer-poll-item-5" name="barometerpoll" />
            <label class="barometer-form-label" for="barometer-poll-item-5">Other</label>
          </li>
      </ul>

      <input class="barometer-form-input button button--barometer button--dark-bg" type="submit" value="Vote Now">

      <footer class="m-barometer__footer">
        <p class="label--small">Last week:</p>
        <a href="#"><strong>What you thought fully extending the subway to UBC</strong></a>
        <a class="text-link text-link--button" href="#">Read the results of that poll here.</a>
      </footer>
    </div>
    <!-- End of Barometer molecule -->

  </section>
  <!-- end of Hmpg Tyee Insider organism -->


  <!-- HMPG PINNED STORY organism ----------------------------------- -->
  <section class="hmpg-org-pinned-story hmpg-org-wrapper">
      {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--primary story-item--reverse" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One&nbsp;thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
  </section>


  <!-- HMPG DEEP DIVE organism ----------------------------------- -->
  <section class="hmpg-org-deep-dive hmpg-org-wrapper">

    <header class="hmpg-module-header">
      <h2 class="hmpg-module-header__main-label">Deep Dive</h2>
      <p class="hmpg-module-header__main-label-blurb">A short one-sentence explainer blurb might go here</p>
    </header>

    <!-- Featured Text ----- -->
    <article class="story-item story-item--index-page story-item--primary">
    	<h2 class="story-item__headline"><a href="">Big headline for deep dive context</a></h2>
    	<div class="story-item__deck">
        <p>This isn't just a normal deck. It's actually the entire content of a mini-story that privides the editorial context for the aritcles showcased in this module. It will never have a photo because the primary photo real estate in this module is dedicated to the main featured story.</p>
        <p>Ideally it will be two or three short paragraphs -- just a pithy introduction to the topic that our dear reader is about to deep dive into, stressing the salience of the subject, the ground-breaking reporting and insightful analysis that has wrought these jewels of pure knowledge and brought them forth from the ancient platonic cave where they have languished in obscurity until a band of merry roving reporters recovered their wisdom and delivered it into the light of the good.</p>
      </div>
    </article>

    <!-- Featured story ----- -->
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/TahoeMineProtestGuatemala.jpg" story-item-class="story-item--index-page story-item--secondary" story-item-category="analysis" story-item-headline="Why Guatemalan Indigenous Communities Are Fighting a Canadian Mining Giant" story-item-dek="No prior consent for damaging silver mine, say Xinka people." story-badge=nil %}

    <!-- Story list ----- -->
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/MissingWomensMarch2012_610px_front__size__thumb.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="presents" story-item-headline="CONTEST: Win tickets to Macy Gray at the TD Vancouver International Jazz Festival" story-item-dek="One lucky winner will get two tickets to an incredible show on June 28. Enter to win!" story-badge="presents" %}
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/photos/ReinaFosterHorizon.jpg" story-item-class="story-item--index-page story-item--tertiary" story-item-category="news" story-item-headline="Lessons from care: &ldquo;One thing I do recall is feeling powerless and unprotected&rdquo;" story-item-dek="Part eight in a series. Who better to ask for solutions than indigenous youth who have been in government care. Today, Reina Foster." story-badge="series" %}
    {% include 01-molecules/blocks/homepg-story-item.html content-source="ui/img/seniors-home.png" story-item-class="story-item--index-page story-item--tertiary" story-item-category="solutions" story-item-headline="A tax that would solve the housing crisis" story-item-dek="Eliminate all taxes but a levy on land, said Henry George. Here&rsquo;s why it would work." story-badge="series" %}
  </section>
  <!-- end of Deep Dive organism -->


  <!-- HMPG MOST organism ----------------------------------- -->
  <section class="hmpg-org-most hmpg-org-wrapper">

    <!-- Most Popular molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Popular</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Popular molecule  -->

    <!-- Most Commented molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Commented</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
      	<h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Commented molecule -->

    <!-- Most Emailed molecule ----- -->
    <div class="hmpg-org-most--column counter-list--story-items">
      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Most Emailed</h2>
      </header>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott</a></h2>
      </article>
      <article class="story-item story-item--index-page story-item--minimum">
        <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression</a></h2>
      </article>
    </div>
    <!-- end of Most Emailed molecule -->

  </section>
  <!-- end of Most organism -->


  <!-- REPORTED ELSEWHERE organism ----------------------------------- -->
  <section class="hmpg-org-reported-elsewhere hmpg-org-wrapper">

      <header class="hmpg-module-header">
        <h2 class="hmpg-module-header__main-label">Reported Elsewhere</h2>
      </header>

      <div class="hmpg-org-reported-elsewhere__list">
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott<span class="story-item__news-source">CBC News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression<span class="story-item__news-source">Global News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Shortest Article Headline Published<span class="story-item__news-source">The New Yorker</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?<span class="story-item__news-source">The New York Times Magazine</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott<span class="story-item__news-source">CBC News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression<span class="story-item__news-source">The New York Times Magazine</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Shortest Article Title Published<span class="story-item__news-source">CBC News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Are Conservative Senators Going to Kill Law Protecting Indigenous Rights?<span class="story-item__news-source">Global News</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">Here’s Why Ottawa’s Politicos Can’t Understand Wilson-Raybould and Philpott<span class="story-item__news-source">The New Yorker</span></a></h2>
        </article>
        <article class="story-item story-item--index-page story-item--minimum">
          <h2 class="story-item__headline"><a href="">How a Team of Women Helped Make BC a World Leader in Treating Postpartum Depression<span class="story-item__news-source">The New York Times Magazine</span></a></h2>
        </article>

        {% include 01-molecules/blocks/ad-box.html ad-size="ad-box--bigbox index-list-spacing hmpg-ad-box hmpg-ad-box--bigbox" ad-source="" ad-slot="ad-bigbox" %}
      </div>

  </section>
  <!-- end of Reported Elsewhere organism -->

</main>
