<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include meta/head.html %}
  <body class="{{ page.layout }}" id="{{ page.slug | 'front' }}">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <noscript id="js-warning">
    This page requires Javascript. Your browser either doesn't support JavaScript or you have it turned off. Please enable JavaScript before you proceed.
    </noscript>
    {% include 02-organisms/global/header.html %}
    <div id="content">
        <div class="container">
            <div class="row">
                <article class="col-md-8">
                    <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->
                    <!--Article header, including hed, dek, authour and social links-->
                    {% include 02-organisms/article/article__header.html %}
                    <section class="main">
                        {% include 02-organisms/sections/featured-media.html %}
                        <!--This is a conventional block of content, like in a typical Tyee story, where all HTML is entered into one field-->
                        {% include content.html %}
                        <!--This is a single paragraph of content, like in a Tyee series, where items like additional images, pullquotes or video are entered a field at a time-->
                        {% include paragraph.html %}
                        <!--Pullquote-->
                        {% include pullquote.html %}
                        {% include paragraph.html %}
                        {% include paragraph.html %}
                        {% include pullquote.html %}
                        {% include paragraph.html %}
                        <!--Image that breaks the containing element-->
                        {% include wide_image.html %}
                        {% include paragraph.html %}
                        <!--Video or audio player. Will likely be iframe embeds.-->
                        {% include multimedia.html %}
                        {% include paragraph.html %}
                        <!--Photo slideshow-->
                        {% include photo_gallery.html %}
                        {% include paragraph.html %}
                        <!--Standard image that does not break the containing element-->
                        {% include standard_image.html %}
                        {% include paragraph.html %}
                    </section>
                </article>
                {% include sidebar.html %}
            </div>
        </div>
    </div>
    {% include share.html %}
    {% include ask.html %}
    {% include subscribe.html %}
    {% include footer.html %}
    {% include footer_scripts.html %}
    </body>
</html>
