<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}
  <body class="{{ page.layout }}" id="{{ page.slug | 'front' }}">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <noscript id="js-warning">
    This page requires Javascript. Your browser either doesn't support JavaScript or you have it turned off. Please enable JavaScript before you proceed.
    </noscript>
{% include header.html %}

<div id="content">
    <div class="container">
        <div class="row">
        <article class="col-md-8">
        {% include story_masthead.html %}
        {% include featured_image.html %}
        {% include content.html %}
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at est mi. Nulla accumsan luctus semper. In consequat laoreet arcu in pulvinar. Quisque consequat vehicula viverra. Quisque ut sagittis tortor, at gravida sapien. Vivamus ut nibh consequat, rutrum nisl quis, iaculis sapien. </p>
            {% include pullquote.html %}

            <p>Ut ut quam quis dolor ornare mattis ultricies quis nisi. Donec vitae nibh diam. Integer porta ex non suscipit ultricies. Pellentesque in rutrum mi, faucibus pharetra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ac nisl odio. Aenean ac tortor eu metus auctor vulputate vel a velit.</p>

                  {% include wide_image.html %}
        <p>
            Ut ut quam quis dolor ornare mattis ultricies quis nisi. Donec vitae nibh diam. Integer porta ex non suscipit ultricies. Pellentesque in rutrum mi, faucibus pharetra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ac nisl odio. Aenean ac tortor eu metus auctor vulputate vel a velit.
        </p>

        {% include multimedia.html %}

        <p>
            Ut ut quam quis dolor ornare mattis ultricies quis nisi. Donec vitae nibh diam. Integer porta ex non suscipit ultricies. Pellentesque in rutrum mi, faucibus pharetra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ac nisl odio. Aenean ac tortor eu metus auctor vulputate vel a velit.
        </p>
        {% include standard_image.html %}

         <p>
            Ut ut quam quis dolor ornare mattis ultricies quis nisi. Donec vitae nibh diam. Integer porta ex non suscipit ultricies. Pellentesque in rutrum mi, faucibus pharetra lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ac nisl odio. Aenean ac tortor eu metus auctor vulputate vel a velit.
        </p>
        </article>
        <aside class="col-md-2">
            SIDEBAR
        </aside>
    </div>
    </div>
</div>

{% include footer.html %}
{% include footer_scripts.html %}
    </body>
</html>
