---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% include meta/head--2019.html %}
  <body class="{{ page.layout }} {{ page.body-class }} {% comment %}cmnt--visibility{% endcomment %} default-global--new2019 subpage" id="">

    <!-- =============================== -->
    <!-- ===== Header ===== -->

    <!-- Begin molecules/messaging/alerts--browser-support -->

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<noscript id="js-warning" data-dev-object-descrip="molecules/messaging/alerts--browser-support" data-dev-status="IN-PROGRESS">
This page requires Javascript. Your browser either doesn't support JavaScript or you have it turned off. Please enable JavaScript before you proceed.
</noscript>


    <!-- organisms/global/HEADER--HOMEPAGE-PREFIXED -->
<header class="new-site-header new-site-header--homepage">

  <!--Site Header Logo Block -->
  <div class="new-site-header__logo-block-wrapper">
  <div class="new-site-header__logo-block">
	    <!--site tagline A -->
	    <div class="new-site-header__tagline new-site-header__tagline--a">
		    Independent<br />
			journalism that swims<br />
			 against the current.<br />
	    </div>

	    <!--logo -->
	    <!-- NEW LIVE SOURCE IS <img src="/ui/img/thetyee.svg" class="new-site-header__logo-img" id="new-site-logo" alt="Tyee logo" /> -->
	    <div class="new-site-header__logo">
	      <a href="#"><img src="http://thetyee.github.io/design-article.thetyee.ca/ui/img/thetyee.svg" class="new-site-header__logo-img" id="new-site-logo" alt="Tyee logo" /></a>
	      <!--site mobile tagline CTA -->
	    </div>
	
	    <!--site tagline B .new-site-header__tagline--b deprecated -->
	    <div class="new-site-header__menu-toggle">
			<label for="new-expander--nav-menu" class="new-nav__link new-nav__burger new-site-nav-main__expander-toggle"><i class="fas fa-bars"></i></label>
	    </div>
	</div> <!--end of Site Header Logo Block -->
  </div>
	
    <!-- SITE NAV MENU -->
    <nav id="new-site-navigation" class="new-site-nav new-site-nav-main">
      <!-- MENU -- EXPANDER input checkbox toggle -->
      <input type="checkbox" id="new-expander--nav-menu" style="display: none;">
      <!-- MENU -- BURGER for narrow views -->
<!--       <label for="new-expander--nav-menu" class="new-nav__link new-nav__burger new-site-nav-main__expander-toggle">Menu</label> -->

      <!-- MENU -- FULL BAR for wide views -->
      <ul id="nav-bar">
      	<li><a class="nav-bar__link--news"href="#">News</a></li>
	  	<li><a class="nav-bar__link--analysis"href="#">Analysis</a></li>
	  	<li><a class="nav-bar__link--culture"href="#">Culture</a></li>
	  	<li><a class="nav-bar__link--solutions"href="#">Solutions</a></li>
	  	<li><label for="new-expander--nav-menu" class="nav-bar__link--more new-site-nav-main__expander-toggle">More</label></li> <!-- MENU more expander -->
	  	<li><a class="nav-bar__link--join new-btn-join" href="#">Support Us</a></li>
	  	<li><label for="new-expander--nav-menu" class="nav-bar__link--search">Search <i class="fas fa-search"></i></label></li> <!-- SEARCH expander -->
      </ul>
      <!-- SEARCH -- EXPANDER input checkbox toggle -->
      
           

      <!-- MENU -- EXPANDER dropdown -->
      <div class="new-site-nav__dropdown">
          <!-- SEARCH  -->
          <div class="new-site-nav__search-dropdown">
            <form id="new-search-form" class="new-site-nav__search-form" method="get" role="search" action="/Newsearch">
              <input id="new-search-form-input" type="text" class="form-control form-text" placeholder="Search" name="q">
              <input type="hidden" name="domains" value="thetyee.ca">
              <input type="hidden" name="sitesearch" value="thetyee.ca" checked="checked">
              <input type="hidden" name="client" value="pub-2188005021510640">
              <input type="hidden" name="forid" value="1">
              <input type="hidden" name="ie" value="UTF-8">
              <input type="hidden" name="oe" value="UTF-8">
              <input type="hidden" name="hl" value="en">
              <button type="submit" class="button new-site-nav__search-form-button">Search</button>
            </form>
          </div> <!-- end of Search  -->
          <!-- SECTION SUBMENU -->
          <!-- expander input checkbox toggle for section submenu -->
          <input type="checkbox" id="new-expander--nav-menu-section-submenu" style="display: none;">
          <label for="new-expander--nav-menu-section-submenu" class="new-site-nav__dropdown-heading new-site-nav__dropdown-heading-sections new-site-nav__dropdown-expander-toggle ">Sections</label>
          <!-- section submenu content -->
          <div class="new-expander-content new-expander-content__section-submenu">
	          <ul>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section "href="#">News</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="#">Analysis</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="#">Culture</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="#">National</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item new-nav__link--dropdown-item-section"href="#">Solutions</a></li>
	          </ul>
          </div>
          <!-- TOPICS SUBMENU -->
          <!-- expander input checkbox toggle for Topics submenu -->
          <input type="checkbox" id="new-expander--nav-menu-topics-submenu" style="display: none;">
          <label for="new-expander--nav-menu-topics-submenu" class="new-site-nav__dropdown-heading new-site-nav__dropdown-heading-topics new-site-nav__dropdown-expander-toggle ">Topics</label>
          <!-- Topics submenu content -->
          <div class="new-expander-content new-expander-content__topics-submenu">
	          <ul>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">BC Politics</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Education</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Energy</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Environment</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Federal Politics</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Film</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Food</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Gender & Sexuality</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Health</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Housing</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Labour & Industry</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Indigenous Affairs</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Local Media</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Municipal Politics</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Music</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Rights & Justice</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Science & Tech</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Transportation</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Travel</a></li>
	            <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Urban Planning & Architecture</a></li>
	          </ul>
          </div>
          <!-- MORE SUBMENU -->
          <!-- expander input checkbox toggle for More submenu -->
          <input type="checkbox" id="new-expander--nav-menu-more-submenu" style="display: none;">
          <label for="new-expander--nav-menu-more-submenu" class="new-site-nav__dropdown-heading new-site-nav__dropdown-heading-more new-site-nav__dropdown-expander-toggle ">More</label>
          <!-- More submenu content -->
          <div class="new-expander-content new-expander-content__more-submenu">
          <ul>
		         <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Advertise</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">About Us</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">The Barometer</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Contact</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Contributors</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Funding</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Jobs</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Events</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Newsletter</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Privacy Policy</a></li>
		         <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Submissions</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Support The Tyee</a></li>
		          <li><a class="new-nav__link new-nav__link--dropdown-item"href="#">Weekly Archives</a></li>
          	</ul>
          </div>
          <!-- misc new-nav -->
          <a class="new-nav__link new-nav__link--join new-btn-join" href="#">Support Us</a>
          <a class="new-nav__link new-nav__link--newsletter"href="#">Newsletter</a>
          <a class="new-nav__link new-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a>
          <a class="new-nav__link new-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a>
      </div> <!-- end of Site-Nav Dropdown -->

    </nav> <!-- end of Site Navigation --> 

</header>



    <!-- =============================== -->

    

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">   

        <h1 class="" data-bind="title">Contact us</h1>

</header>


   <!-- NEEDS WORK add full-width format -->

<!-- Begin organisms/article/article__body -->

<article class="article__body main-col-container" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">
    <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->

    <div class="container-fluid clearfix">

        <!--An ASIDE containing a FACT BOX. This aside will be hidden in narrow viewports. -->
        <!-- Begin 01-molecules/blocks/aside -->



        <!-- Begin molecules/text/lead-in-text -->


        <p class="first">To contact The Tyee with <strong>general inquiries</strong>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('info' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
<p>Visit our <a href="#">Frequently Asked Questions</a> page for help on newsletter subscriptions, financial contributions, and more.</p>
                          <p>You can also reach us by regular mail. <br/></p>
                          <p><strong>The Tyee<br /> 
PO Box 28187 <br />
West Pender St <br />
Vancouver, BC V6C 3T7
 </strong>
<hr /></p>
                          <p><strong>To contact the Tyee editor or a writer:</strong> <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('editor' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p>Please make all requests for journalist contact information through the editors' email box. It is our policy to protect the privacy of our journalists, meaning we cannot distribute telephone phone numbers — other than those listed below — without individual consent.</p>
                          <p><strong>To submit or suggest a story:</strong> click <a href="/About/Submissions/">here</a>.</p>
                          <p><strong>For information about advertising:</strong> contact <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('adsales' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>To support The Tyee financially, visit our <a href="https://support.thetyee.ca/">support site</a> or send an email :</strong> <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('builders' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT> to become a Tyee Builder. Just $5/month can make a difference.<br /></strong></p>
                          <p><hr /></p>
                          <p><h3>Editorial</h3></p>
                          <p>Toll-free: 1-844-301-6677 <br>
Vancouver: (604) 689-7489</p>
                          <p><strong>Editor in chief</strong><br />
<a href="https://thetyee.ca/Bios/Robyn_Smith/">Robyn Smith</a>, extension 102, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('rsmith' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Editor for initiatives</strong> <br />
<a href="https://thetyee.ca/Bios/David_Beers/">Dave Beers</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('dbeers' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Senior editor</strong> (Victoria, B.C.) <br />
<a href="https://thetyee.ca/Bios/Paul_Willcocks/">Paul Willcocks</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('pwillcocks' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Associate editor</strong> <br />
<a href="https://thetyee.ca/Bios/Olamide_Olaniyan/">Olamide Olaniyan</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('oolaniyan' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Home page editor</strong> (Victoria, B.C.) <br />
<a href="https://thetyee.ca/Bios/Tara_Campbell/">Tara Campbell</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('tcampbell' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Culture editor</strong> <br />
<a href="https://thetyee.ca/Bios/Dorothy_Woodend/">Dorothy Woodend</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('dwoodend' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Education and youth issues reporter</strong> <br />
<a href="http://thetyee.ca/Bios/Katie_Hyslop/">Katie Hyslop</a>, extension 107, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('khyslop' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Health reporter</strong> <br />
<a href="https://thetyee.ca/Bios/Moira_Wyton/">Moira Wyton</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('mwyton' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT>
Twitter: <a href="https://twitter.com/moirawyton">@moirawyton</a></p>
                          <p><strong>Northern BC reporter</strong> (Smithers, B.C.) <br />
<a href="https://thetyee.ca/Bios/Amanda_Follett_Hosgood/">Amanda Follett Hosgood</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('afolletthosgood' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT><br></p>
                          <p><strong>Reporter</strong><br /> <a href="http://thetyee.ca/Bios/Christopher_Cheung/">Christopher Cheung</a>, extension 105, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('ccheung' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT>
</p>
                          <p><strong>Reporter</strong> <br />
<a href="https://thetyee.ca/Bios/Jen_St__Denis/">Jen St. Denis</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('jstdenis' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>BC legislative bureau chief</strong> (Victoria, B.C.) <br /> <a href="/Bios/Andrew_MacLeod/">Andrew MacLeod</a>, (250) 885-7662, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('amacleod' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT><br></p>
                          <p><hr/></p>
                          <p><h3>Business / Advertising </h3></p>
                          <p>Toll-free: 1-844-301-6677<br>
Vancouver: (604) 689-7489</p>
                          <p><strong>Publisher</strong><br />
<a href="https://thetyee.ca/Bios/Jeanette_Ageson/">Jeanette Ageson</a>, extension 104, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('jageson' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p></p>
                          <p><strong>Outreach manager</strong><br />
<a href="https://thetyee.ca/Bios/Emma_Cooper/">Em Cooper</a> (they/them), extension 101, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('ecooper' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Social media manager</strong> (Toronto, Ont.) <br />Sarah Krichel, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('skrichel' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT><br></p>
                          <p><hr /></p>
                          <p><h3>Technical contacts</h3></p>
                          <p><strong>Director, web production</strong><br />
<a href="/Bios/Bryan_Carney/">Bryan Carney</a>, Extension 103, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('bcarney' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><hr/></p>
                          <p><h3>Acknowledgements</h3></p>
                          <p><strong>Fast, secure, and proudly-Canadian web hosting</strong><br />
<a href="https://gt.net">GT.net</a></p>
                          <p><strong>Legal counsel</strong><br /> The Tyee is represented by the law firm of <b><a href="http://www.mbwlaw.ca" target="_blank">McGrady and Co</a>, </b>Vancouver, Canada.</p>



    </div> <!--END .container-fluid-->

</article>

<!-- END organisms/article/article__body -->



    <!-- =============================== -->
    <!-- ===== Tertiary components ===== -->

    
    
    <footer class="article-footer clearfix main-col-container">
	    <div class="container-fluid">
		    
		<!-- BEGIN 01-molecules/blocks/messaging-block--builder -->



    
	    <!-- BEGIN 01-molecules/blocks/messaging-block--share -->



    <!--E-mail share modal -->
    <div class="modal fade" id="share-email" tabindex="-1" role="dialog" aria-labelledby="share-email-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="share-email-label">Share article via email</h4>
                </div>
                <div class="modal-body">

                    <div id="errors"></div>
                    <div id="messages"></div>

                    <form role="form" id="share">
                        <div class="form-group">
                            <label for="email_to">Send this article to:</label>
                            <textarea class="form-control" rows="2" placeholder="Enter one email address, or multiple (up to 10) separated with a comma or one on each line." name="email_to" id="email_to"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="email_from">Your email address:</label>
                            <input type="email" class="form-control" name="email_from" id="email_from" placeholder="" />
                        </div>
                        <div class="form-group">
                            <label for="message">Your message:</label>
                            <textarea class="form-control" name="message" id="message" rows="3" placeholder="Please write more than a couple of words here. It's how we know you're not an evil Internet-spamming robot.  This message will be stored on a 
server to keep evidence of misuse." 
></textarea>
                        </div>
                        <div class="form-group" >
                            <label for="subscription">Would you like to receive The Tyee's headlines free by email?</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subscription" id="sub-daily" value="Daily">
                                    Yes, every day.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subscription" id="sub-weekly" value="Weekly">
                                    Yes, once a week.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subscription" id="sub-alreadysubscribed" value="Already subscribed">
                                    I already subscribe.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subscription" id="sub-nothanks" value="No thanks">
                                    No, thanks.
                                </label>
                            </div>
                            <span id="radio-error"></span>

                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <button type="button" id="showForm" class="btn btn-link" style="display:none;">Show form again &raquo;</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- END 01-molecules/blocks/messaging-block--share -->

	    
	    <!-- BEGIN 01-molecules/blocks/messaging-block--subscribe -- -->
<section class="messaging-block messaging-block--subscribe" data-dev-object-descrip="01-molecules/blocks/messaging-block--subscribe" data-dev-status="IN-PROGRESS" id="subscribesection">
    <h3>Get The Tyee in your inbox</h3>
    <form class="hidden-xs">
        <input type="hidden" name="slid" value="6B5869DC547D3D46CFC60A3DF69EE7EB" />
        <input type="hidden" name="cmd" value="subscribe" />
        <input type="hidden" name="errors_to" value="" />
        <input type="hidden" name="custom_pref_tyeenews_casl" value="1" />
        <input type="hidden" id="format_mime" name="format" value="mime" />
        <div class="input-group">
            <input type="text" name="email" class="email-subscribe form-control" placeholder="Enter your email address...">
            <span class="input-group-addon">
                <select id="bigoption" class="frequency">
                    <option value="custom_pref_enews_daily">Daily</option>
                    <option value="custom_pref_enews_weekly">Weekly</option>
                    <option value="custom_pref_enews_national">National (weekly)</option>
                </select>
            </span>
            <span class="input-group-btn">
                <button id="big" class="btn btn-default btn--subscribe" type="button">Subscribe now</button>
            </span>
        </div><!-- /input-group -->
        <span class="help-block small"><a href="#" data-toggle="modal" data-target="#privacyModal">Privacy policy</a></span>
    </form>
    <form class="hidden-sm hidden-md hidden-lg">
            <input type="hidden" name="slid" value="6B5869DC547D3D46CFC60A3DF69EE7EB" />
            <input type="hidden" name="cmd" value="subscribe" />
            <input type="hidden" name="errors_to" value="" />
            <input type="hidden" name="custom_pref_tyeenews_casl" value="1" />
            <input type="hidden" id="format_mime" name="format" value="mime" />
            <input type="text" name="email" class="email-subscribe form-control" placeholder="Enter your email address...">
            <select class="form-control subscribe-frequency frequency" id="smalloption">
                <option value="custom_pref_enews_daily">Daily</option>
                <option value="custom_pref_enews_weekly">Weekly</option>
                <option value="custom_pref_enews_national">National (weekly)</option>
            </select>
            <button id="small" class="btn btn-default btn--subscribe form-control" type="button">Subscribe now</button>
        <span class="help-block small"><a href="#" data-toggle="modal" data-target="#privacyModal">Privacy policy</a></span>
    </form>

</section>
<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your privacy is important to us.</h4>
            </div>
            <div class="modal-body">
                <p>When subscribing to a newsletter edition you'll also get early notice on Tyee events, news, promotions, partner messages and special initiatives.</p>
                <p>Further to the provision of the Personal Information Protection Act, personal information is kept confidential by TheTyee.ca and will not be sold, traded, released, shared or distributed to any other individuals, organizations or agencies without prior consent or notification.</p>
                <p>Measures have been enacted to ensure the integrity of personal information and to protect it from misuse, loss or alteration. All information submitted to The Tyee is only available to employees or sub-contractors who are bound by agreement with The Tyee to keep the information private. E-mail addresses are only used for the purposes of Tyee-related correspondence or comment moderation.</p>
                <p>If you have concerns related to your privacy please contact us at <a href="mailto:info@thetyee.ca">info@thetyee.ca</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END 01-molecules/blocks/messaging-block--subscribe -->

	    
	    </div>	        
    </footer>

  


    <!-- =============================== -->
    <!-- ===== Footer ===== -->

    <footer class="site-footer site-footer--homepage hmpg-org-wrapper">

  <a href="/" class="site-footer__logo-container"><img src="../ui/img/tyee-logo-reversed.svg" class="site-footer__logo" alt="Tyee logo" /></a>
  <div class="links-group">
    <h2>The Tyee</h2>
    <ul>
    <li><a href="#">About The Tyee</a></li>
    <li><a href="#">Advertise</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Funding</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Master Classes</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Submissions</a></li>
    <li><a href="#">Support The Tyee</a></li>
    <li><a href="#">Advertise</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Articles</h2>
    <ul>
    <li><a href="#">News</a></li>
    <li><a href="#">Culture</a></li>
    <li><a href="#">Opinion</a></li>
    <li><a href="#">National</a></li>
    <li><a href="#">Mediacheck</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Publications</a></li>
    <li><a href="#">Tyee News</a></li>
    <li><a href="#">Weekly Archives</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Columns</h2>
    <ul>
    <li><a href="#">Steve Burgess</a></li>
    <li><a href="#">Ian Gill</a></li>
    <li><a href="#">Crawford Killian</a></li>
    <li><a href="#">Andrew Nikiforuk</a></li>
    <li><a href="#">Dorothy Woodend</a></li>
    </ul>
  </div>
  <div class="links-group">
    <h2>Your Account</h2>
    <ul>
    <li><a href="#">Follow The Tyee</a></li>
    <li><a href="#">Subscribe by email</a></li>
    </ul>
  </div>
  <div class="links-group social">
	  <ul>
    <li><a class="facebook" href="#" title="Follow us on Facebook" aria-label="Follow us on Facebook"><i class="fab fa-facebook"></i></a></li>
    <li><a class="twitter" href="#" title="Follow us on Twitter" aria-label="Follow us on Twitter"><i class="fab fa-twitter"></i></a></li>
	  </ul>
  </div>

</footer>


    <footer class="site-footer site-footer-IE">
	<div class="container">

			<ul class="footer__menu col-sm-9 col-md-10">
				<li><a href="#">Subscribe</a></li>
				<li><a href="#">Advertise</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#" class=""><svg id="Layer_1" class="dollar-heart-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.07 27.56"><defs><style>.heart-bg{fill:var(--yellow);}.heart-text{fill:#5f6066;}</style></defs><path class="heart-bg dollar-heart-icon" d="M15,4.3C12.54-2.46,0-1.46,0,8.77c0,5.1,3.83,11.88,15,18.79,11.2-6.91,15-13.69,15-18.79C30.07-1.4,17.54-2.5,15,4.3Z"/><path class="heart-text" d="M14.69,20.35a5.62,5.62,0,0,1-4.14-2.52l1.68-1.33a3.89,3.89,0,0,0,2.46,1.82V14.73c-1.76-.64-3.58-1.65-3.58-3.83a3.73,3.73,0,0,1,3.58-3.53V5.86h1.14V7.37a5.4,5.4,0,0,1,3.42,1.84l-1.62,1.35a3.38,3.38,0,0,0-1.8-1.14V13A.52.52,0,0,0,16,13c1.92.72,3.54,1.57,3.54,3.84,0,2.07-1.67,3.28-3.74,3.47v1.52H14.69Zm0-7.85V9.42a1.59,1.59,0,0,0-1.38,1.48C13.31,11.67,13.79,12.09,14.69,12.5Zm1.14,2.65V18.3c.83-.15,1.55-.61,1.55-1.44S16.82,15.56,15.83,15.15Z"/></svg>
<span>Join</span></a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="footer__social-links [ col-xs-12 col-sm-3 col-md-2 ]">
				<li class="[ col-xs-6 col-sm-6 col-md-6 ]"><a class="facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
				<li class=" [ col-xs-6 col-sm-6 col-md-6 ]"><a class="twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
			</ul>

	</div>
</footer>

<script src="../ui/js/FitVids/min/jquery.fitvids-min.js"></script>
    <script src="../ui/js/article_custom.js" type="text/javascript" charset="utf-8"></script>
<script src="../ui/js/article_share.js" type="text/javascript" charset="utf-8"></script>
<script src="../ui/js/polyfill.min.js"></script>
<script src="../ui/js/ads.js"></script>



<script>
  jQuery(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    jQuery('iframe[src*="youtube"]').parent().fitVids();
  });
</script>

<!-- Run Baseline-element.js to resize images so that they conform to the baseline grid. Set baseline variable to the baseline height and set the selector for the elements to be sized. https://github.com/betsol/baseline-element -->
<script type="text/javascript">
    var baseline = 18;
    $('.responsive-img').baselineElement(baseline);
</script>

<!-- This implements the :has Pseudo-Class selector from editor's draft of the CSS Selectors Level 4 as described here: http://www.ericponto.com/blog/2015/01/10/has-pseudo-class-parent-selector/. Requires jquery, polyfill.js)-->
<script>
    Polyfill({
        selectors: [":has"]
    }).doMatched(rules => {
        rules.each(rule => {
            // just pass it into jQuery since it supports `:has`
            $(rule.getSelectors()).css(rule.getDeclaration())
        });
    });
</script>
    <!-- BEGIN 02-organisms/sections/subscription-popup -->
<script>
jQuery( document ).ready( function( $ ) {
	$('.new-nav__burger').click(function() {
        //e.preventDefault();       
			  if ( $('.new-site-nav__dropdown').is(":hidden")) {
			  	$('.new-nav__burger .fas').removeClass('fa-bars').addClass('fa-times');
			  	} else {
				  	$('.new-nav__burger .fas').removeClass('fa-times').addClass('fa-bars');
				}
		$('#new-search-form-input').focus();		
	});  
});	
</script>

    </body>

</html>
