---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% include meta/head--2019.html %}
  <body class="{{ page.layout }} {{ page.body-class }} {% comment %}cmnt--visibility{% endcomment %} default-global--new2019 subpage">

    <!-- =============================== -->
    <!-- ===== Header ===== -->

    {% include 01-molecules/messaging/alerts--browser-support.html %}
    {% comment %}
    {% include 01-molecules/messaging/highlight-bar.html %}
    {% endcomment %}

    {% include 02-organisms/global/header--homepage-prefixed.html %}


    <!-- =============================== -->

    

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">   

        <h1 class="" data-bind="title">Contact us</h1>

</header>


   <!-- NEEDS WORK add full-width format -->

<!-- Begin organisms/article/article__body -->

<article class="article__body main-col-container" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">
    <!--These are includes for each modular element (if i've missed any let me know and I can build it out). These are all includes and can be found in the _includes folder. -->

    <div class="container-fluid clearfix">

        <!--An ASIDE containing a FACT BOX. This aside will be hidden in narrow viewports. -->
        <!-- Begin 01-molecules/blocks/aside -->



        <!-- Begin molecules/text/lead-in-text -->


        <p class="first">To contact The Tyee with <strong>general inquiries</strong>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('info' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
<p>Visit our <a href="#">Frequently Asked Questions</a> page for help on newsletter subscriptions, financial contributions, and more.</p>
                          <p>You can also reach us by regular mail. <br/></p>
                          <p><strong>The Tyee<br /> 
PO Box 28187 <br />
West Pender St <br />
Vancouver, BC V6C 3T7
 </strong>
<hr /></p>
                          <p><strong>To contact the Tyee editor or a writer:</strong> <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('editor' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p>Please make all requests for journalist contact information through the editors' email box. It is our policy to protect the privacy of our journalists, meaning we cannot distribute telephone phone numbers — other than those listed below — without individual consent.</p>
                          <p><strong>To submit or suggest a story:</strong> <a href="/About/Submissions/">view our submissions page</a>.</p>
                          <p><strong>For information about advertising:</strong> contact <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('adsales' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>To support The Tyee financially, visit our <a href="https://support.thetyee.ca/">support site</a> or send an email :</strong> <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('builders' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT> to become a Tyee Builder. Just $5/month can make a difference.<br /></strong></p>
                          <p><hr /></p>
                          
<div class="contacts-list">                       
	<p><h3>Editorial</h3></p>
                          <p>Toll-free: 1-844-301-6677 <br>
Vancouver: (604) 689-7489</p>
                          <p><strong>Editor in chief</strong><br />
<a href="https://thetyee.ca/Bios/Robyn_Smith/">Robyn Smith</a>, extension 102, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('rsmith' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Editor for initiatives</strong> <br />
<a href="https://thetyee.ca/Bios/David_Beers/">Dave Beers</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('dbeers' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Senior editor</strong> (Victoria, B.C.) <br />
<a href="https://thetyee.ca/Bios/Paul_Willcocks/">Paul Willcocks</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('pwillcocks' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Associate editor</strong> <br />
<a href="https://thetyee.ca/Bios/Olamide_Olaniyan/">Olamide Olaniyan</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('oolaniyan' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Home page editor</strong> (Victoria, B.C.) <br />
<a href="https://thetyee.ca/Bios/Tara_Campbell/">Tara Campbell</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('tcampbell' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Culture editor</strong> <br />
<a href="https://thetyee.ca/Bios/Dorothy_Woodend/">Dorothy Woodend</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('dwoodend' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Education and youth issues reporter</strong> <br />
<a href="http://thetyee.ca/Bios/Katie_Hyslop/">Katie Hyslop</a>, extension 107, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('khyslop' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Health reporter</strong> <br />
<a href="https://thetyee.ca/Bios/Moira_Wyton/">Moira Wyton</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('mwyton' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT>
Twitter: <a href="https://twitter.com/moirawyton">@moirawyton</a></p>
                          <p><strong>Northern BC reporter</strong> (Smithers, B.C.) <br />
<a href="https://thetyee.ca/Bios/Amanda_Follett_Hosgood/">Amanda Follett Hosgood</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('afolletthosgood' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT><br></p>
                          <p><strong>Reporter</strong><br /> <a href="http://thetyee.ca/Bios/Christopher_Cheung/">Christopher Cheung</a>, extension 105, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('ccheung' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT>
</p>
                          <p><strong>Reporter</strong> <br />
<a href="https://thetyee.ca/Bios/Jen_St__Denis/">Jen St. Denis</a>, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('jstdenis' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>BC legislative bureau chief</strong> (Victoria, B.C.) <br /> <a href="/Bios/Andrew_MacLeod/">Andrew MacLeod</a>, (250) 885-7662, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('amacleod' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT><br></p>
                          <p><hr/></p>
                          <p><h3>Business / Advertising </h3></p>
                          <p>Toll-free: 1-844-301-6677<br>
Vancouver: (604) 689-7489</p>
                          <p><strong>Publisher</strong><br />
<a href="https://thetyee.ca/Bios/Jeanette_Ageson/">Jeanette Ageson</a>, extension 104, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('jageson' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p></p>
                          <p><strong>Outreach manager</strong><br />
<a href="https://thetyee.ca/Bios/Emma_Cooper/">Em Cooper</a> (they/them), extension 101, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('ecooper' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
                          <p><strong>Social media manager</strong> (Toronto, Ont.) <br />Sarah Krichel, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('skrichel' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT><br></p>
                          <p><hr /></p>
                          <p><h3>Technical contacts</h3></p>
                          <p><strong>Director, web production</strong><br />
<a href="/Bios/Bryan_Carney/">Bryan Carney</a>, Extension 103, <SCRIPT TYPE="text/javascript">
  emailE = 'thetyee.ca'
  emailE = ('bcarney' + '@' + emailE)
  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
</script>
<NOSCRIPT>
  Email address protected by JavaScript
</NOSCRIPT></p>
</div><!-- /contacts-list -->
                          <p><hr/></p>
                          <p><h3>Acknowledgements</h3></p>
                          <p><strong>Fast, secure, and proudly-Canadian web hosting</strong><br />
<a href="https://gt.net">GT.net</a></p>
                          <p><strong>Legal counsel</strong><br /> The Tyee is represented by the law firm of <b><a href="http://www.mbwlaw.ca" target="_blank">McGrady and Co</a>, </b>Vancouver, Canada.</p>



    </div> <!--END .container-fluid-->

</article>

<!-- END organisms/article/article__body -->


  {% include 02-organisms/global/footer-global.html %}

    {% include 02-organisms/global/footer-IE-fallback.html %}

    {% include footer_scripts_standard.html %}


    </body>

</html>

    
    
    
