<html>

<body>
<div id="poll">
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cscript src='" + host + "thetyee.wufoo.com/scripts/widget/embed.js?w=TwuslashDxIxHXJ046VDM1BAfgkIfyOhdFg2UEJ17v0Na6By4=' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cscript src='" + host + "thetyee.wufoo.com/scripts/widget/embed.js?w=Jl3U23cIOfIZ2OjLssiY1dWrH8ljufuXcKfzIOu86f4=' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

<script language="javaScript">
function resize()
{
    window.parent.autoResize();
}

window.addEventListener("resize", resize);

</script>
</body>
</html>
