---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% include meta/head--2019.html %}

  <body class="article-series index" id="">

    <!-- =============================== -->
    <!-- ===== Header ===== -->

    {% include 01-molecules/messaging/alerts--browser-support.html %}
    {% comment %}
    {% include 01-molecules/messaging/highlight-bar.html %}
    {% endcomment %}

    {% include 02-organisms/global/header--homepage-prefixed.html %}


    <!-- =============================== --> 
    

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->

<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">

    <div class="container-fluid">

            <!-- 00-atoms/images/series-badge -->

<a href="#series-listview-link" class="series-badge badge--headline-placement"><img src="http://thetyee.github.io/design-article.thetyee.ca/ui/img/badge-series.svg"></a>
            <h6 class="category-label"><a href="/category-link-here/" data-bind="category">News</a></h6>
        <h1 class="" data-bind="title">Fixing a Family Housing Crisis</h1>
<!-- <h4 data-bind="teaser">A series on the housing crisis</h4> -->
        <!-- Begin molecules/blocks/tool-bar -->

    </div> <!--END .container-fluid -->

</header>

<!-- Begin organisms/article/article__body -->

<article class="article__body main-col-container" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">

    <div class="container-fluid clearfix article-image">
	    
		<!-- Replace with 01-molecules/blocks/figure -->
		<figure class="figure {{ include.figure-class }}" data-dev-object-descrip="01-molecules/blocks/figure" data-dev-status="IN-PROGRESS">
			<img width="960" height="639" src="http://www.thetyee.ca/News/2020/05/13/StefaniaSecciaSonMax.jpg" class="responsive-img" width="960" alt="StefaniaSecciaSonMax.jpg" />
				<figcaption class="caption">Stefania Seccia and son Max: ‘We just see homeownership as a way to secure our future. I kind of hate that that dream seems so unrealistic.’ <span class="caption__media--credit"></span></figcaption>
		</figure>
        
    </div>
        
        <div class="container-fluid clearfix">                
                          <p>Four years ago, a spike in home prices and rent rates spurred B.C. residents to call for change and politicians to respond with new taxes to prevent speculation, and funding to build housing. Then the COVID-19 crisis hit. In this special series, Jen St. Denis reports in-depth on how families are faring in Metro Vancouver’s housing market, whether new policies are making an impact, and how to build a resilient housing system post-pandemic.</p>
                          <p>This series is produced with financial support from SFU Vancity Office of Community Engagement. Support for this project does not necessarily imply endorsement of the findings nor content of this report. Funders neither influence nor endorse the particular content of reporting. Other publications wishing to publish this series, contact The Tyee <a href=”mailto:rsmith@thetyee.ca”>here</a>.</p>
                        
                      </div>
                    </div>
                       <div class="share-tools" style="opacity:0;position:fixed;">
    <a href="#" title="Share article via email" data-toggle="modal" data-target="#share-email"><img src="/ui/img/share-via-email.png" alt="Share article via email" /></a>
    <a href="javascript:window.print()" title="Print this article"><img src="/ui/img/print-this-story.png" alt="Print this article" /></a>
    <div class="fb-like" data-href="http://thetyee.ca/Series/2020/04/23/Fixing-A-Family-Housing-Crisis/" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false" data-font="lucida grande" data-action="recommend"></div>
            &nbsp;
            <div id="twitterwrap">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thetyee.ca/Series/2020/04/23/Fixing-A-Family-Housing-Crisis/" data-via="TheTyee" data-hashtags="">Tweet</a>
            </div>
<!--There was a onload script here for the Twitter widget, but it's been moved to the GTM onload tag-->
</div>
                  </div>
                  <div class="container-fluid clearfix series-list-wrapper">
                    <div class="content-main">
                      <div class="block block-article_list">
                        <div class="block-inner">
                          <h2 class="title">In This Series</h2>
                          <div class="content">
                          <div class="article-list news">
                            <div class="photo-insert"><a href="/News/2020/04/23/Canada-Housing-System-Cracking-Under-Crisis/"><img src="http://www.thetyee.ca/News/2020/04/23/MazdakGharibnavazBalcony_newcover_size_thumb.jpg" width="146" height="112" alt="MazdakGharibnavazBalcony.jpg" /></a></div>
                            <div class="article-list-content">
                              <h4><a href="/News/2020/04/23/Canada-Housing-System-Cracking-Under-Crisis/">Canada’s Housing System Is Cracking under the Crisis</a></h4>
                              <p>Renters are asking why they should pay their landlords, while landlords fear losing their own housing.</p>
                              <p class="meta"><a class="contrib-link" title="Bio page for Jen St. Denis" href="/Bios/Jen_St__Denis/">Jen St. Denis</a>, 23 Apr 2020</p>

                            </div>
                          <br clear="all" />
                          </div>
                          <div class="article-list news">
                            <div class="photo-insert"><a href="/News/2020/05/11/The-Human-Cost-Of-Making-Social-Housing-Scarce/"><img src="http://www.thetyee.ca/News/2020/05/10/Evangeline-D_newcover_size_thumb.jpg" width="146" height="112" alt="Evangeline-D.jpg" /></a></div>
                            <div class="article-list-content">
                              <h4><a href="/News/2020/05/11/The-Human-Cost-Of-Making-Social-Housing-Scarce/">No Escape: The Human Cost of Making Social Housing Scarce</a></h4>
                              <p>Rental discrimination and a big BC Housing backlog are leaving desperate single moms out in the cold.</p>
                              <p class="meta"><a class="contrib-link" title="Bio page for Jen St. Denis" href="/Bios/Jen_St__Denis/">Jen St. Denis</a>, 11 May 2020</p>

                            </div>
                          <br clear="all" />
                          </div>
                          <div class="article-list news">
                            <div class="photo-insert"><a href="/News/2020/05/14/Families-Falling-Off-Housing-Ladder/"><img src="http://www.thetyee.ca/News/2020/05/13/StefaniaSecciaSonMax_newcover_size_thumb.jpg" width="146" height="112" alt="StefaniaSecciaSonMax.jpg" /></a></div>
                            <div class="article-list-content">
                              <h4><a href="/News/2020/05/14/Families-Falling-Off-Housing-Ladder/">Shut Out: How Families Have Fallen Off the Housing Ladder</a></h4>
                              <p>Owning a home was once the Canadian dream. In Vancouver, it’s out of reach for most.</p>
                              <p class="meta"><a class="contrib-link" title="Bio page for Jen St. Denis" href="/Bios/Jen_St__Denis/">Jen St. Denis</a>, 14 May 2020</p>

                            </div>
                          <br clear="all" />
                          </div>
                          <div class="article-list news">
                            <div class="photo-insert"><a href="/News/2020/05/18/Evicted-Renting-Families-Lose-Home-After-Home/"><img src="http://www.thetyee.ca/News/2020/05/17/Goss-main_newcover_size_thumb.jpg" width="146" height="112" alt="Goss-main.jpg" /></a></div>
                            <div class="article-list-content">
                              <h4><a href="/News/2020/05/18/Evicted-Renting-Families-Lose-Home-After-Home/">Evicted: Renting Families Lose Home after Home after Home</a></h4>
                              <p>In Metro Vancouver, it’s tough to put down roots. Will new rent laws and speculation taxes help?</p>
                              <p class="meta"><a class="contrib-link" title="Bio page for Jen St. Denis" href="/Bios/Jen_St__Denis/">Jen St. Denis</a>, 18 May 2020</p>

                            </div>
                          <br clear="all" />
                          </div>
                          <div class="article-list news">
                            <div class="photo-insert"><a href="/News/2020/05/21/Indigenous-Housing-Crisis-Things-Getting-Better/"><img src="http://www.thetyee.ca/News/2020/05/21/WomanBeadsTable_newcover_size_thumb.jpg" width="146" height="112" alt="WomanBeadsTable.jpg" /></a></div>
                            <div class="article-list-content">
                              <h4><a href="/News/2020/05/21/Indigenous-Housing-Crisis-Things-Getting-Better/">Indigenous Housing Has Been In Crisis. Things Are Getting Better</a></h4>
                              <p>Deanna Pointe’s family was shattered by the Sixties Scoop. Now she heads a three-generation family in East Vancouver.</p>
                              <p class="meta"><a class="contrib-link" title="Bio page for Jen St. Denis" href="/Bios/Jen_St__Denis/">Jen St. Denis</a>, 21 May 2020</p>

                            </div>
                          <br clear="all" />
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>


    </div> <!--END .container-fluid-->

</article>

<!-- END organisms/article/article__body -->



    <!-- =============================== -->
    <!-- ===== Tertiary components ===== -->

    
    
    <footer class="article-footer clearfix main-col-container">
	    <div class="container-fluid">
		    
		{% include /01-molecules/blocks/messaging-block--builder.html %}
    
	    {% include /01-molecules/blocks/messaging-block--share.html %}
	    
	    {% include /01-molecules/blocks/messaging-block--subscribe.html %}
	    
	    </div>	        
    </footer>

    {% include 02-organisms/sections/latest-stories.html %}    <!-- NEEDS WORK -->


    {% include 02-organisms/sections/comments.html %}          <!-- NEEDS WORK -->
    
    {% assign barometer = 'true' %}
    
    {% include 02-organisms/sections/messaging-zone.html %}


    <!-- =============================== -->
    <!-- ===== Footer ===== -->

    {% include 02-organisms/global/footer-global.html %}

    {% include 02-organisms/global/footer-IE-fallback.html %}

    {% include footer_scripts_standard.html %}

    {% include 02-organisms/sections/subscription-modal.html %}


    </body>

</html>
