---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% include meta/head--2019.html %}
  <body class="{{ page.layout }} {{ page.body-class }} {% comment %}cmnt--visibility{% endcomment %} default-global--new2019 subpage" id="{{ page.slug | 'front' }}">

    <!-- =============================== -->
    <!-- ===== Header ===== -->

    {% include 01-molecules/messaging/alerts--browser-support.html %}
    {% comment %}
    {% include 01-molecules/messaging/highlight-bar.html %}
    {% endcomment %}

    {% include 02-organisms/global/header--homepage-prefixed.html %}


    <!-- =============================== -->
<!-- Begin organisms/article/article__header -->
<!--Article header, including hed, dek, author and social links-->
<header class="article__header" data-dev-object-descrip="organisms/article/article__header" data-dev-status="IN-PROGRESS">   
        <h1 class="" data-bind="title">Our Team</h1>
</header>

<!-- Begin organisms/article/article__body -->

<article class="article__body main-col-container" data-dev-object-descrip="organisms/article/article__body" data-dev-status="IN-PROGRESS">

    <div class="container-fluid clearfix">

<img src="{{ site.url }}ui/img/team/JD_5784_web.jpg" alt="JD_5784_web" width="617" height="411" alt="Our team in the office" class="top-photo">


<div class="team-grid">
	<div class="person">
		<img src="{{ site.url }}ui/img/team/fish-teamshot.png" alt="Tyee Fish" width="200" height="200">	
		<div class="name">The Tyee Fish</div>
		<div class="title">Mascot</div>	
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam... <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/jeanette-placeholder.jpg" width="200" height="200" alt="Jeanette Ageson">	
		<div class="name">Jeanette Ageson</div>
		<div class="title">Publisher</div>	
		<p>Jeanette Ageson is publisher with The Tyee. <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/robyn-placeholder.jpg" width="200" height="200" alt="Robyn Smith">	
		<div class="name">Robyn Smith</div>
		<div class="title">Editor-in-Chief</div>	
		<p>Robyn Smith is editor in chief of The Tyee. She began her journalism career in 2010 as a Tyee intern and became editor in chief in 2015. Robyn oversees an... <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/dave-placeholder.jpg" width="200" height="200" alt="David Beers">	
		<div class="name">David Beers</div>
		<div class="title">Editor for Initiatives</div>	
		<p>David Beers was founding editor of The Tyee in 2003 and serves as its editor for initiatives. Previous to The Tyee he served as a high-level editor at... <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/Paul-Willcocks-Bio_square_thumb.jpeg" width="200" height="200" alt="Paul Willcocks">	
		<div class="name">Paul Willcocks</div>
		<div class="title">Senior Editor</div>	
		<p>Paul Willcocks is a journalist and former publisher of newspapers, and now an editor with The Tyee. <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/andreabennettHeadshot_square_thumb.jpeg" width="200" height="200" alt="andrea bennett">	
		<div class="name">andrea bennett</div>
		<div class="title">Senior Editor</div>	
		<p>andrea bennett is an editor with The Tyee and the author of <em>Like a Boy but Not a Boy</em> (Arsenal Pulp), a CBC Books' pick for the top Canadian non-fiction... <a href="https://thetyee.ca/Bios/andrea_bennett/">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/dorothy-placeholder.jpg" width="200" height="200" alt="Dorothy Woodend">	
		<div class="name">Dorothy Woodend</div>
		<div class="title">Culture Editor</div>	
		<p>Dorothy Woodend is the culture editor for The Tyee. Born in Vancouver, Dorothy was raised on the East Shore of Kootenay Lake, where nothing ever happened. <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/ola-placeholder.jpg" width="200" height="200" alt="Olamide Olaniyan">	
		<div class="name">Olamide Olaniyan</div>
		<div class="title">Associate Editor</div>	
		<p>Olamide Olaniyan is associate editor at The Tyee. <a href="#">view full bio</a></p>
	</div>
	
	<div class="person">
		<img src="{{ site.url }}ui/img/team/tara-placeholder.jpg" width="200" height="200" alt="Tara Campbell">	
		<div class="name">Tara Campbell</div>
		<div class="title">Home Page Editor/Copy Chief</div>	
		<p>Tara Campbell is home page editor for The Tyee. <a href="#">view full bio</a></p>
	</div>
</div>

<h2>Board of Directors</h2>

<div class="team-grid">
	<div class="person">
		<img src="{{ site.url }}ui/img/team/fish-teamshot.png" alt="" width="200" height="200" alt="andrea bennett">	
		<div class="name">Deblekha Guin</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam... <a href="#">view full bio</a></p>
	</div>
	<div class="person">
		<img src="{{ site.url }}ui/img/team/fish-teamshot.png" alt="" width="200" height="200" alt="andrea bennett">	
		<div class="name">Michelle Hoar</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam... <a href="#">view full bio</a></p>
	</div>
	<div class="person">
		<img src="{{ site.url }}ui/img/team/fish-teamshot.png" alt="" width="200" height="200" alt="andrea bennett">	
		<div class="name">Peter Klein</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam... <a href="#">view full bio</a></p>
	</div>
	<div class="person">
		<img src="{{ site.url }}ui/img/team/fish-teamshot.png" alt="" width="200" height="200" alt="andrea bennett">	
		<div class="name">Melody Ma</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam... <a href="#">view full bio</a></p>
	</div>
</div>




    </div> <!--END .container-fluid-->

</article>

<!-- END organisms/article/article__body -->






    <!-- =============================== -->
    <!-- ===== Footer ===== -->

    {% include 02-organisms/global/footer-global.html %}

    {% include 02-organisms/global/footer-IE-fallback.html %}

    {% include footer_scripts_standard.html %}


    </body>

</html>

