/* ==========================================================================
   Globals & Mixins
   ========================================================================== */

/* ==========================================================================
   #Variables
   ========================================================================== */

/* ==========================================================================
   #BASE (Global) (This mostly applies to the Atoms)
   ========================================================================== */

body {
  background-color: #f0f0f0;
  font-family: "Lucida Grande", Verdana, sans-serif;
}


/* Type */

h1,
h2,
h3,
h4 {
  font-family: "franklin-gothic-urw-cond", sans-serif;
}


/* ==========================================================================
   #LAYOUT
   (Layout rules divide the page into sections. Layouts hold one or more modules
    together. These apply largely to the Organism and Template levels. They 
    are kind of like helper classes. https://smacss.com/book/type-layout )
   ========================================================================== */





/* ==========================================================================
   #MODULES 
   (Modules are the reusable, modular parts of our design. They are the 
   callouts, the sidebar sections, the product lists and so on. These apply 
   largely to the Molecule and Organism levels)
   ========================================================================== */

/**
 * PRIMARY-NAV molecule
 */

.site-nav {
  margin-bottom: 0px;
  border: none;
  background-color: inherit;
}

.navbar-brand {
  height: 100%;
  padding-left: 0px;

}

#site-logo {
  width: 170px;
  /* display:block;
  float: left;
  margin-top: 0px;
  padding-top: 0px;
  background: none; */
  
}

header h2#org-logo {
  text-indent: -5000px;
  background: url('../../ui/img/tyee_logo.png') no-repeat top left;
  margin-top: 10px;
  padding-top: 80px;
}

.site-nav .navbar-toggle {
  border: none;
  margin-right: 0px;
}
.site-nav .navbar-toggle .icon-bar {
  height: 4px;
}


#content {
  background: #ffffff;
  padding-bottom: 40px;
}

footer.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}




/**
 * COMMENT module
 * (not really a module, more like a helper class)
 * This displays the browser annotations on Organisms and molecules. 
 * These classes exist only for prototyping and should be removed in production.
 */

.cmnt { }

    pre.cmnt__remark {
      display: none;
      border: none;
      background:none;
      color: Tomato ;
      font-size: 1em;
      margin: 0;
      padding: 5px 0px 10px 5px;
    }

    .cmnt--visibility:hover .cmnt__remark {
      display: block;
    }

.cmnt--organism {border: 1px solid pink; }

    .cmnt--visibility:hover .cmnt--organism {
      border: 1px solid Tomato ;
    }

.cmnt--molecule {border: 1px solid LightBlue;}

    .cmnt--visibility:hover .cmnt--molecule {
      border: 1px solid DodgerBlue;
    }

    .cmnt--molecule pre.cmnt__remark {
      color: DodgerBlue ;
    }



/* ==========================================================================
   STATES 
   (A state is something that augments and overrides all other styles. 
   State styles can apply to layout and/or module styles; and State styles 
   indicate a JavaScript dependency.
   For example, an accordion section may be in a collapsed or expanded state. 
   A message may be in a success or error state. Eg: .is-collapsed or .is-error 
   So again, something like a helper class. 
   But sometimes there may be a state that is specific to a particular object.
   Eg: .is-tab-active
   https://smacss.com/book/type-state)
   ========================================================================== */





/* ==========================================================================
   Progressively enhance for larger screens 
   ========================================================================== */
@media screen and (min-width: 768px) {
  /* Adjust for large desktop */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust for standard desktop */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* portrait tablets */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* Put high-resolution display styles here */
}





/* ==========================================================================
   Print styles.
   Should be inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


