/**
 * Everything in this file is namespaced under .article-feature-wide which is
 * the layout class for the article feature (wide) component. This layout 
 * displays a fullscreen, full-bleed hero image with the headline layered
 * on top.
 */

/* Adjust basic header so that it can be superimposed on hero image */

.article-feature-wide .header-basic:not(.header-basic--clone, .header-basic--nav) {
    color: white;
    background-color: transparent;
}

.article-feature-wide .header-basic:not(.header-basic--clone, .header-basic--nav) .weekenderLabel path {
    fill: white;
}

.article-feature-wide .header-basic:not(.header-basic--clone, .header-basic--nav) .logo img {
    filter: invert(1);
}

/* Full-bleed hero image */

.article-feature-wide .article-hero {
    margin-top: calc(-1 * var(--header-height));
    display: grid;
    max-width: 1800px;
    margin-inline: auto;
}

.article-feature-wide .article-hero figure {
    float: none;
    padding: 0;
    margin: 0;
    grid-area: 1/1;
    background-color: black;
}

.article-feature-wide .article-hero figure img {    
    display: block;
    width: 100%;
    height: auto;
    min-height: 75vh;
    object-fit: cover;
    filter: brightness(0.8);
}

/* Position headline on top of hero image */

.article-feature-wide .article-hero .article-headline {
    grid-area: 1/1;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    max-height: 95vh;
    color: white;
    text-wrap: balance;
}

.article-feature-wide .article-hero .article-headline .container-fluid {
    margin-inline: 0;
}

.article-feature-wide .article-hero .article-headline .container-fluid,
.article-feature-wide .article-hero[data-headline-x="left"] .article-headline .container-fluid,
.article-feature-wide .article-hero[data-headline-y="bottom"] .article-headline .container-fluid {
    padding-inline: var(--page-margin-sides);
    text-align: left;
    max-width: 120ch;
}

.article-feature-wide .article-hero[data-headline-x="centre"] .article-headline .container-fluid {
    text-align: center;
}

.article-feature-wide .article-hero[data-headline-x="centre"] .article-headline .container-fluid {
    margin-inline: auto;
}

.article-feature-wide .article-hero[data-headline-x="right"] .article-headline .container-fluid {
    text-align: right;
    margin-left: auto;
}

@media screen and (min-width: 600px) {
    .article-feature-wide .article-hero[data-headline-y="middle"] .article-headline {
        align-items: center;
    }
}

/* Background for headline */

.article-feature-wide .article-hero {
    overflow: hidden;
}

.article-feature-wide .article-headline .container-fluid {
    position: relative;
    text-shadow: 0 0 70px rgba(0, 0, 0, 0.6);
}

.article-feature-wide .article-headline .container-fluid::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 100px 100px;
    z-index: -1;
    opacity: 0.4;
}

/* Typography */

.article-feature-wide .article-headline h1 {
    font-size: clamp(2em, 4vw, 3em) !important;
}

/* Series, Presents, and Poll badges and labels */

.article-feature-wide .article-hero .series-badge {
    display: none;
}

.article-feature-wide .tyee-presents-label,
.article-feature-wide .tyee-series-label,
.article-feature-wide .poll-label {
    width: auto;    
    padding-inline: 0;
    background-color: transparent;
    color: white;
    opacity: 0.9;
}

.article-feature-wide .tyee-presents-label,
.article-feature-wide .tyee-presents-label:hover,
.article-feature-wide .tyee-series-label,
.article-feature-wide .tyee-series-label:hover,
.article-feature-wide .poll-label,
.article-feature-wide .poll-label:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.article-feature-wide .tyee-presents-label a,
.article-feature-wide .tyee-series-label a,
.article-feature-wide .poll-label a {
    display: block;
}

.article-feature-wide .tyee-presents-label a::before,
.article-feature-wide .poll-label a::before {
    font-size: .9em;
    font-weight: 700;
    letter-spacing: .06em;
}

.article-feature-wide .tyee-presents-label a::before {
    content: "TYEE PRESENTS: ";
}

.article-feature-wide .poll-label a::before {
    content: "THE BAROMETER: ";
}

/* Caption */

.article-feature-wide .hero-caption {
    margin-inline: auto;
    border-bottom: none;
    font-size: 0.8em;
}

.article-feature-wide .hero-caption > .container-fluid {
    max-width: 150ch;
}

.article-feature-wide .article-hero[data-headline-x="left"] + .hero-caption {
    margin-left: 0;
    padding-inline: 0;
}

.article-feature-wide .article-hero[data-headline-x="left"] + .hero-caption > .container-fluid {
    margin-left: 0;
    padding-inline: var(--page-margin-sides);
}

.article-feature-wide .article-hero[data-headline-x="right"] + .hero-caption {
    margin-right: 0;
    padding-inline: 0;
}

.article-feature-wide .article-hero[data-headline-x="right"] + .hero-caption > .container-fluid {
    margin-right: 0;
    padding-inline: var(--page-margin-sides);
    text-align: right;
    text-wrap: balance;
}

.article-feature-wide .article-hero[data-headline-x="centre"] + .hero-caption {
    max-width: 92rem;
}

@media screen and (min-width: 850px) {
	.article-feature-wide .hero-caption {
		padding-inline: 17px;
	}
}

/* Vertical spacing */

.article-feature-wide .article-headline h1 {
    margin-bottom: 0.5em;
}

.article-feature-wide .tags {
    margin-block-start: 2.5rem;
}

.article-feature-wide .article-byline {
    margin-block: 2rem;
}

/* Inline margins for tags & byline should match .article__header. Copying here... */

.article-feature-wide .tags,
.article-feature-wide .article-byline {
	max-width: 49em;
	margin-inline: auto;
}

@media screen and (min-width: 850px) {
	.article-feature-wide .tags,
    .article-feature-wide .article-byline {
		padding-inline: 17px;
	}
}
