/* ==========================================================================
   Sally's css goes in this file. It will eventually be integrated into 
   article.css. 
   ========================================================================== */

/* ==========================================================================
   #BASE (Global) (This mostly applies to the Atoms)
   ========================================================================== */

 .site__header{
    background-color: #dee3ab;
    width: 100%;
 }

/* ==========================================================================
   #LAYOUT
   (Layout rules divide the page into sections. Layouts hold one or more modules
    together. These apply largely to the Organism and Template levels. They 
    are kind of like helper classes. https://smacss.com/book/type-layout )
   ========================================================================== */







/* ==========================================================================
   #MODULES 
   (Modules are the reusable, modular parts of our design. They are the 
   callouts, the sidebar sections, the product lists and so on. These apply 
   largely to the Molecule and Organism levels)
   ========================================================================== */
 

 /* == BOOTSTRAP OVERRIDES == */

.site-nav {
  padding-top: 0px;
}

.site-nav .navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.menu__left-nav .open > a, .menu__left-nav .open > a:hover, .menu__left-nav .open > a:focus,
.menu__left-nav > li > a:hover, .menu__left-nav > li > a:focus,
.menu__right-nav .open > a, .menu__right-nav .open > a:hover, .menu__right-nav .open > a:focus,
.menu__right-nav > li > a:hover, .menu__right-nav > li > a:focus  {
  background-color: transparent;
}


/* NARROW NAV, TOP ONLY ========================================================================== */
  
.narrow-menu{
  min-height: 52px;
  padding-top: 5px;
  position: relative
}
.menu__hamburger{
  border: none;
  display: block;
  min-height: 40px;
  min-width: 40px;
  float: left;
  background-color: transparent;
}
.menu__hamburger:focus {
  outline:0;
} 
.menu__hamburger span {
  text-transform: uppercase;
  float: left;
  padding: 5px;
}
.menu__hamburger i {
    padding: 10px 0px;
}
.narrow-menu__logo{
  max-width: 100%;
  min-width: 100%;
}
.menu {
  width: 100vw;
}
.menu img {
  max-width: 100%;
}
.menu__content-wrapper {
  padding: 0px;
  background-color: #f8f9ed;
}
.menu__left-nav, .menu__right-nav, .menu__left-nav li, .menu__right-nav li{
  padding-left: 5px;
  font-size: 0.95em;
}
.menu__left-nav li, .menu__right-nav li{
  border-bottom: solid 1px #859c01;
}
.menu__left-nav > li a, .menu__right-nav > li a{
  text-transform: uppercase;
  color: #555;
}
.menu__left-nav > .open a, .menu__right-nav > .open a, .menu__left-nav > .open , .menu__right-nav > .open, {
  color: #859c01;
  background-color: #eef1d4;
  border-bottom: none;
}
.narrow__search {
  position: static;
  display: block;
}
.menu__search--button{
  background-color: #859c01;
  color: #fff;
}
.menu__search--wrapper {
  width: 100vw;
}
.search-block .dropdown-toggle {
  padding: 10px;
  color: rgba(118, 118, 117, 1);
}
.search-block .dropdown-menu, .search-block .dropdown-menu .navbar-form {
  margin: 8px 0px 0px 0px;
  border: none;
  border-radius: 0px;
}
.search-block .glyphicon {
  font-size: 1.2em;
}


/* LATEST STORIES ========================================================================== */ 

.latest-stories {
  background-color: #f8f9ed;
  color: #859c01;
}
.latest-stories a {
  color: #859c01;
}
.latest-stories__media-wrapper{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.latest-stories__media-wrapper li:first-child{
  border-top: solid 1px #859c01;
}
.latest-stories__media-wrapper li{
  color: #555;
  border-bottom: solid 1px #859c01;
  line-height: 1.75em;
}
.latest-stories__media-wrapper li:last-child{
  border-bottom: none;
}
.latest-stories__media-wrapper .media {
  margin-top: 0px;
  text-align: left;
}
.latest-stories__media-wrapper .media .media-image {
  padding: 15px 0px;
}
.latest-stories__hed {
  color: #859c01;
  font-size: 1em;
  line-height: 1.25em;
  font-weight: bold;
}
.latest-stories__dek {
  font-size: 1em;
  line-height: 1.25em;
}
.latest-stories .latest-stories__media-wrapper .media .latest-stories__date,  .latest-stories .latest-stories__media-wrapper .media .latest-stories__authour {
  text-transform: capitalize;
  color: grey;
  font-style: oblique;
  font-size: 0.8em;
}

/* SECTIONS ========================================================================== */ 

.sections, .sections ul, .sections__categories, .sections__list-one, .sections__list-two, .sections__list-three, .sections__list-four, .sections__list-five {
  padding: 0px;
}
.sections ul {
  list-style-type: none;
}
.sections__categories ul li, .sections__categories ul li a {
  color: #859c01;
  font-weight: bold;
}
.sections__list-four ul li:last-child {
  border-bottom: none;
}

 /* SLIDESHOW ========================================================================== */

.slideshow img {
  min-width: 100%;
}
.slideshow a {
  background: #90AD00;
  color: #fff;
}
.slideshow .slidesjs-previous:before {
  content: '< ';
}
.slideshow .slidesjs-previous{
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}
.slideshow .slidesjs-next{
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}
.slideshow .slidesjs-next:after {
  content: ' >';
}
.slideshow ul {
  display: inline-block;
  margin-top: 10px;
  float: right;
}
.slideshow ul li{
  display: inline;
  margin: 0px 3px;
}
.slideshow ul li a {
  padding: 4px 10px;
  border-radius: 100%;
}


/* ==========================================================================
 STATES 
 (A state is something that augments and overrides all other styles. 
 State styles can apply to layout and/or module styles; and State styles 
 indicate a JavaScript dependency.
 For example, an accordion section may be in a collapsed or expanded state. 
 A message may be in a success or error state. Eg: .is-collapsed or .is-error 
 So again, something like a helper class. 
 But sometimes there may be a state that is specific to a particular object.
 Eg: .is-tab-active
 https://smacss.com/book/type-state)
 ========================================================================== */









/* ==========================================================================
 Progressively enhance for larger screens 
 ========================================================================== */


/* 768 AND UP ========================================================================== */ 
@media (min-width: 768px) {

  /* BOOTSTRAP OVERRIDES */

  /* == Overrides rounded corners, padding and default Bootstrap borders on nav == */
  .navbar {
    border-radius: 0px;
    border-bottom: solid 1px #859c01;
    background-color: #dee3ab;
  }
  .dropdown-menu {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    left: 0;
  }
  .navbar-collapse {
    padding: 0px;
  }

  /* == Overrides the hover and active states from Bootstrap === */
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #859c01 !important;
  }

  /* == Turns off relative positioning so the dropdowns will align on the left === */
  .nav >li {
    position: static;
  }
  .menu__left-nav, .menu__right-nav {
    position: static;
    padding-left: 20px;
  }
  .menu__left-nav li, .menu__right-nav li{
    padding: 0px;
  }
  /* == Floats primary list items for horizontal wide nav ===== */
  .menu ul > li {
    float: left;
  }

  /* == Turns off defaults fonts and layout on the nav buttons ===== */
  .site-nav {
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
  }

  /* == turns off default handling for .open ===== */
  .menu__left-nav .open a, .block--site-header .menu__right-nav .open a, .menu__left-nav .open, .menu__right-nav .open{
    color: #859c01;
    background-color: transparent;
  }

  /* WIDE NAV ========================================================================== */ 

  .menu__content-wrapper {
    background-color: transparent;
    padding: 0px 30px;
  }
  .menu__left-nav >li, .menu__right-nav >li {
    padding-left: 0px;
  }
  .menu__left-nav > li > a, .menu__right-nav > li > a, .dropdown-toggle {
    padding: 22px 5px;
    display: inline-block;
    color: #555;
  }
  .menu__left-nav li, .menu__right-nav li {
    border-bottom: none;
  }
  .menu__logo {
    padding: 5px 0px;
  }
  .menu__logo img{
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(1%);
  }
  .menu__facebook{
    margin: 0px 10px;
  }
  .menu__twitter {
    margin: 0px 0px 0px 5px;
  }

  /* LATEST STORIES  SLIDER ========================================================================== */ 


  .latest-stories .latest-stories__media-wrapper{
    border-bottom: solid 1px #859c01;
    background-color: #fafbf2;
    padding: 10px;
  }

  .latest-stories .latest-stories__media-wrapper li:first-child{
    border-left: solid 1px #859c01;
    border-bottom: none;
    border-top: none;
  }
  .latest-stories .latest-stories__media-wrapper li {
    border-right: solid 1px #859c01;
    padding: 0px 10px 10px 10px;
    position: relative;
    border-bottom: none;
    border-top: none;
    min-height: 265px;
  }
  .latest-stories .latest-stories__media-wrapper li:last-child {
    border-right: none;
  } 
  .latest-stories .media {
    display: inline-block;
    text-align: left;
  }
  .latest-stories__hed {
    line-height: 1.55em;
    margin-bottom: 5px;
  }
  .latest-stories__dek {
    line-height: 1.5em;
  }
  .latest-stories .media .media-image{
    padding: 0px 5px;
  }
  .latest-stories .media .media-image img{
    min-width: 100%;
  }
  .latest-stories .media .media-body {
    height: 100%;
    position: relative;
    padding: 0px 5px;
  }
  .latest-stories .media .media-meta {
    bottom: 0px;
    position: absolute;
    padding: 0px 5px;
  }

  /* SECTIONS NAV ========================================================================== */ 
  .sections {
    padding: 20px;
    background-color: #fafbf2;
  }
  .menu__sections ul li {
    width: 100%;
  }
  .sections ul {
    overflow: hidden;
    text-align: left
  }
  .sections ul li {
    clear:both;
    padding: 5px 0px;
  }
  .sections ul li a {
      text-transform: capitalize;
  }
  .sections__categories ul {
    text-align: left;
    border-right: solid 1px #859c01;
  }
  .sections__categories ul li a{
    text-transform: uppercase;
  }
  .sections__list-one {
    padding-left: 40px;
  }

  /* SEARCH NAV ========================================================================== */ 

  .menu__search ul{
    background-color: #fafbf2;
    padding: 20px 0px;
  }
  .menu__search .form-control{
    width: 100%;
  }
    .search-block .dropdown-toggle {
    padding: 22px;
}


}

@media(max-width:992px){

  .menu__content-wrapper {
      padding: 0px;
  }
  .menu__logo {
    padding: 10px;
  }


}
