/* ==========================================================================
   Globals & Mixins
   ========================================================================== */

/* ==========================================================================
   #FONTS
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic,900,900italic,300,300italic);


/* ==========================================================================
   #BASE (Global) (This mostly applies to the Atoms)
   ========================================================================== */

body {
  background-color: #fff;
}


/* Type */

Html {
  font-size: 18px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39em;
  color: #404040;
}


h1,
h2,
h3,
h4 {
  font-family: ;
}

h1 {
  font-family: Georgia, Serif;
  font-weight: 800;
  font-size: 1.625em;
  line-height: 1.21em;
  margin-bottom: 0.25em;
}

    /* BREAKPOINT: 600px // Increase article headline size */
    @media screen and (min-width: 600px) {

        h1 {
            font-size: 2.4em;
            line-height: 1.136em;
        }
    }

h2 {
  color: #424242;
  font-family: Georgia, Serif;
  font-weight: 800;
  font-size: 1.5em; /* 27px */
  line-height: 1.333em; /* 36px */
  margin-top: 1.555em; /* 42px */
  margin-bottom: .666em; /* 18px */
}

h3 {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  color: #444;
}

h4 {
  font-size: 1.42em;
  font-weight: 300;
  line-height: 1.4em;
}
    .article__header h4 {
      margin-top: 0px;
    }

    /* BREAKPOINT: 600px // Increase article title size */
    @media screen and (min-width: 600px) {

        .article__header h4 {
            margin-top: 10px;
        }
    }

h5 {
  margin-top: 1em;
  font-family: Georgia, Serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.18518519em;
  color: #424242 ;
}

h6 {
  display: inline-block;
  margin-top: 2.4em;
  margin-bottom: 0;
  border-bottom: 2px solid #90AD00;
  padding-bottom: 0.15em;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .04em
}

p {
  margin-bottom: 1em;
}


/* READ-MORE atom */

.read-more {
  font-weight: 600;
  letter-spacing: .0125em;
  text-transform: uppercase;

}



/* ARROW ICON atom */

.arrow-svg {
  vertical-align: text-top; 
}


/* DOLLAR HEART ICON atom */

.dollar-heart-svg {
   height: 1.25em;
   width: auto;
   vertical-align: middle;
   margin-right: -0em;
}



/* LINKS  ========================================================================== */

a, a:link, a:visited {color: #82AD00}
a:hover {color: #6F9400;}
a:active {color: #82AD00;}

/* Text links within paragraphs get a dotted underscores */
p a, p a:link, p a:visited {color: #82AD00; font-weight:600; border-bottom: 1.5px dotted #82AD00;}
p a:hover {color: #6F9400;}



.pullquote {
  position: relative;
  width: 95%;
  margin: 1.33em 0em 1.33em 0em;
  padding-left: 2.125em;
  padding-right: 1.75em;
  font-family: Georgia, Serif;
  font-weight: 800;
  font-size: 1.15em;
  line-height: 1.333em;
}

    .pullquote:before {
        content: "Ã¢â‚¬Å“";
        display: block;
        position:absolute;
        left: 0em;
        top: -.15em;
        color: #bbb;
        font-size: 3.5em;
        font-weight: bold;
        line-height: 1em;    
        /* 
        background-color: #fff;
        clip: rect(16px, 50px, 44px, 0px); 
        */
    }


    /* .pullquote:after {
        content: "Ã¢â‚¬Â";

        position:absolute;
        padding-left: 0.075em;
        top:;
        right: ;
        font-size: 3.5em;
        font-weight: bold;
        line-height: 1.04em;
    } */



.lead-in:first-letter {
    display: block;
    overflow: hidden;
    float: left;
    padding-right: 0.06em;
    padding-bottom:0;
    margin-top: -0.07em;
    margin-bottom: -0.1em;
    font-family: Georgia, Serif;
    font-weight: 800;
    font-size: 5em;
    line-height: 1em;
    text-transform: capitalize;
    color: #424242;
}



/* CAPTIONS  ========================================================================== */

.caption {
    padding-top: .65em;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #A8A8A8;
    font-size: 0.777em;
    font-weight: 700;
    line-height: 1.5em;
}

    .caption__media--credit {
        font-weight: 300;
    }



/* ==========================================================================
   #LAYOUT
   (Layout rules divide the page into sections. Layouts hold one or more modules
    together. These apply largely to the Organism and Template levels. 
    https://smacss.com/book/type-layout )
   ========================================================================== */



/* ARTICLE LAYOUT  ========================================================================== */


.article__header { /* article__header is always centered on the page */
  max-width: 45em;
  margin: 0 auto 0 auto;
}

    /* BREAKPOINT: 640px // Increase page margin */
    @media screen and (min-width: 640px) {
        
        .article__header {
          padding-left: 1em;
          padding-right: 1em;
        }
        
    }



.featured-media { /* featured-media organism is centered on the page and occupies full page column 
                     width at medium and small view widths */
  max-width: 45em;
  margin: 0 auto 0 auto;
  padding-top: 1em;
}

    /* BREAKPOINT: 640px // Increase page margin */
    @media screen and (min-width: 640px) {
        
        .featured-media {
          padding-left: 1em;
          padding-right: 1em;
        }
    }
    
    /* BREAKPOINT: 1120px // At views wider than 1120px the feature-media organism shrinks 
       and sits left-aligned to make room for the adjacent bigbox--1st-position */
    @media screen and (min-width: 1120px) {
        .featured-media {
             position: relative;
             max-width: 34em;
             margin: 0;
             padding-left: 0;
             padding-right: 0;

        }
        
    }



.article__body {
     padding-bottom: 2em;
}


.main-col-container {/* the text column remains centred after hitting its max width. */
     position: relative;
     max-width: 34em;
     margin: 0;
     margin-left: auto;
     margin-right: auto;
}

    /* BREAKPOINT: 880px // aligns text column flush left with the article__header */
    @media screen and (min-width: 880px) {
        /* When viewport exceeds the max-width of the article__header ...  */
        .main-col-container, 
        .featured-media {
          margin-left: auto;
          margin-right: auto;
          left: -4.5em; /* = ( [article__header max-width] - [article__body max-width] - [padding&margins] ) / 2 */
          /* ... centers article__body and offsets towards left to align with article__header.
             It keeps the article__body aligned flush left with the article__header. */
        }
    }




/* ==========================================================================
   #MODULES 
   (Modules are the reusable, modular parts of our design. They are the 
   callouts, the sidebar sections, the product lists and so on. These apply 
   largely to the Molecule and Organism levels)
   ========================================================================== */

/**
 * PRIMARY-NAV molecule
 */

    .site-nav {
      margin-bottom: 0px;
      padding-top: 18px;
      padding-bottom: 0px;
      border: none;
      background-color: inherit;

    }

    .navbar-header {
      padding-bottom: 15px;
    }

    .navbar-brand {
      height: 100%;
      margin-top: -5px;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0; 

    }

    #site-logo {
      width: 170px;
      /* display:block;
      float: left;
      margin-top: 0px;
      padding-top: 0px;
      background: none; */

    }


    .site-nav .navbar-toggle {
      margin-top: ;
      margin-right: 0px;
      border: none;

    }

    .navbar-default .navbar-toggle:focus {
      background-color: transparent;
    }

    .navbar-default .navbar-toggle:hover {
      background-color: #ddd;
    }

    .site-nav .navbar-toggle .icon-bar {
      height: 4px;
    }

    .navbar-nav {
    }



#content {
  background: transparent;
  padding-bottom: 40px;
}



/* BLOCKQUOTE  ========================================================================== */

.blockquote { 
    margin: 1em 0 2em 0;
}

    blockquote {
        margin: 0 0 1rem 0;
        padding: 0rem 1.25rem;
        border-left: .3rem solid #eee;
        font-size: .9em;
        font-weight: 300;
    }

    .blockquote figcaption {
        padding: 0rem 1.55rem;
        text-align: ;
        font-size: .9em;
        font-weight: 300;
        font-style: italic;
    }


/* FIGURES  ========================================================================== */

figure {
  /* clear: right; */
  float:left;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

    .featured-media figure {
        margin-top: 0.25em;
    }

    /* BREAKPOINT: 608px // Keep figure--xl at full width but maintain correct margins */
    @media screen and (min-width: 608px) 
    /*  When viewport exceeds the max-width of the article__body ... 
        [article__body max width] + [bootstrap margins]    
        =        34em           +            4em       = 38em x 16px = 608px  */
        {
        .figure--xl {
          position: relative;
          width: calc(100vw - ((100vw - 34em) / 2));
          left:  calc((34em - 100vw + 0px) / 2);
          width: calc(100vw - 30px);
          /* Keep figure at full width but maintain correct margins
             [full viewport width] - [[total bootstrap padding of 30px]-[additional 15px from somewhere?]]  */
        }
    }

    /* BREAKPOINT: 880px (article__body left-aligned) // set figure--xl left-align with article__body */
    @media screen and (min-width: 880px) 
    /*  When viewport exceeds the max-width of the article__header ... */
    {
        .figure--xl {
            position: relative;
            width: calc(100vw - 37px - ((100vw - 42em) / 2));
            /* ... compensate for the centering of the article__body to keep figure--XL width within 
                   the viewport.
                   [prior offset ??] - (([article__header margin??]) / 2 )        */
            max-width: 47.25rem;
            left: 0;
        }
    }


/* ASIDES  ========================================================================== */


aside { }

    .aside {
        display: none; /* HIDE ASIDES AT SMALLEST VIEWPORTS & NARROW PHONES */
        clear: right;
        position: relative;
        width: 43%;
        float: right;
        padding: 1em 0 2em 2em; /* Aligns asides flush right inside article__body */
    }
    
    /* BREAKPOINT: 500px // Show asides at viewports wider than 500px */
    @media screen and (min-width: 500px)              
       {
        .aside {
            display: block; /* ... show related-story block */
        }
    }

    /* BREAKPOINT: 696px // gradually moves aside outward to align flush right w/ viewport */
    @media screen and (min-width: 696px) {
        /* When viewport exceeds width of article__body ...
           [article__body max-width] - [article__body left margin]
           =          34em           -          -5.5em              
           >> if this value is set in px then the 5.5em should be omitted. (612px) <<  */
        .aside {
            margin-right: calc(38.5em - 100vw);
            /* ... aligns asides flush right with viewport. */
            
        }
    }
    
    /* BREAKPOINT: 742px // keep aside flush right w/ viewport */
    @media screen and (min-width: 742px) {
    /* When viewport exceeds  ... 742px
     */
        .aside {
            margin-right: calc( -1 * (((100vw - 34em) / 2) - (1em)));
            /*         ( [make neg] [right textcol margin] - [right articleheader margin] )
                       ( [make neg] [view - textcol] / 2)  - [right articleheader margin] )

            ... compensate for the centering of the article__body to keep asides flush 
                right with viewport.  */
        }
    }

    /* BREAKPOINT: 880px //  */
    @media screen and (min-width: 880px) 
    /* When viewport exceeds the max-width of the article__header and article__body shifts to
       to left-align with article__header ... */
             
       {
        .aside {
            margin-right: calc( -1 * ( ((100vw - 34em) / 2) - (1em) ) - 4.5em );
            /*         (                      [prior breakpoint calc] - 4.5em )

            ... compensate for the left-align shift of the article__body to keep asides flush 
                right with viewport.  */
        }
    }

    /* BREAKPOINT: 1025px //  */
    @media screen and (min-width: 1025px) 
    /* When viewport exceeds the max desired width of the page ... */
             
       {
        .aside {
            margin-right: -15em;/* ... keep the aside at a constant offset from the text column (article__body) */
        }
    }



    .aside--pullquote { }




/* AUTHOR INFO  ========================================================================== */

.author-info {
  margin-top: 0.75em;
  padding: 0.45em 0  0.4em 0;
  border-top: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;

  font-weight: 600;
}

    .author-info img{
      float: left;
      padding-top:;
      margin-top: 0.25em;

      height: 3.6em;
      width: auto;
      background-color: teal;
      border-radius: 50%; 
    }

    .author-info__bio {
      display: block;
      padding-top: 0.15em;
      font-size: 0.8em;
      font-weight: 300;
    }

    .author-info div {
      overflow:hidden; 
      padding-left: 0.75em;
    }



/* TOOL-BAR  ========================================================================== */
/* THIS OBJECT IS A TOTAL MESS! 
   -->> Start again from scratch using the basic bootstrap button markup, like I already 
   started in the messaging-zone buttons. <<--
   For some reason the bootstrap default button html & css wasn't working so I had to hack 
   some crap together. ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬ÂAG */

.tool-bar{
  margin: .85em 0 .3em 0;
}

    .tool-bar ul {
          display: block;
          margin: 0;
          padding: 0;
          font-size: em;
          list-style: none;
    }

    .tool-bar li {
        position: relative;
        float: left;
        margin-right: .7em;
    }

        .btn-social-icon { /* This is adapted from bootstrap */
            position:relative;
            padding-left:44px;
            text-align:left;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            height:32px;
            width:32px;
            padding:0;
        }

            .btn-social-icon>:first-child {/* This is adapted from bootstrap */
                position:absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 30px;
                line-height: 32px;
                font-size:;
                text-align: center;
                border-right: none;
            }

        .fa:before, .btn-social-icon .glyphicon:before {
          display: inline-block;
          height: 100%;
          font-size: 1.5em;
        }




        .btn-twitter {
              color: #fff;
              background-color: #55acee;
        }

        .btn-facebook {
              color: #fff;
              background-color: #3B5998;
        }

        .btn-email {
              color: #fff;
              background-color: grey;
        }

        .btn-join {
              position: relative;
              top: .15em;
              padding-left: 0em;
              padding-right: 0em;
              background-color: transparent;
              text-transform: uppercase;
              text-align:;
        }
            
            .btn-join span {
                display: inline-block;
                vertical-align: top;
                margin-left: -0.2em;
                padding-top: .1em;
                font-weight: 700
            }

            .btn-join .dollar-heart-svg {
                height: 1.75em;
            }


            .btn-join:hover .accent-color {
                fill: #6F9400;
                cursor: pointer;
            }

        .btn-print, .btn-comment {
              position: relative;
              top: .25em;
              padding-left: 0em;
              padding-right: 0em;
              background-color: transparent;
              font-size: 1.2em;
        }

        .btn-join:hover, .btn-print:hover, .btn-comment:hover {          
              cursor: pointer;
        }



/* AD BANNER  ========================================================================== */

.ad-banner {
  background-color: #606060;
  padding: 0.5em 0 0.5em 0;
}

    .ad-banner img {
        display: block; 
        margin: 0em auto 0em auto;
        width: 728px;
        height: 90px;
    }



/* BIGBOX AD  ========================================================================== */

.bigbox {
  margin: 2em 0 1.75em 0;
  border-top: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;
  padding-bottom: 1.333em;
  width: 100%;
}

    .bigbox img {
        display: block;
        margin: 0em auto 0em auto;
        width: 300px;
        height: 250px;
    }

     .bigbox:before { 
       display: block; 
       margin: 0.8em auto 2em auto;
       text-align: center; 
       content: "ADVERTISEMENT";
       color: #ACACAC;
       font-size: .6em;
       line-height:1em;
       font-weight: 400;
       letter-spacing: 0.15em;
 
    }

    /* BIGBOX AD - 1ST POSITION  ---------------------------------------------- */
    /* This is the top add position on the page. It will appear next to the 
       featured image when there's room. Otherwise it will appear within 
       article__body after the 3rd paragraph.
       It gets marked up in both positions and the following display properties
       determine which one is visible. */

    .featured-media .bigbox--1st-position {
        display: none;
    }

    @media screen and (min-width: 1120px) {

        .bigbox--1st-position {
            display: none;
        }

        .featured-media .bigbox--1st-position {
            display: block;
            position: relative;
            float:right;
            margin-top: 0.24em;
            margin-right: -19em;
            width: 300px;
            border: none;
        }

        .featured-media .bigbox--1st-position:before { 
           margin-top: 0;
        }
    }



/* SLIDESHOW  ========================================================================== */

.slideshow {
  /* clear:right; */
  float:left;
  width: 100%;
}



/* MESSAGING BLOCK  ========================================================================== */

.messaging-block {
    padding-bottom: 1em;
    /* border-top: 1px solid #A8A8A8;
       border-bottom: 1px solid #A8A8A8; */
}

    .messaging-block:hover {
      background-color: #F2F4DE;
    }

    .messaging-block h3 {
      margin-top: 0;
      margin-bottom: 0px;
      padding-top: 0.5em;

    }

    .messaging-block--ask span{
      display: inline-block;
      padding-top: 0.2em;
      font-size: 1.333em;
      line-height: 1.3333em;
      font-weight: 600;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    .messaging-zone .messaging-block {
      border-top: none;
      border-bottom: 1px solid #A8A8A8;
    }

    .messaging-zone .messaging-block:first-child {
      border-top: 1px solid #A8A8A8;
    }

    .messaging-block--subscribe .input-group {
      margin-top: 1em;
      margin-bottom: .35em;
    }

.btn--subscribe {
  color: white;
  background-color: #82AD00;
}



/* RELATED STORY  ========================================================================== */

.related-story {
    background-color: #F4F4F4;
    border-top: 0px solid;
    border-bottom: 0px solid;
    padding-bottom: .75em;
}

.related-story:hover {
    background-color: #eaeaea;
} 
   
    .related-story h6 {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        border-bottom: 1px solid;
        border-top: 1px solid;
        font-size: 0.9em;
        color: #839800;
        text-transform: uppercase;
    }



/* STORY-ITEM  ========================================================================== 
   This object is nested inside related-story blocks. */

.story-item { }

    .story-item__description {
      margin: 0.75em 0.5rem 0 0.5rem;
      font-size: 0.8em;
      line-height: 1.4em;
    }

        .story-item__description h5 {
          margin:.4em 0 .65em;
          padding: 0;
          line-height: 1.4em;
        }

        .latest-stories__date, .latest-stories__author {
          font-weight: 300;
          color: #959595;
        }

        .latest-stories__author {
          font-style: italic; 
        }



/* FACT-BOX  ========================================================================== 
    The fact appears at the bottom of the article by default, but appears 
    in the sidebar in wider viewports. This is done by changing the .fact-box 
    display property based on location/context and viewport width. 
    The additional .hide-on-narrow-vp class gets applied to the containing 
    <aside> so that its margin doesn't cut into the the text column when
    the fact box is hidden. (This ugly class could probably be eliminated if 
    asides were simply a class rather than a container, or if an aside's 
    margins were applied to it's contents instead of the container itself.) */


.fact-box {
    clear: both;
    background-color: #F4F4F4;    
    border-top: none;
    padding: 0.5em 1em .5em 1em;
    margin-top: 3em;
}

    .fact-box p {
      font-size: .8em;
    }

    .fact-box h4 {
      display:table;
      margin-top: 1em;
      margin-bottom: 1em;
      padding-bottom: .33em;
      text-align: ;
      font-size: 1em;
      font-weight:600;
      border-bottom: 1px solid #A8A8A8;      
    }

    /*  In default narrow views don't show the fact-box within an aside. */
    .aside .fact-box {
        display: none;
    }
    /*  In default narrow views show the fact-box anchor link text (the html for this should 
        be placed inside article body text. */
    .fact-box__anchor-link {
      display: inline;
    }

    .hide-on-narrow-vp {
      display: none;
    } /* .hide-on-narrow-vp class gets applied to the containing 
    <aside> so that its margin doesn't cut into the the text column when
    the contained fact box is hidden. (This ugly class could probably be eliminated if 
    asides were simply a class rather than a container, or if an aside's 
    margins were applied to it's contents instead of the container itself.) */

    /*  IN WIDER VIEWPORTS: 
        Ã¢â‚¬Â¢ don't show the fact-box at the bottom of the article-body
        Ã¢â‚¬Â¢ show the aside containing the fact-bax (.hide-on-narrow-vp)
        Ã¢â‚¬Â¢ show the factbox within an aside
        Ã¢â‚¬Â¢ hide fact-box text anchor link */
    @media screen and (min-width: 939px) {

        .fact-box {
            display: none;
        }

        .hide-on-narrow-vp {
          display: block;
        }

        .aside .fact-box {
            display: block;
            margin-top: 0em;
            border-top: 8px solid;
            border-bottom: 1px solid;
            padding-left: 0;
            padding-right: 0;
            background-color: white;
        }

            .fact-box h4 {
              border: none
            }
          
        .fact-box__anchor-link {
          display: none;
        }
    }


/* MESSAGING-BLOCK-SUBSCRIBE  ========================================================================== */

.messaging-block--subscribe select {
    background-color: transparent;
    border: none;
    height: 18px;
}

/* MESSAGING-BLOCK-SHARE  ========================================================================== */

/* TODO this might be too general and should probably be limited to this block, or moved to a more
 * general location in the CSS
*/

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: none;
    margin-left: 0;
}
label.error {
    font-weight: bold;
    font-style: italic;
    color: #b94a48;
}
label.valid {
    font-weight: bold;
    font-style: italic;
    color: #468847;
}

.modal form#share input[type="text"], .modal form#share input[type="email"], .modal form#share textarea {
    width: 90%;
}

/* COMMENTS-SECTION  ========================================================================== */

.comments-section {
    background-color: #F4F4F4;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    min-height: 100px;
    max-height: 460px;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: relative;
}

.comments-section .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 60px 0;
  background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
}

.comments-section .read-more .btn {
    color: #FFF;
    background-color: #555;
    border-color: #333;e
}

/* SITE-FOOTER  ========================================================================== */

footer.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #424242;
}





/* ==========================================================================
   #HELPER Classes
   ========================================================================== */



/*  ACCENT COLOR HELPER CLASSES  ========================================================================== 
    These classes can get applied to elements that should employ the accent 
    color. This color may change depending on the website section and will 
    typically by synonymous with the lnk color. */

.accent-color {
    color: #82AD00;
    fill: #82AD00;
}
    
    .accent-color--background {
      background-color: #82AD00;
    }

    .accent-color--border {
      border-color: #90AD00 !important; 
    }



/* RESPONSIVE HELPER CLASSES  ========================================================================== */

/*  RESPONSIVE IMAGES -- forces the image to be the same width as its parent 
    element. Confusingly similar in name to Bootstrap's .img-responsive but this 
    will actually stretch an image rather than merely shrink it. */
.responsive-img {
  width: 100%;
  height: auto;
  display: block;
}



/* RESPONSIVE EMBED  ========================================================================== */
/*  This allows a Youtube embed to expand proportionally to 
    fill a column. */

.responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

    .responsive-embed iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .responsive-embed--audio {
        padding-bottom: 150px;
    }



/*  LINK WRAP  ==========================================================================
    This class is used to make an entire div (or other container) into a clickable
    link. To use it put this empty <a> element somewhere within your container:
    <a href="[URL YOU WANT]" class="link-wrap"><span></span></a> 

    If you have any other links within your container you'll need to apply the
    .link-wrap--contained-link class to them, otherwise they won't be clickable. */

a.link-wrap span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;

    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif'); 
}

    a.link-wrap--contained-link {
        /* required to make other links within the container work */ 
        position: relative;
        z-index: 100;
    }



/* COMMENT HELPER CLASS AND CUSTOM ATTRIBUTES  ========================================================================== */

/**
 *  COMMENT HELPER CLASS AND CUSTOM ATTRIBUTES
 *  This displays the browser annotations on organisms and molecules. 
 *  This class and the custom attributes exist only for prototyping and 
 *  should be removed in production.
 *  To disable the the annotation display just remove the .cmnt--visibility
 *  class from the body tag. 

 *  HTML Syntax 
    -----------
    The body tag receives a .cmnt--visibility class:
        <body class="cmnt--visibility>

    The outermost tag of every object (molecules and organisms)
    gets 2 custom attributes that describe what the object is and
    its current development status:
        <tag data-dev-object-descrip="" data-dev-status="">

    The value of data-dev-object-descrip should be the object's 
    include path and name. E.g.:
        data-dev-object-descrip="molecules/navigation/primary-nav"

    The value of data-dev-status should be the object's development 
    status. There's 3 options:
        data-dev-status="IN-PROGRESS"
        data-dev-status="IN-REVIEW"
        data-dev-status="COMPLETE"
    This value should be manually updated during the dev process.

 */

body.cmnt--visibility { }
    /* This class is applied to the body tag to trigger the display of 
    object dev-status colours upon hover */

        body.cmnt--visibility:hover [data-dev-status~="IN-PROGRESS"] {
            background-color: hsla(60, 100%, 50%, 0.04) !important;
        }   /* elements that are "in-progress" are coloured pale yellow when
            there's hover on the body tag */

        body.cmnt--visibility:hover [data-dev-status~="IN-REVIEW"] {
            background-color: hsla(180, 100%, 50%, .1) !important;
        }   /* elements that are "in-progress" are coloured pale cyan when
            there's hover on the body tag */

        body.cmnt--visibility [data-dev-status~="COMPLETE"]:hover {
            background-color: hsla(120, 100%, 50%, .1) !important;
        }   /* elements that are "complete" are coloured pale green but only when
            there's hover directly on the element itself */

        body.cmnt--visibility:hover [data-dev-object-descrip*="organisms"] {
            border: 1px solid Tomato !important;
        }   /* elements that are "organisms" receive a border when
            there's hover on the body tag */

        body.cmnt--visibility:hover [data-dev-object-descrip*="molecules"] {
          border: 1px solid DodgerBlue !important;
        }   /* elements that are "molecules" receive a border when
            there's hover on the body tag */


    body.cmnt--visibility [data-dev-object-descrip]:hover::before {
        display: inline-block;

        margin-top: -15px;
        padding: 5px 0px 0px 10px;
        /* background-color: hsla(120, 100%, 100%, 0.9); */


        color: tomato;
        font-size: .65em;
        line-height: 1.1em;
        font-weight: bold;

        content: attr(data-dev-object-descrip) "\a0\a0\a0\a0\a0 ---> \a0" attr(data-dev-status);

    }   /* elements that have a data-dev-object-descrip attribute get labeled with 
        their object-description and dev-status upon hover */


        body.cmnt--visibility [data-dev-object-descrip*="molecules"][data-dev-object-descrip]:hover::before {
            color: DodgerBlue;
        }   /* elements that are molecules and have a data-dev-object-descrip 
            attribute get their label coloured blue to match their border */



/* ==========================================================================
   STATES 
   (A state is something that augments and overrides all other styles. 
   State styles can apply to layout and/or module styles; and State styles 
   indicate a JavaScript dependency.
   For example, an accordion section may be in a collapsed or expanded state. 
   A message may be in a success or error state. Eg: .is-collapsed or .is-error 
   So again, something like a helper class. 
   But sometimes there may be a state that is specific to a particular object.
   Eg: .is-tab-active
   https://smacss.com/book/type-state)
   ========================================================================== */





/* ==========================================================================
   Progressively enhance for larger screens.
   
   NOTE: As per SMACSS Media quesries are grouped with their respective objects, above.
   With SMACSS, the intent is to keep the styles that pertain to a specific 
   module with the rest of the module. That means that instead of having a 
   single break point, either in a main CSS file or in a separate media query 
   style sheet, place media queries around the module states.
   See https://smacss.com/book/state
   ========================================================================== */
@media screen and (min-width: 768px) {
  /* Adjust for large desktop */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust for standard desktop */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* portrait tablets */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* Put high-resolution display styles here */
}



/* ==========================================================================
   Print styles.
   Should be inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


