/* ==========================================================================
   Globals & Mixins
   ========================================================================== */

/* ==========================================================================
   #FONTS
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic,900,900italic,300,300italic);


/* ==========================================================================
   #BASE (Global) (This mostly applies to the Atoms)
   ========================================================================== */

body {
  background-color: #fff;
}


/* Type */

Html {
  font-size: 18px;
}

body {  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39em;
  color: #555;
}


h1,
h2,
h3,
h4 {
  font-family: ;
}

h1 {
  font-family: Georgia, Serif;
  font-weight: 800;
  font-size: 2.4em;
  line-height: 1.136em;
  color: #424242;

  margin-bottom: 0.333em;
}



h4 {
  font-size: 1.42em;
  font-weight: 300;
  line-height: 1.4em;
  color: #424242;
}

h5 {
  margin-top: 1em;
  font-family: Georgia, Serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.18518519em;
  color: #869D00;
}

h6 {
  display: inline-block;
  margin-top: 2.4em;
  margin-bottom: 0;
  border-bottom: 2px solid #90AD00;
  padding-bottom: 0.15em;
  font-size: 1em;
  font-weight: 700;
}

p {
  margin-bottom: 1.5em;
}


a {color: #90AD00;}
a:link {color: #90AD00;}
a:visited {color: #90AD00;}
a:hover {color: #839800;}
a:active {color: #839800;}


.blockquote { }


.pullquote { }

.lead-in:first-letter {
    display: block;
    float: left;
    padding-right: 0.06em;
    margin-top: -0.065em;


    font-family: Georgia, Serif;
    font-weight: 800;
    font-size: 5.3em;
    line-height: 1;
    text-transform: capitalize;
    color: #424242;
}



/* ==========================================================================
   #HELPER Classes
   ========================================================================== */


/** RESPONSIVE HELPER CLASSES **/

/*  RESPONSIVE IMAGES -- forces the image to be the same width as its parent 
    element. Confusingly similar in name to Bootstrap's .img-responsive but this 
    will actually stretch an image rather than merely shrink it. */
.responsive-img {
  width: 100%; 
  height: auto; 
  display: block;
}

/*  RESPONSIVE EMBED -- This allows a Youtube embed to expand proportionally to 
    fill a column. */
.responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

    .responsive-embed iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .responsive-embed--audio {
        padding-bottom: 150px;
    }



/**
 *  COMMENT HELPER CLASS AND CUSTOM ATTRIBUTES
 *  This displays the browser annotations on organisms and molecules. 
 *  This class and the custom attributes exist only for prototyping and 
 *  should be removed in production.

 *  HTML Syntax 
    -----------
    The body tag receives a .cmnt--visibility class:
        <body class="cmnt--visibility>

    The outermost tag of every object (molecules and organisms)
    gets 2 custom attributes that describe what the object is and
    its current development status:
        <tag data-dev-object-descrip="" data-dev-status="">

    The value of data-dev-object-descrip should be the object's 
    include path and name. E.g.:
        data-dev-object-descrip="molecules/navigation/primary-nav"

    The value of data-dev-status should be the object's development 
    status. There's 3 options:
        data-dev-status="IN-PROGRESS"
        data-dev-status="IN-REVIEW"
        data-dev-status="COMPLETE"
    This value should be manually updated during the dev process.

 */

body.cmnt--visibility { }
    /* This class is applied to the body tag to trigger the display of 
    object dev-status colours upon hover */

        body.cmnt--visibility:hover [data-dev-status~="IN-PROGRESS"] {
            background-color: hsla(60, 100%, 50%, 0.04) !important;
        }   /* elements that are "in-progress" are coloured pale yellow when
            there's hover on the body tag */

        body.cmnt--visibility:hover [data-dev-status~="IN-REVIEW"] {
            background-color: hsla(180, 100%, 50%, .1) !important;
        }   /* elements that are "in-progress" are coloured pale cyan when
            there's hover on the body tag */

        body.cmnt--visibility [data-dev-status~="COMPLETE"]:hover {
            background-color: hsla(120, 100%, 50%, .1) !important;
        }   /* elements that are "complete" are coloured pale green but only when
            there's hover directly on the element itself */

        body.cmnt--visibility:hover [data-dev-object-descrip*="organisms"] {
            border: 1px solid Tomato !important;
        }   /* elements that are "organisms" receive a border when
            there's hover on the body tag */

        body.cmnt--visibility:hover [data-dev-object-descrip*="molecules"] {
          border: 1px solid DodgerBlue !important;
        }   /* elements that are "molecules" receive a border when
            there's hover on the body tag */


    [data-dev-object-descrip]:hover::before {
        display: inline-block;

        margin-top: -15px;
        padding: 5px 0px 0px 10px;
        /* background-color: hsla(120, 100%, 100%, 0.9); */


        color: tomato;
        font-size: .65em;
        line-height: 1.1em;
        font-weight: bold;

        content: attr(data-dev-object-descrip) "\a0\a0\a0\a0\a0 ---> \a0" attr(data-dev-status);

    }   /* elements that have a data-dev-object-descrip attribute get labeled with 
        their object-description and dev-status upon hover */


        [data-dev-object-descrip*="molecules"][data-dev-object-descrip]:hover::before {
            color: DodgerBlue;
        }   /* elements that are molecules and have a data-dev-object-descrip 
            attribute get their label coloured blue to match their border */



/*  ---- The following rules are deprecated but could be brought back into use if
    ---- the dev status of objects requires greater visual emphasis

    [data-dev-status~="IN-PROGRESS"]:hover::after {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: yellow;
        content: "in progress";
        color: red;
        font-size: .75em;
        font-weight: bold;
    } 

    [data-dev-status~="IN-REVIEW"]::after {
        content: "in review";
        margin-left: 10px;
        background-color: yellow;
        color: red;
        font-weight: bold;
    }

    [data-dev-status~="COMPLETE"]::after {
        content: "complete";
        margin-left: 10px;
        background-color: transparent;
        color: green;
        font-weight: bold;
    }

    ---- */



/* ==========================================================================
   #LAYOUT
   (Layout rules divide the page into sections. Layouts hold one or more modules
    together. These apply largely to the Organism and Template levels. They 
    are kind of like helper classes. https://smacss.com/book/type-layout )
   ========================================================================== */



/* ARTICLE LAYOUT  ========================================================================== */


.article__header {
  /* article__header is always centered on the page */
  max-width: 45em;
  margin: 0 auto 0 auto;
}



.article__body, 
.featured-media, 
.messaging-zone {/* organisms within the text column remain left-aligned
     after hitting their max width */
     position: relative;
     max-width: 34em;
     margin: 0;
}



@media screen and (min-width: 50.5em) {
    /* breakpoint:
       When viewport exceeds the max-width of the article__header ... 
       max-width of header plus difference between header and body divided by 2;
       = [article__header max-width] + ([article__header max-width]-[article__body max-width])
       =            45em             +           (45em - 34em) / 2
       =            45em             +                 5.5em                  
       >> if this value is set in px then the 5.5em should be omitted. (810px) <<  */
    .article__body, 
    .featured-media, 
    .messaging-zone {
      margin: 0 auto 0 auto;
      left: -5.5em; /* [article__header max-width]-[article__body max-width] */
      /* ... centers article__body and offsets towards left to align with article__header.
         It keeps the article__body aligned flush left with the article__header. */
    }
}




/* ==========================================================================
   #MODULES 
   (Modules are the reusable, modular parts of our design. They are the 
   callouts, the sidebar sections, the product lists and so on. These apply 
   largely to the Molecule and Organism levels)
   ========================================================================== */

/**
 * PRIMARY-NAV molecule
 */

    .site-nav {
      margin-bottom: 0px;
      padding-top: 18px;
      padding-bottom: 0px;
      border: none;
      background-color: inherit;

    }

    .navbar-header {
      padding-bottom: 15px;
    }

    .navbar-brand {
      height: 100%;
      margin-top: -5px;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0; 

    }

    #site-logo {
      width: 170px;
      /* display:block;
      float: left;
      margin-top: 0px;
      padding-top: 0px;
      background: none; */

    }


    .site-nav .navbar-toggle {
      margin-top: ;
      margin-right: 0px;
      border: none;

    }

    .navbar-default .navbar-toggle:focus {
      background-color: transparent;
    }

    .navbar-default .navbar-toggle:hover {
      background-color: #ddd;
    }

    .site-nav .navbar-toggle .icon-bar {
      height: 4px;
    }

    .navbar-nav {
    }



#content {
  background: transparent;
  padding-bottom: 40px;
}



figure {
  /* clear: right; */
  float:left;
  width: 100%;
}



/* ASIDES  ========================================================================== */


aside { }

    .aside {
        position: relative;
        width: 45%;
        float: right;
        padding: 1em 0 2em 1.5em;
        /* Aligns asides flush right inside article__body */
    }

    @media screen and (min-width: 38.5em) {
        /* Breakpoint: 
           When viewport exceeds width of article__body ...
           [article__body max-width] - [article__body left margin]
           =          34em           -          -5.5em              
           >> if this value is set in px then the 5.5em should be omitted. (612px) <<  */
        .aside {
            margin-right: calc(34em - 100vw);
            /* ... aligns asides flush right with viewport. */
            
        }
    }

    @media screen and (min-width: 50.5rem) 
    /* Breakpoint:
       
       When viewport exceeds the max-width of the article__header ... 

       [article__header width] + [article__body left offset]    
       =        45em           +            5.5em               
       >> if this value is set in px then the 5.5em offset should be omitted. (810px) << */ {
        .aside {
            margin-right: calc(34em - 100vw + ((100vw - 45em) / 2));
            /* ... compensate for the centering of the article__body to keep asides flush 
                   right with viewport.
                   [prior offset] + ((article__header margin]) / 2 )        */


            /* ALTERNATIVE RULE:
               margin-right: calc(-11em - ((100vw - 45em) / 2)); 
               [max offset of prev breakpoint] + [article__header left margin] 
               [max offset of prev breakpoint] + (view-width - [article__header width]) / 2  */
        }
    }



    @media screen and (min-width: 59.5em) 
    /* Breakpoint:
       
       When viewport exceeds the max desired width of the page ... 

       [max page width] + [article__body left offset]    
       =      54em      +            5.5em               
       >> if this value is set in px then the 5.5em offset should be omitted. (950px) << */ {
        .aside {
            margin-right: 15em;
            margin-right: calc(34em - 100vw + ((100vw - 45em) / 2));
            margin-right: -15em;
            /* ... compensate for the centering of the article__body to keep asides flush 
                   right with viewport.
                   [prior offset] + ([article__header margin at max desired width]) / 2 ) */


            /* ALTERNATIVE RULE:
               margin-right: calc(-11em - ((100vw - 45em) / 2)); 
               [max offset of prev breakpoint] + [article__header left margin] 
               [max offset of prev breakpoint] + (view-width - [article__header width]) / 2  */
        }
    }



    .aside--pullquote { }





.caption {

}



/* AUTHOR INFO  ========================================================================== */

.author-info {
  margin-top: 0.75em;
  padding: 0.45em 0  0.4em 0;
  border-top: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;

  font-weight: 600;
}

    .author-info img{
      float: left;
      padding-top:;
      margin-top: 0.25em;

      height: 3.6em;
      width: auto;
      background-color: teal;
      border-radius: 50%; 
    }

    .author-info__bio {
      display: block;
      padding-top: 0.15em;
      font-size: 0.8em;
      font-weight: 300;
    }

    .author-info div {
      overflow:hidden; 
      padding-left: 0.75em;
    }



/* TOOL-BAR  ========================================================================== */

.tool-bar{
  margin: 1em 0 .3em 0;
}

    .tool-bar ul {
          display: block;
          margin: 0;
          padding: 0;
          font-size: em;
          list-style: none;
    }

    .tool-bar li {
        float: left;
        margin-right: .7em;
    }

        .btn-social-icon { /* This is adapted from bootstrap */
            position:relative;
            padding-left:44px;
            text-align:left;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            height:32px;
            width:32px;
            padding:0;}

            .btn-social-icon>:first-child { /* This is adapted from bootstrap */
                position:absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 30px;
                line-height: 32px;
                font-size: 1.5em;
                text-align: center;
                border-right: none}

        a.btn-twitter {
              color: #fff;
              background-color: #55acee;
        }

        a.btn-facebook {
              color: #fff;
              background-color: #3B5998;
        }

        a.btn-email {
              color: #fff;
              background-color: grey;
        }

        .btn-donate {
              padding-left: 0em;
              padding-right: 0em;
              background-color: transparent;
        }

        .btn-print, .btn-comment {
              padding-left: 0em;
              padding-right: 0em;
              background-color: transparent;
              font-size: 1.2em;
        }



/* AD BANNER  ========================================================================== */

.ad-banner {
  background-color: #606060;
  padding: 0.5em 0 0.5em 0;
}

    .ad-banner img {
        display: block; 
        margin: 0em auto 0em auto;
        width: 728px;
        height: 90px;
    }



/* BIGBOX AD  ========================================================================== */

.bigbox {
  margin: 2em 0 1.75em 0;
  border-top: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;
  padding-bottom: 1.333em;
  width: 100%;
}

    .bigbox img {
        display: block; 
        margin: 0em auto 0em auto;
        width: 300px;
        height: 250px;
    }

     .bigbox::before { 
       display: block; 
       margin: 0.8em auto 2em auto;
       text-align: center; 
       content: "ADVERTISEMENT";
       color: #ACACAC;
       font-size: .6em;
       line-height:1em;
       font-weight: 400;
       letter-spacing: 0.15em;
 
    }



.slideshow {
  /* clear:right; */
  float:left;
  width: 100%;
}



.messaging-block {
    border-top: 1px solid #A8A8A8; 
    border-bottom: 1px solid #A8A8A8;
}

    .messaging-block:hover {
      background-color: #F2F4DE;
    }

    .messaging-block h3 {
      margin-bottom: 0px;
    }

    .messaging-block span{
      display: inline-block;
      padding-top: 0.1em;
      font-size: 1.333em;
      line-height: 1.3333em;
    }

    .messaging-zone .messaging-block {
      border-top: none;
    }

    .messaging-zone .messaging-block:first-child {
      border-top: 1px solid #A8A8A8;
    }



.related-story {
  display: ;
  float:;
}



footer.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}





/* ==========================================================================
   STATES 
   (A state is something that augments and overrides all other styles. 
   State styles can apply to layout and/or module styles; and State styles 
   indicate a JavaScript dependency.
   For example, an accordion section may be in a collapsed or expanded state. 
   A message may be in a success or error state. Eg: .is-collapsed or .is-error 
   So again, something like a helper class. 
   But sometimes there may be a state that is specific to a particular object.
   Eg: .is-tab-active
   https://smacss.com/book/type-state)
   ========================================================================== */





/* ==========================================================================
   Progressively enhance for larger screens 
   ========================================================================== */
@media screen and (min-width: 768px) {
  /* Adjust for large desktop */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust for standard desktop */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* portrait tablets */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* Put high-resolution display styles here */
}



/* ==========================================================================
   Print styles.
   Should be inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


