/* ==========================================================================
   Sally's css goes in this file. It will eventually be integrated into 
   article.css. 
   ========================================================================== */

   @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ==========================================================================
   #BASE (Global) (This mostly applies to the Atoms)
   ========================================================================== */

   img {
      max-width: 100%;
   }
   .block--site-header{
      background-color: #dee3ab;
      width: 100%;
   }

/* ==========================================================================
   #LAYOUT
   (Layout rules divide the page into sections. Layouts hold one or more modules
    together. These apply largely to the Organism and Template levels. They 
    are kind of like helper classes. https://smacss.com/book/type-layout )
   ========================================================================== */







/* ==========================================================================
   #MODULES 
   (Modules are the reusable, modular parts of our design. They are the 
   callouts, the sidebar sections, the product lists and so on. These apply 
   largely to the Molecule and Organism levels)
   ========================================================================== */
 



/* PRIMARY NAV  ========================================================================== */

header .menu ul > li {
   text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .menu ul li.active > a, .menu ul li.dropdown-toggle, .menu ul .active, .menu ul .open {
  background-color: #f8f9ed;
}
.navbar-default .navbar-nav > .active > a{
  background-color: #dee3ab;
}
.menu{
  margin: 0;
  padding: 0;
}
.menu > ul, .block--site-header .menu .menu a {
  padding-right: 0px;
  margin-right: 0px;
}
.menu > ul {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #dee3ab;
}
.navbar-nav {
  margin: 0px;
}
.navbar-nav > li  { 
  position: static; 
}
.navbar-nav > li > .dropdown-menu { 
  width: 100%; 
  text-align: center; 
}
.navbar-nav > li >  .dropdown-menu>li { 
  display: inline-block; 
}




/* PRIMARY NAV MOBILE TOGGLE ========================================================================== */
  
.primary-nav .narrow-menu{
  overflow:hidden;
}
.primary-nav button {
  border: none;
  display: block;
  min-height: 40px;
  min-width: 40px;
  float: left;
  background-color: transparent;
}
.primary-nav button:focus {
  outline:0;
} 
.primary-nav button .hamburger {
  position: relative;
  padding-left: 1.25em;
  margin-top: 8px;
  float: right;
}
.primary-nav button .hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 2em;
  height: 0.25em;
  background: rgba(118, 118, 117, 1);
  box-shadow: 
   0 0.5em 0 0 rgba(118, 118, 117, 1),
   0 1em 0 0 rgba(118, 118, 117, 1);
}
.primary-nav button span {
  text-transform: uppercase;
  float: left;
  padding: 10px 5px;
}

/* PRIMARY NAV SEARCH ICON ========================================================================== */

.primary-nav .narrow-menu .search span{
  padding: 10px;
  display: block;
  font-size: 2em;
}

/* LATEST STORIES ========================================================================== */ 

 .latest-stories {
    background-color: #f8f9ed;
    color: #859c01;
 }
 .latest-stories a{
    color: #859c01;
 }
 .latest-stories .latest-stories__media-wrapper{
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 .latest-stories .latest-stories__media-wrapper li:first{
    color: #859c01;
    border-top: solid 1px #859c01;
 }
 .latest-stories .latest-stories__media-wrapper li{
    color: #859c01;
    border-bottom: solid 1px #859c01;
 }
 .latest-stories .latest-stories__media-wrapper .media {
    margin-top: 0px;
    text-align: left;
 }
 .latest-stories .latest-stories__media-wrapper .media h4, p{
    text-transform: capitalize;
 }
 .latest-stories .latest-stories__media-wrapper .media .latest-stories__date,  .latest-stories .latest-stories__media-wrapper .media .latest-stories__authour {
  text-transform: capitalize;
  color: grey;
  font-style: oblique;
  font-size: 0.8em;
 }

 /* SLIDESHOW ========================================================================== */ 

.slideshow {
}
.slideshow img {
  min-width: 100%;
}
.slideshow a {
  background: #90AD00;
  color: #fff;
}

.slideshow .slidesjs-previous:before {
  content: '< ';
}
.slideshow .slidesjs-previous{
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}
.slideshow .slidesjs-next{
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}
.slideshow .slidesjs-next:after {
  content: ' >';
}
.slideshow ul {
  display: inline-block;
  margin-top: 10px;
  float: right;
}
.slideshow ul li{
  display: inline;
  margin: 0px 3px;
}
.slideshow ul li a {
  padding: 4px 10px;
  border-radius: 100%;
}

/* ==========================================================================
 STATES 
 (A state is something that augments and overrides all other styles. 
 State styles can apply to layout and/or module styles; and State styles 
 indicate a JavaScript dependency.
 For example, an accordion section may be in a collapsed or expanded state. 
 A message may be in a success or error state. Eg: .is-collapsed or .is-error 
 So again, something like a helper class. 
 But sometimes there may be a state that is specific to a particular object.
 Eg: .is-tab-active
 https://smacss.com/book/type-state)
 ========================================================================== */









/* ==========================================================================
 Progressively enhance for larger screens 
 ========================================================================== */


/* 768 AND UP ========================================================================== */ 
@media (min-width: 768px) {

  .navbar-nav {
    width: 100%;
    text-transform: uppercase;
    position: relative;
  }
  .menu ul >  div> li {
    padding: 5px;
    float: left;
    position: relative;
  }
  .menu--logo{
    padding: 0px 6%;
  }
  .menu--logo img {
    max-height: 60px;
  }
  .nav-right{
    float: right!important;
    padding-right: 20px;
  }
  .site-nav {
    padding-top: 0px;
    font-size: 16px;
    text-align: center
  }

  /* FULL WIDTH NAV SLIDER ========================================================================== */ 

  .latest-stories {
    max-width: 100%;
  }

  .latest-stories .latest-stories__media-wrapper{
    border-bottom: solid 1px #859c01;
  }
  .latest-stories .latest-stories__media-wrapper li{
    border-bottom: none;
  }
  .latest-stories .latest-stories__media-wrapper li {
    border-right: solid 1px #859c01;
    height: 385px;
  }
  .latest-stories .latest-stories__media-wrapper li:last-child {
    border-right: none;
  } 
  .latest-stories .media {
    display: inline-block;
    text-align: left;
  }
  .latest-stories .media .media-image{
  }
  .latest-stories .media .media-body {
    height: 100%;
    position: relative;
  }
  .latest-stories__date, .latest-stories__authour{
    position: absolute;
    bottom: 0px;
    z-index: 10000;
  }
  .wide-nav--latest-stories .dropdown, .wide-nav--sections .dropdown{
    display: none;
  }
}

 /* 870 TO TABLET SIZE (a hack to handle the wide nav) ========================================================================== */ 
@media (max-width: 870px) {
  .menu--logo{
    padding: 0;
  }
}


 /* 1168 AND UP (a hack to handle the wide nav) ========================================================================== */ 
@media (min-width: 1168px) {
  .menu--logo{
    padding: 0 15%;
  }
}

