/* ==========================================================================
   Sally's css goes in this file. It will eventually be integrated into 
   article.css. 
   ========================================================================== */

/* ==========================================================================
   #BASE (Global) (This mostly applies to the Atoms)
   ========================================================================== */

 .site__header{
    background-color: #fff;
    width: 100%;
 }

.preloader1 {
   width:40px;
   height:40px;
   display:inline-block;
   padding:0px;
   text-align:left;
   -webkit-animation:preloader1 1.4s linear infinite;
   animation:preloader1 1.4s linear infinite;
}
.preloader1 span {
   position:absolute;
   vertical-align:top;
   border-radius:100%;
   background:#000000;
   display:inline-block;
   width:8px;
   height:8px;
   margin-left:16px;
   transform-origin:center 20px;
   -webkit-transform-origin:center 20px;
}
.preloader1 span:nth-child(2) {transform: rotate(36deg);-webkit-transform: rotate(36deg); opacity:0.1;}
.preloader1 span:nth-child(3) {transform: rotate(72deg);-webkit-transform: rotate(72deg); opacity:0.2;}
.preloader1 span:nth-child(4) {transform: rotate(108deg);-webkit-transform: rotate(108deg); opacity:0.3;}
.preloader1 span:nth-child(5) {transform: rotate(144deg);-webkit-transform: rotate(144deg); opacity:0.4;}
.preloader1 span:nth-child(6) {transform: rotate(180deg);-webkit-transform: rotate(180deg); opacity:0.5;}
.preloader1 span:nth-child(7) {transform: rotate(216deg);-webkit-transform: rotate(216deg); opacity:0.6;}
.preloader1 span:nth-child(8) {transform: rotate(252deg);-webkit-transform: rotate(252deg); opacity:0.7;}
.preloader1 span:nth-child(9) {transform: rotate(288deg);-webkit-transform: rotate(288deg); opacity:0.8;}
.preloader1 span:nth-child(10) {transform: rotate(324deg);-webkit-transform: rotate(324deg); opacity:0.9;}
@keyframes preloader1 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader1 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

.show {
  display: block;
}

.hide {
  display: none;
}


/* ==========================================================================
   #LAYOUT
   (Layout rules divide the page into sections. Layouts hold one or more modules
    together. These apply largely to the Organism and Template levels. They 
    are kind of like helper classes. https://smacss.com/book/type-layout )
   ========================================================================== */







/* ==========================================================================
   #MODULES 
   (Modules are the reusable, modular parts of our design. They are the 
   callouts, the sidebar sections, the product lists and so on. These apply 
   largely to the Molecule and Organism levels)
   ========================================================================== */
 

 /* == BOOTSTRAP OVERRIDES == */


 .modal-content {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
    outline: none;
  }

.site-nav {
  padding-top: 0px;
}

.site-nav .navbar-collapse {
  border-color: #949594;
  box-shadow: none;
}

.menu__left-nav .open > a, .menu__left-nav .open > a:hover, .menu__left-nav .open > a:focus,
.menu__left-nav > li > a:hover, .menu__left-nav > li > a:focus,
.menu__right-nav .open > a, .menu__right-nav .open > a:hover, .menu__right-nav .open > a:focus,
.menu__right-nav > li > a:hover, .menu__right-nav > li > a:focus  {
  background-color: transparent;
}

.navbar-collapse.in {
  overflow-y: visible; 
}

 /* == turns off default handling for .open ===== */
  .menu__left-nav .open a, .block--site-header .menu__right-nav .open a, .menu__left-nav .open, .menu__right-nav .open{
    color: #859c01;
    background-color: transparent;
  }


/* NARROW NAV, TOP ONLY ========================================================================== */
  
.narrow-menu{
  min-height: 52px;
  position: relative;
  color: #929292;
  border-bottom-style:double;
}
.menu__hamburger{
  border: none;
  display: block;
  min-height: 50px;
  min-width: 77px;
  float: left;
  background-color: transparent;
}
.menu__hamburger:focus {
  outline:0;
} 
.menu__hamburger span {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  padding-left: 2px;
  vertical-align: baseline;
}

.menu__hamburger i {
    float: left;
    color: #555;
    font-size: 0.8em;
    margin-top: 4px;
}

.narrow-menu__logo{
  max-width: 100%;
  background: white;
  position: relative;
  top: 10px; 
  margin: 0 auto;
  display: block;

}
.menu {
  padding: 0px;
  margin: 0px;
  border-top: none;
}

.menu__content-wrapper {
  padding: 0px;
  background-color: #f8f9ed;
  position: relative;
  z-index: 9999;
}

.menu_left-nav-wrap, .menu_right-nav-wrap {
  padding: 0px;
  margin: 0px;
}

.menu__left-nav, .menu__right-nav, .menu__left-nav li, .menu__right-nav li{
  font-size: 0.95em;
  margin-bottom: 0px;
}
.menu__left-nav li, .menu__right-nav li{
  border-bottom: solid 1px #A8A8A8;
  list-style-type: none;


}
.menu__left-nav > li > a, .menu__right-nav > li > a{

  color: #555;
  padding: 10px 5px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__left-nav li a i, .menu__right-nav li a i { 
  font-size: 0.75em;
  padding-right: 2px;
}

.menu__left-nav > .open a, .menu__right-nav > .open a, .menu__left-nav > .open , .menu__right-nav > .open, {
  color: #859c01;
  background-color: #eef1d4;
  border-bottom: none;
}


.menu__join .btn-join span{
  color: #82AD00;
}
.narrow__search {
  position: static;
  display: block;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 0.7em;
  text-transform: uppercase;
}
.menu__search--button{
  background-color: #859c01;
  color: #fff;
}
.menu__search--wrapper {
  width: 100vw;
}
.search-block .dropdown-toggle {
  text-transform: uppercase;
  float: left;
  font-weight: bold;
  color: #555;
}
.search-block .dropdown-menu, .search-block .dropdown-menu .navbar-form {
  margin: 15px 0px 0px 0px;
  border: none;
  border-radius: 0px;
}

.search-block {
  overflow: hidden;
  padding: 12px 10px 12px 0px;
}

.search-block .glyphicon {
  font-size: 1.6em;
  margin-right: 3px;
  margin-top: -2px;
}

.search-block .glyphicon::before{
}

.search-block .search-text{
  line-height: 0.7em;
}

.search-block .dropdown-toggle span {
  vertical-align: middle;
  display: inline-block;
}


.menu__search--wrapper .form-control{
    width: 100%!important;
  }

 /* == Makes the carets in wide nav bigger ==*/
.open .caret {
   -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

  .caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: all 0.5s ease;
  }

  /* == Overrides the hover and active states from Bootstrap === */
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #859c01 !important;
  }


/* LATEST STORIES ========================================================================== */ 

.latest-stories {
  background-color: #fff;
  color: #82AD00;
  font-size: 16px;
}
.latest-stories a {
  color: #82AD00;
}

.latest-stories__media-wrapper{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.latest-stories__media-wrapper li:first-child{
  border-top: solid 1px #859c01;
}
.latest-stories__media-wrapper li{
  color: #555;
  border-bottom: solid 1px #859c01;
  line-height: 1.75em;
}
.latest-stories__media-wrapper li:hover{
  background-color: hsla(66, 100%, 33%, .1);

}
.latest-stories__media-wrapper li:last-child{
  border-bottom: none;
}
.latest-stories__media-wrapper .media {
  margin-top: 0px;
  text-align: left;
}
.latest-stories__media-wrapper .media .media-image {
  padding: 15px 0px;
  height: 100px;
  overflow: hidden;
}

.latest-stories__media-wrapper .media .media-image .media-object{
  max-width: 100%;
}
.latest-stories__hed {
  color: #82AD00;
  font-size: 0.8em;
  line-height: 1.25em;
  font-weight: bold;
}

.hed_preload_placeholder{
  background: #ccc;
  min-height: 16px;
  min-width: 100px;
}


.dek_preload_placeholder{
  background: #ccc;
  min-height: 100px;
  min-width: 100px;
}
.latest-stories__dek {
  font-size: 0.8em;
  line-height: 1.25em;
}
.latest-stories .latest-stories__media-wrapper .media .latest-stories__date,  .latest-stories .latest-stories__media-wrapper .media .latest-stories__authour {
  text-transform: capitalize;
  color: grey;
  font-style: oblique;
  font-size: 0.8em;
}

/* SECTIONS ========================================================================== */ 

.sections, .sections ul, .sections__categories, .sections__list-one, .sections__list-two, .sections__list-three, .sections__list-four, .sections__list-five {
  padding: 0px;
}

.sections__topics-header {
  display: inline-block;
  background: white;
  padding-top: 8px;
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 8px;
  text-transform: uppercase;
  margin: 0px;
  border-bottom-style: double;
  border-bottom-color: #859c01;
  width: 100%;
  padding-left: 0px;
}

.sections__topics-wrap {
  padding: 0px;
}


.sections ul {
  list-style-type: none;
}
.sections__categories ul li, .sections__categories ul li a {
  color: #859c01;
  font-weight: bold;
}
.sections__topics-wrap div:last-child ul li:last-child{
  border-bottom: none;
}

/* MORE ========================================================================== */



.more:first-child{
  padding: 0px;
}

.more__categories {
  padding: 0px;
}

.more__categories ul{
  padding: 0px;
}

.more__categories:last-child li:last-child {
  border-bottom: none;
}


/* ARTICLE HEADER ========*/

.author-info div{
  position: relative;
}



.author-more{
  display: none;
  color: #82AD00;
  font-weight: 300;
  font-size: 0.85em;
  position: relative;
  right: 5px;
  margin: 10px;
}




 /* SLIDESHOW ========================================================================== */

.slideshow img {
  min-width: 100%;
}
.slideshow a {
  background: #90AD00;
  color: #fff;
}
.slideshow .slidesjs-previous:before {
  content: '< ';
}
.slideshow .slidesjs-previous{
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}
.slideshow .slidesjs-next{
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}
.slideshow .slidesjs-next:after {
  content: ' >';
}
.slideshow ul {
  display: inline-block;
  margin-top: 10px;
  float: right;
}
.slideshow ul li{
  display: inline;
  margin: 0px 3px;
}
.slideshow ul li a {
  padding: 4px 10px;
  border-radius: 100%;
}


/* Messaging Zones ========================================================================== */

/* BAROMETER ========================================================================== */


.messaging-block--barometer {
  border-top: solid 1px #A8A8A8;
  border-bottom: solid 1px #A8A8A8;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.messaging-block--barometer h3 {
  margin-top: 0px;
  padding-top: 5px;
  border-bottom: solid 1px #A8A8A8;
  color: #82AD00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding-bottom: 5px;
}

.messaging-block--barometer h3 i {
  font-size: 0.7em;
}

.messaging-block--barometer p {
  font-weight: bold;
  font-size: 1.25em;
  padding: 0px 10px;
  margin-top: 1em;
}

.messaging-block--barometer p a{
  background-color: #82AD00;
  padding: 4px 10px;
  width: 100%;
  font-size: 0.85em;
  font-weight: normal;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* FOOTER ========================================================================== */

footer {
  clear: both;
  line-height: 2em;
  font-size: 0.9em;
}

footer div:first-child{

  margin-top: 20px;
  padding: 20px 0px;
}

footer ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
}

footer .footer__menu {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.footer__menu li{
  display: block;
  clear: both;
  text-align: center;
  border-top: solid 1px #696868;
  padding: 8px 0px;
}

.footer__menu li:last-child{
  border-bottom: solid 1px #696868;
}
.footer__menu li .btn-join {
  text-transform: capitalize;
}

.footer__menu li .btn-join span {
  padding-bottom: 10px;
  vertical-align: middle;
  font-weight: normal;
  margin-left: 1px;
}

.footer__social-links {
  margin-top: 20px;
}

.footer__social-links li {
  text-align: center;
  display: inline;
}

.footer__social-links li a {
  color: #fff;
  display: block;
}

.footer__social-links li a:hover{
  background-color: #aaa;
}

.footer__social-links li a i {
  vertical-align: middle;
}

.footer__social-links .facebook {
  background-color: #3b5998;
  padding: 8px;
}

.footer__social-links .facebook i {
  margin-top: 2px;
}

.footer__social-links .twitter {
  background-color: #00aced;
  padding: 8px 4px;
}

.footer__social-links .twitter i {
  margin-top: 2px;
}

.footer__social-links .envelope {
  background-color: #666;
  padding: 4px;
}

/* ===== Related event box =======*/

.related-event-box {
  display: block;
            margin-top: 0em;
            border-top: 8px solid;
            border-bottom: 1px solid;
            border-color: #444;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0.33em;
            background-color: white;
}

.related-event-box h4 {
      display:table;
      margin-top: 1em;
      margin-bottom: 1em;
      padding-bottom: 0em;
      text-align:;
      font-size: 1em;
      font-weight:600;
}

.related-event-box p{
  font-size: 0.75em;
}

/* ===== Popup =======*/

div.ntnl-sgnup-modal {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #555;
}
.ntnl-sgnup-modal h2 { 
    font-style: normal;
}
.ntnl-sgnup-modal p, .ntnl-sgnup-modal h2 {
  margin-bottom: 24px;
}
.ntnl-sgnup-modal h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
  color: #424242;
  overflow:hidden;
}
.ntnl-sgnup-modal small {
  font-size: 72%;
  line-height: 85%;
}
.ntnl-sgnup-modal .text-center {
    text-align: center;
}
/* unvisited link */
.ntnl-sgnup-modal a:link {
  color: #8A9900;
}
/* visited link */
.ntnl-sgnup-modal a:visited {
  color: #8A9900;
}
/* mouse over link */
.ntnl-sgnup-modal a:hover {
  color: #8A9900;
}
/* selected link */
.ntnl-sgnup-modal a:active {
  color: #8A9900;
}
.ntnl-sgnup-modal .fsize18 {
  font-size: 18px;
  line-height: 1.1;
}

.bg-pale-green{
  background-color: #EEF0D9;
}

/*! == National modal transition, positioning and chrome */ 
/*! Center the modal (except on mobile) and eliminate motion from fade-in transition */


/* ==========================================================================
 STATES 
 (A state is something that augments and overrides all other styles. 
 State styles can apply to layout and/or module styles; and State styles 
 indicate a JavaScript dependency.
 For example, an accordion section may be in a collapsed or expanded state. 
 A message may be in a success or error state. Eg: .is-collapsed or .is-error 
 So again, something like a helper class. 
 But sometimes there may be a state that is specific to a particular object.
 Eg: .is-tab-active
 https://smacss.com/book/type-state)
 ========================================================================== */









/* ==========================================================================
 Progressively enhance for larger screens 
 ========================================================================== */

/* 1200 AND UP ========================================================================== */ 
@media (min-width: 768px) {

.menu__left-nav li, .menu__right-nav li {
  border-bottom: solid 1px grey;
}

.menu__left-nav li ul li, .menu__right-nav li ul li {
  border-bottom: none;
}


.menu__join {
  padding-bottom: 12px!important;
}

   /* LATEST STORIES  SLIDER ========================================================================== */ 


  .latest-stories .latest-stories__media-wrapper{
    border-bottom: solid 1px #859c01;
    padding: 10px;
  }

  .latest-stories .latest-stories__media-wrapper li:first-child{
    border-left: solid 1px #859c01;
    border-bottom: none;
    border-top: none;
  }
  .latest-stories .latest-stories__media-wrapper li {
    border-right: solid 1px #859c01;
    padding: 0px 10px 10px 10px;
    position: relative;
    float: left;
    border-bottom: none;
    border-top: none;
    min-height: 265px;
  }
  .latest-stories .latest-stories__media-wrapper li:last-child {
    border-right: none;
  } 
  .latest-stories .media {
    display: inline-block;
    text-align: left;
  }
  .latest-stories__hed {
    line-height: 1.55em;
    margin-bottom: 5px;
  }
  .latest-stories__dek {
    line-height: 1.5em;
  }
  .latest-stories .media .media-image{
    padding: 0px 5px;
  }
  .latest-stories .media .media-image img{
    min-width: 100%;
  }
  .latest-stories .media .media-body {
    height: 100%;
    position: relative;
    padding: 0px 5px;
  }
  .latest-stories .media .media-meta {
    bottom: 0px;
    position: absolute;
    padding: 0px 5px;
  }



  /* SECTIONS NAV ========================================================================== */ 


  .sections ul {
    overflow: hidden;
    text-align: left
  }
  .sections ul li {
  }
  .sections ul li a {
      text-transform: capitalize;
  }

  .sections__categories ul li{
        padding: 0px 10px 20px 8px;  }

  .sections__topics-header {
    padding-bottom: 8px;
    padding-left: 10px;
    border-color: #A8A8A8;
    padding-top: 0px;
  }
  .sections__topics-wrap ul {
    margin-top: 10px!important;
  }

  .sections__topics-wrap ul li {
    clear:both;
    float: none;
    width: 100%;
  }

  .sections__topics-wrap > div {
    padding-left: 8px;
  }

   .sections__categories ul li, .sections__list-one ul li, .sections__list-two ul li, .sections__list-three ul li, .sections__list-four ul li, .sections__lis ul li{
    display: inline-block!important;
    text-align: left;
  }

  .sections__categories ul li a{
    text-transform: uppercase;
  }


   /* MORE========================================================================== */ 

  .more:first-child {
    padding:8px 20px;

  }



  /* NEWSLETTER========================================================================== */ 
  @media screen and (min-width: 768px) {
  .ntnl-sgnup-modal.modal {
    text-align: center;
  }
  .ntnl-sgnup-modal.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .ntnl-sgnup-modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .ntnl-sgnup-modal.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
    }
}
.modal-backdrop.in {
  filter: alpha(opacity=70);
  opacity: .7;
}
.ntnl-sgnup-modal .close {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.5;
    color: #000;
}
.ntnl-sgnup-modal .close:hover,
.ntnl-sgnup-modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .9;
}
.ntnl-sgnup-modal .no-border-top {
  border-top: none;
}

/*! == National modal content layout */
.ntnl-sgnup-modal .modal-header {
    min-height: 20px;
    padding: 19px 24px 0px 24px;
    border-bottom: none;
    margin-bottom: 40px;
}
.ntnl-sgnup-modal .modal-body {
    position: relative;
    padding: 0px 24px 15px 24px;
}
.ntnl-sgnup-modal .modal-footer{
  padding: 4px 24px 24px 24px;
}
.modal-national-logo{
  position: relative;
  top: 8px;
  margin-right: 16px;
}
.btn-green {
  color: #fff;
  background-color: #9AAB00;
  border-color: #9AAB00;
}
.ntnl-sgnup-modal .modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  border: none;
  border-radius: 0px;
}
.ntnl-sgnup-modal .modal-backdrop {
  background-color: #000;
    }


.modal-national-logo {
    float: left !important;
}
.ntnl-sgnup-modal .form-control {
    padding: 0px;
}
.ntnl-sgnup-modal h2 { margin-top: 40px; } 
.ntnl-sgnup-modal .modal-header { margin-bottom: 0px; } 
.ntnl-sgnup-modal .modal-footer { margin-top: 0px; } 
.ntnl-sgnup-modal small a { font-family: "Source Sans Pro",sans-serif; font-style: normal; } 

.ntnl-sgnup-modal .form-checkbox {
    background-image: url('/ui/img/ntnl-sub-model-checkbox-ui.png');
    background-image: url('/ui/img/ntnl-sub-model-checkbox-ui.svg'), none;
    height: 29px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: 0 -23px;
    display: inline-block;
}

.ntnl-sgnup-modal .form-checkbox.checked {
    height: 29px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.ntnl-sgnup-modal .radio-buttons {
    opacity: .01;
    height: 1px;
    overflow: hidden;
    display: inline-block;
}




/*! End of modal customization for Tyee National subscription popup */
/*! ---------------------------------------------------------------------------- */


}





/* 1200 AND UP ========================================================================== */ 
@media (min-width: 992px) {

  /* BOOTSTRAP OVERRIDES */

  /* == Overrides rounded corners, padding and default Bootstrap borders on nav == */
  .navbar {
    border-radius: 0px;
    background-color: #fff;
  }
  .dropdown-menu {
    border-radius: 0px;
    border-top: none;
    margin: -40px 0px 0px 0px;
    padding: 0px;
    left: 0;
    opacity:0;
    transition: all 0.3s ease;
    z-index: -10;
  }


  .open > .dropdown-menu {
    opacity: 1;
    margin: 0px;
      transition: all 0.3s ease;
      z-index: 9999;
  }



  .navbar-collapse {
    padding: 0px;
  }

 
  /* == Turns off relative positioning so the dropdowns will align on the left === */
  .nav >li {
    position: static;
  }
  .menu__left-nav, .menu__right-nav {
    position: static;
    padding-left: 20px;
  }
  .menu__left-nav li, .menu__right-nav li{
    padding: 0px;
  }
  /* == Floats primary list items for horizontal wide nav ===== */
  .menu ul > li {
    display: table-cell;
    float: none;
   
    vertical-align: bottom;
    padding-bottom: 10px;
  }

  /* == Turns off defaults fonts and layout on the nav buttons ===== */
  .site-nav {
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;

  }


 

  /* WIDE NAV ========================================================================== */ 



  .menu {
    border-top: 1px solid  #949594;
    margin-top: 2px;
  }

  .menu_left-nav-wrap, .menu_right-nav-wrap {
    padding: 0px;
    position: static;
    border-bottom-style: double;
    border-bottom-color: #949594;
  }


  .menu__left-nav, .menu__right-nav{
    display: table;
    height: 70px;
    margin-bottom: 0px;
  }

  .menu__left-nav >li, .menu__right-nav >li {
    padding-left: 0px;
  }

  .menu__left-nav > li > a, .menu__right-nav > li > a, .dropdown-toggle {
    padding: 0px;

  }
  .menu__left-nav li, .menu__right-nav li {
    border-bottom: none;
    position: static;
  }

  .menu_center-nav-wrap{
    position: relative;
  }

  .menu__logo {
    padding: 0px;
    position: static;
  }

  .menu__logo li {
    width: 100%;
    display: inline-block!important;
  }

  .menu__logo img{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 9px;
    text-align: center;
    clear:both;
    float: none;
    
  }

  .menu__more ul li{
    display: block;
    text-align: left;
  }
  .menu__facebook{
    margin: 0px 20px 0px 0px;
  }
  .menu__twitter {
    margin: 0px 20px 0px 0px;
  }


  /* LATEST STORIES  SLIDER ========================================================================== */ 


  .latest-stories {
    position: relative;
  }

  .latest-stories .latest-stories__media-wrapper{
    border-bottom: none;
    padding: 10px;
    overflow: hidden;
  }

  .latest-stories .latest-stories__media-wrapper .chevron{
    background: #e5e5e5;
    height: 100px;
    border-radius: 100px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 90px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
  }
  .chevron::before {
    border-style: solid;
    border-width: 0.5em 0.5em 0 0;
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    left: 18px;
    position: absolute;
    top: 25px;
    color: #fff;
    transform: rotate(-45deg);
    vertical-align: top;
  }

  .chevron.right:before {
    right: 0;
    transform: rotate(45deg);
  }

.chevron.left {
    opacity: 1;
    z-index: 200;
    left: 0px;
    transform: rotate(-90deg);
  }

  .latest-stories .latest-stories__media-wrapper:hover .chevron{
    opacity: 0.8;
    -webkit-transition: opacity 0.4s;
  }

  .latest-stories .latest-stories__media-wrapper li:first-child{
    border-left: solid 1px #859c01;
    border-bottom: none;
    border-top: none;
  }
  .latest-stories .latest-stories__media-wrapper li {
    border-right: solid 1px #A8A8A8;
    padding: 0px 10px 10px 10px;
    position: relative;
    float: left;
    border-bottom: none;
    border-top: none;
    min-height: 255px;
  }
  .latest-stories .latest-stories__media-wrapper li:last-child {
    border-right: none;
  } 
  .latest-stories .media {
    display: inline-block;
    text-align: left;
  }
  .latest-stories__hed {
    line-height: 1.55em;
    margin-bottom: 5px;
  }
  .latest-stories__dek {
    line-height: 1.5em;
  }
  .latest-stories .media .media-image{
    padding: 0px 5px;
  }
  .latest-stories .media .media-image img{
    min-width: 100%;
  }
  .latest-stories .media .media-body {
    height: 100%;
    position: relative;
    padding: 0px 5px;
    color: #555;
  }
  .latest-stories .media .media-meta {
    bottom: 0px;
    position: absolute;
    padding: 0px 5px;
  }

  /* SECTIONS NAV ========================================================================== */ 

  .sections {
    padding: 8px 20px;
  }

  .sections__list-one {
    padding-left: 40px;
  }


  .sections__categories ul {
    text-align: left;
    border-right: solid 1px #859c01;
  }
  .sections__categories ul li {
    width: 100%;
    float: none;
    clear: both;
    padding: 10px;
  }

    /* MORE =====*/
    .menu__more .dropdown-menu {
      width: 100%;
    }



  /* SEARCH =====*/
 

  .menu__search ul{
    padding: 20px 0px;
  }

  .search-block .dropdown-toggle {  
    padding-right: 15px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
  }

  .search-block .dropdown-toggle .glyphicon {
    margin-right: 4px;
    font-size: 1.2em;
  }

.search-block .dropdown-toggle span {
  vertical-align: middle;
  display: inline-block;
}

  /* ARTICLE HEADER ========*/
.author-info__bio{
  display: block;
}


/* FOOTER =======*/



/* FOOTER ========================================================================== */

footer {
  clear: both;
  line-height: 2em;
  font-size: 0.9em;
}

footer div:first-child{
  border-top: solid 1px #696868;
  margin-top: 20px;
  padding: 20px 0px;
}

footer ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
}

footer .footer__menu {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.footer__menu li{
  display: inline-block;
  margin-left: 20px;
  border-top: 0px;
}

.footer__menu li:last-child{
  border-bottom: 0px;
}

.footer__menu li .btn-join {
  text-transform: capitalize;
}

.footer__menu li .btn-join span {
  padding-bottom: 10px;
  vertical-align: middle;
  font-weight: normal;
  margin-left: 1px;
}



.footer__social-links li {
  float: right;
  text-align: center;
}

.footer__social-links li a {
  color: #fff;
  display: block;
}

.footer__social-links li a:hover{
  background-color: #aaa;
}

.footer__social-links li a i {
  vertical-align: middle;
}

.footer__social-links .facebook {
  background-color: #3b5998;
  padding: 8px;
}

.footer__social-links .facebook i {
  margin-top: 2px;
}

.footer__social-links .twitter {
  background-color: #00aced;
  padding: 8px 4px;
}

.footer__social-links .twitter i {
  margin-top: 2px;
}

.footer__social-links .envelope {
  background-color: #666;
  padding: 4px;
}



}


