---
interval: 12
minwidth-multiple: 39
page-margin: 32
number-of-breakpoints: 100
css-selector: .hmpg-org-wrapper
---
{% comment %}
This loop creates a series of breakpoints that will cause the css-selector to adhere to specific width intervals. This can be used to ensure that height of objects which scale responsively stays in alignment with the baseline grid.

(In our case we want the height of the 1.5:1 aspect ratio photos to always align with the 8px baselines. At 1.5:1 a height of 8px corresponds to a width of 12px, therefore the interval is set to 12.)

This could be automated further if some calculations were done in css using css variables. Then --page-margin-sides could be used and the interval could be calculated based on the REM unit. So this template would really only function to run the loop for outputting the CSS and inject the i value increments.
{% endcomment %}

{% assign first-breakpoint = page.minwidth-multiple | times: page.interval | plus: page.page-margin %}

{% for i in (0..page.number-of-breakpoints) %}
  {% assign breakpoint-value = i | times: page.interval | plus: first-breakpoint  %}
  @media screen and (min-width: {{ breakpoint-value }}px) {
    {{ page.css-selector }} {
      width: {{ breakpoint-value }}px;
    }
  }
{% endfor %}
