.header-basic {
    --height: 50px;
    height: var(--height);
    background-color: lightpink;
}

.header-basic .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-basic .logo {
    height: 100%;
    margin-inline: auto;
}

.header-basic .logo a {
    display: block;
    height: 100%;
}

.header-basic .logo img {
    display: block;
    height: 100%;
    width: auto;
}

.header-basic .nav-modal {
    top: var(--height);
    margin-top: 0;
}

.header-basic .nav-modal.is-closed {
    display: none;
}

/* Sticky clone */
.header-basic--clone {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
