/*------------------------------------*\
  #ARTICLE PAGE STYLES
\*------------------------------------*/

/* Temporary imports from the article.css. */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39em;
  color: #404040;
  /* overflow-x: hidden; /* body overflow-x fix to prevent horizontal scrolling bug chrome */
}


/* BADGE  ================================================================
    Use this to position a badge on an aside box or on the article headline  */

/*    .badge--story-item-placement {
        display: block;
    half  position: absolute;
        width: auto;
        left: -1em;
        top: -1.5em;
        transform: scale(1);
        padding-left: inherit; /* Adjusts badge position when there's padding on the parent (e.g. Bootstrap cols) */
    }

        /* BREAKPOINT: 768px // Enlarge badges on featured-stories in wider layouts */
/*        @media screen and (min-width: 768px) {
            .index-page__featured-story .badge--story-item-placement {
                transform: scale(1.35);
                left: -.75em;
                top: -1em;
            }
        }
