/*-----------------------------------------*\
  #GENERIC
\*-----------------------------------------*/

/* Set defaults like Normalize.css and border-sizing. */

* {
  list-style-type: none;
}


/* Border-box reset. */
html {
  box-sizing: border-box;
}
  /* Sets inheritance so that compnents can easily override the border-box if required. */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }





/*-----------------------------------------*\
  #SETTINGS
\*-----------------------------------------*/

/* Global...............Globally-available variables and config. */


/* SET BASE PARAMETERS ------------------- */

/* Base Units */
:root {

  /* Set REM size */
  /* This sets the basic unit for the grid and typography systems */
  font-size: 9px;

  /* Set base unit for modular grid */
  --grid-unit: 1rem; /* This should probably stay 1rem to match the grid units */

  /* Set baseline grid increment */
  --baseline-grid: 2rem; /* This should be a multiple of the rem grid unit. Probably 2rem. */

  /* Set column number */
  --column-number: 12; /* This is only used for drawing the test grid overlay. */
}

/* Set base type size and color */
/*
:root {
  --base-type-size: 2rem;
  --base-line-height: 3rem;
} These variables aren't in use. The values are set on <body> below: */
body{
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-colour);

  padding-top: .rem;
}


/* Grid Guides temporary overrides */

.hmpg-org-wrapper {
 background: none !importan;
}

body {
 background: none !importan;
}


/* Base Colours */
:root {
  /* BRAND COLOUR -- Tyee Orange.                                    */
  --brand-colour__hue: 49;           /* HSLA values are broken into  */
  --brand-colour__sat: 100%;         /* separate variables for       */
  --brand-colour__lig: 50%;          /* computational manipulation   */
  --brand-colour__alp: 1;            /* in Colour System below.      */
        /* Set --brand-colour variable based on HSLA variables */
        --brand-colour: hsla(var(--brand-colour__hue),var(--brand-colour__sat),var(--brand-colour__lig),var(--brand-colour__alp));

  --link-colour: yellow;
  --text-colour: #393939;
}


/* Typefaces */
:root {
  --typeface-serif: miller-text, georgia, serif;
  --typeface-sans: franklin-gothic-urw, helvetica, sans-serif;

  --typeface-item-body: franklin-gothic-urw, helvetica, sans-serif;

  --typeface-display-small: miller-banner, georgia, serif;
  --typeface-display-medium: miller-headline, georgia, serif;
  --typeface-display-large: miller-banner, georgia, serif;
}




/*-----------------------------------------*\
  #TYPE STYLES
\*-----------------------------------------*/

/* Default text styles */

body {
  font-family: var(--typeface-sans);
  font-weight: 400;
  font-style: normal;
}


/* Header Typography -- Logo block */

.site-header__tagline  {
  position: relative;
  font-family: var(--typeface-serif);
  font-size: .86em;
  font-weight: 600;
}

    .site-header__tagline a {
      color: var(--brand-colour--text-darker);
      border-bottom: 1px dotted var(--brand-colour--text-darker);
    }

    .site-header__tagline::before, .site-header__tagline::after  {
      content: "";
      display: block;
      position: absolute;
      width: 4rem;
      border-top: 1px solid var(--text-colour);
    }

    .site-header__tagline::before  {
      top: -1rem;
    }

    .site-header__tagline::after  {
      bottom: -1rem;
    }

    .site-header__tagline--a::before,
    .site-header__tagline--a::after {
      right: 0;
    }


/* Header Typography -- Navigation */

.site-nav-main {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

  .nav__link--join {
    color: var(--brand-colour--text);
  }

  .site-nav__dropdown-heading,
  .site-nav__dropdown .nav__link--join {
    padding-top: 2rem
  }

  .nav__link--dropdown-item {
    font-weight: 400
  }

  .expander-content__topics-submenu .nav__link--dropdown-item,
  .expander-content__more-submenu .nav__link--dropdown-item {
    text-transform: capitalize;
    letter-spacing: 0
  }

  .site-nav__dropdown .nav__link--newsletter,
  .site-nav__dropdown .facebook,
  .site-nav__dropdown .twitter {
    padding-top: 1rem;
  }


/* Label text styles */
.category-label {
  font-family: var(--typeface-sans);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--brand-colour--text);
}

/* Old text styles ---
body {
  font-family: var(--typeface-sans);
  font-weight: 400;
  font-style: normal;
  color: var(--text-colour);
  line-height: calc(var(--grid-unit) * 3);
  font: normal normal 400 var(--base-type-size)/var(--base-line-height)  var(--typeface-body);
}
 h2 {
   font-family: var(--typeface-display-small);
   font-weight: 600;
   font-style: normal;
   color: var(--text-colour);
   line-height: 3rem;
   font-size: 3rem;
   text-transform: capitalize;
 } */


/* Responsive Settings */
/* CSS variables can't be used within media query selectors, so these responsive settings are for reference only. */
/* If we want to use CSS variables to create a layout grid that responds to viewport dimensions then we could set the grid properties via a variable and set that variable relative to the viewport dimension.
Simple examples:
    --column-gutter: calc(5vw+10px);

    .container {
      grid-column-gap:var(--column-gutter);
    }

    --col-grid-main: 1fr 1fr;
    @media screen and (min-width: 1368px) { --col-grid-main: 2fr 1fr 1fr 1fr; }

    .hmpg-org-recent-stories__top-stories {
        grid-template-columns: var(--col-grid-main);
      }
 */
/* :root {
  breakpoint-width-xs: 0;
  breakpoint-width-s: 0;
  breakpoint-width-m: 684px;
  breakpoint-width-l: 1368px;
  breakpoint-width-xl: 1368px;
}
*/




/*-----------------------------------------*\
  #SYSTEMS
\*-----------------------------------------*/

/* Design system styles are derived computationally from the base parameters. */


/* COLOUR SYSTEM */
/* Use the Base Colours to derive a colour system.
Use the HSLA colorspec with each of the 4 values set by a separate variable. Then perform computations on those variables to change the colour.
https://www.w3.org/TR/css-color-3/#hsl-color
https://www.w3schools.com/cssref/func_hsla.asp
https://caniuse.com/#feat=css3-colors
*/

    /* BRAND TEXT COLOUR */
    /* Brand colour is darkened for use in text and icons */
    :root {
      --brand-colour--text:
          hsla(
            calc(var(--brand-colour__hue)*.9), /* makes brand colour more red */
            var(--brand-colour__sat),
            calc(var(--brand-colour__lig)*.98), /* darkens brand colour */
            var(--brand-colour__alp)
          );
    }


    /* BRAND TEXT COLOUR - darker */
    /* Brand colour is darkened further for particularly small text and fine lines */
    :root {
      --brand-colour--text-darker:
          hsla(
            calc(var(--brand-colour__hue)*.82), /* makes brand colour more red */
            var(--brand-colour__sat),
            calc(var(--brand-colour__lig)*.96), /* darkens brand colour */
            var(--brand-colour__alp)
          );
    }


    /* BRAND BACKGROUND COLOUR */
    /* Brand colour is lightened for use in module backgrounds */
    :root {
      --brand-colour--mod-bg:
          hsla(
            var(--brand-colour__hue),
            var(--brand-colour__sat),
            calc(var(--brand-colour__lig)*1.34), /* lightens brand colour */
            /* var(--brand-colour__alp) */ 0.5   /* AG - temporary tansparency to show grid */
          );
    }


    /* ELEMENT COLOURS */
    /* Typographic Elements */
    :root {
      --icon-search-svg-colour: var(--text-colour);
      --icon-arrow-toggle-down-svg-colour: var(--text-colour);
    }

/* end of Colour System */



/* MODULAR SCALE */
/* Use the Base Parameters to derive a modular scale. */



/* TYPOGRAPHY SYSTEM */
/* Use the Modular Scale to derive a typescale. */

/* Type styles are currently above in Settings */



/* Type Helpers */
:root {
  /* Scale down text for tertiary components
  (e.g. .story-item--tertiary, .story-item--minimum) */
  --small-text: 0.86em;
}



/* GRID SYSTEM */
/* Uses the Modular Scale to derive a modular grid. */

/* Spacing */

:root {
  --grid-unit-2: calc(var(--grid-unit)*2);
  --grid-unit-3: calc(var(--grid-unit)*3);
  --grid-unit-4: calc(var(--grid-unit)*4);
}


/* Column Spacing */

:root {
  /* standard column gutter width */
  --gutter-column: 4rem;
  /* use half of gutter width when column borders are required */
  --gutter-column-half: calc(var(--gutter-column) / 2);
  /* standard row gutter width */
  --gutter-row: 6rem;
  /* use half of gutter width when row borders are required */
  --gutter-row-half: calc(var(--gutter-row) / 2);
}


/* Page margins */
:root {
  --page-margin-sides: var(--gutter-column-half);
  --page-margin-top: 4rem;
}


    /* >> Use pseudo element :after to create the column borders */





/*-----------------------------------------*\
  #ATOMS
\*-----------------------------------------*/

a {
  text-decoration: none;
}

/* BUTTON atom */

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

  /* BUTTON EXPANDER is used to show and hide content */
  .button--expander {
    grid-column: 1 / -1; /* Make button span entire grid row */
    justify-self: center;
  }


/* BADGE molecule */
/* This styles the existing story-badge html molecule from the story page to work on the homepage. These styles replace the story page badge styles. */

.badge { }

  .badge--story-item-placement {
    display: block;
    position: absolute;
    width: auto;
    left: -1em;
    top: -1.5em;
    transform: scale(1);
    padding-left: inherit; /* Adjusts badge position when there's padding on the parent */
  }

  .hmpg-org-recent-stories__list .story-item--tertiary .badge--story-item-placement {
    left: -2.5em;
    top: -2em;
    transform: scale(.7);
  }




/*-----------------------------------------*\
  #MOLECULES
\*-----------------------------------------*/


/* STORY ITEM MOLECULE ------------------- */

/* default story item grid -- single column  */
.story-item--index-page {
    position: relative;
    display: grid;
    grid-column-gap: var(--gutter-column);
    grid-row-gap: 0;
    grid-template-areas:
        "image"
        "category"
        "headline"
        "deck"
        "author"
        "date";
}

    .story-item__news-source{
      padding-left: .5em;
      font-weight: 200;
    }

    .story-item__image {display: grid;} /* Necessary for baseline-element.js to prevent element height from collapsing  */

    /* Story Item element layout -- Assign story-item elements to grid areas */
    .story-item--index-page .story-item__image { grid-area: image; }
    .story-item--index-page .badge--story-item-placement { grid-area: image; z-index: 20;}
    .story-item--index-page .category-label { grid-area: category; }
    .story-item--index-page .story-item__headline { grid-area: headline; }
    .story-item--index-page .story-item__deck { grid-area: deck; }
    .story-item--index-page .story-item__author { grid-area: author; }
    .story-item--index-page .story-item__date { grid-area: date; }

    /* STORY ITEM EXTENSIONS */
    .story-item--primary { }

    .story-item--secondary {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto) 1fr;
      grid-template-areas:
        "category image"
        "headline image"
        "deck image"
        "author image"
        "date image";
    }

    .story-item--tertiary { }
        .story-item--tertiary .story-item__image { display: none; }
        .story-item--tertiary .badge--story-item-placement { display: none; }
        .story-item--tertiary .category-label { display: none; }
        .story-item--tertiary .story-item__headline { display: block; }
        .story-item--tertiary .story-item__deck { display: none; }
        .story-item--tertiary .story-item__author { display: none; }
        .story-item--tertiary .story-item__date { display: none; }

        .hmpg-org-recent-stories__list .story-item--tertiary {
          font-size: var(--small-text);
          grid-column-gap: calc(var(--gutter-column) * 0.33);
        }

    .story-item--minimum { font-size: var(--small-text); }
        .story-item--minimum .story-item__image { display: none; }
        .story-item--minimum .badge--story-item-placement { display: none; }
        .story-item--minimum .category-label { display: none; }
        .story-item--minimum .story-item__headline { display: block; }
        .story-item--minimum .story-item__deck { display: none; }
        .story-item--minimum .story-item__author { display: none; }
        .story-item--minimum .story-item__date { display: none; }

    .story-item--reverse { }


    /* ---- STORY ITEM responsive enhancement ----  */

        /*  STORY ITEM MEDIUM BREAKPOINT -- breakpoint-width-m: 684px */
        @media screen and (min-width: 684px) {

          .story-item--primary {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, auto) 1fr;
            grid-template-areas:
              "category image"
              "headline image"
              "deck image"
              "author image"
              "date image";
          }

              .story-item--primary.story-item--reverse {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, auto) 1fr;
                grid-template-areas:
                  "image category"
                  "image headline"
                  "image deck"
                  "image author"
                  "image date";
              }

          .story-item--secondary {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr;
            grid-template-areas:
                "image"
                "category"
                "headline"
                "deck"
                "author"
                "date";
          }

          .story-item--tertiary {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, auto) 1fr;
            grid-template-areas:
              "category image"
              "headline image"
              "deck image"
              "author image"
              "date image";
          }
              .story-item--tertiary .story-item__image {display: grid;} /* Necessary for baseline-element.js to prevent element height from collapsing  */
              .story-item--tertiary .badge--story-item-placement {display: block;}
              .story-item--tertiary .category-label {display: block;}
              .story-item--tertiary .story-item__deck {display: block;}
        }
/* end of Story Item */


/* HMPG AD BOX MOLECULE ------------------- */

.hmpg-ad-box {
  position: relative;
}

  .hmpg-ad-box--halfpage {
    display: none;
  }

  .hmpg-ad-box iframe {
    /* width:100%; This prevents the ad from breaking the col but it will get crops the graphic */
  }

  /* Towards a scaling ad solution: */
  .hmpg-ad-box--halfpage iframe {
    /*
    position: absolute;   --> This pulls ad out of flow and lets grid col size properly
    top:0;
    left:0;
    transform: scale(.8) translate(-55px, -75px);  --> translations must be calculated relative grid col size depending on viewport width
    */
  }

    /*  HMPG AD BOX LARGE BREAKPOINT -- breakpoint-width-l: 1368px */
    @media screen and (min-width: 1368px) {
      .hmpg-ad-box--halfpage { display: block;}
    }
/* end of HMPG Ad Box molecule */


/* COUNTER LIST molecule ----------------- */
/* This formats a container of articles into a numbered list with custom numbers. It uses the styling method from https://www.w3schools.com/css/css_counters.asp Variants can be seen here: https://www.w3.org/Style/Examples/007/color-bullets.en.html */

/* COUNTER LIST molecule ----------------- */
/* This formats a container of articles into a numbered list with custom numbers. It uses the styling method from https://www.w3schools.com/css/css_counters.asp Variants can be seen here: https://www.w3.org/Style/Examples/007/color-bullets.en.html */

.counter-list--story-items {
  counter-reset: story-item;
}

    .counter-list--story-items > .story-item {
      counter-increment: story-item;

      padding-left: 1.75em;
      position: relative;
      margin-bottom: 1rem;
    }

        /* Realign odd-numbered list with baseline grid.
           This doesn't work if there's an even # of items in the list.
           Using margins that vary between odd and even items could produce a universal solution. */
        .counter-list--story-items > .story-item:last-of-type {
          margin-bottom: 2rem;
        }

    .counter-list--story-items > .story-item h2::before {
              content: counter(story-item);
              display: inline-block;
              position: absolute;
              left: 0em;
              color: #fff;
              background-color: #bbb;
              border-radius: 0.65em;
              text-align:center;
              font-weight: 600;
              width: 1.33em;
              height: 1.33em;
              -ms-transform: scale(0.85); /* IE 9 */
              -webkit-transform: scale(0.85); /* Safari */
              transform: scale(1);
              margin-left: 0;
              margin-right: 0.25em;
          }
/* end of Counter List molecule */



/*-----------------------------------------*\
  #ORGANISMS
\*-----------------------------------------*/


/* HMPG ORGANISM WRAPPER ----------------- */

.hmpg-org-wrapper {
  padding: 0 var(--page-margin-sides);
}



/* HMPG RECENT STORIES organism ---------- */

.hmpg-org-recent-stories {
  padding-top: var(--gutter-row); /* switched from margin to padding for grid testing */
}

.hmpg-org-recent-stories__list {
      /* AG -- might want to abstract universal grid specs to "".hmpg-org-wrapper >" */
  display: grid;
  width: 100%;
  grid-column-gap: var(--gutter-column);
  grid-row-gap: var(--gutter-row);
}

  /* RECENT STORIES LIST EXPANDER */
  /* This uses a checkbox and labels to toggle the display of content without using javascript. See: https://jsfiddle.net/Algreenwich/uLpzvx4n/36/
  This was adapted from The Checkbox/Label Trick described here: https://javascript.works-hub.com/learn/a-javascript-free-frontend-61275
  An alternative (although less robust) method is to use anchors links:
  https://jsfiddle.net/Algreenwich/uym9s0bg/
  https://stackoverflow.com/questions/40312901/showing-and-hiding-something-with-pure-css-with-show-and-hide-button */

  .button--expander-open ~ :not(script) {
    display: none;
  }

      #expander--recent-stories:checked ~ :not(script) {
        display: grid;   /* This must be "grid" if the revealed items are themselves using internal grid layouts */
      }

      #expander--recent-stories:checked ~ .button--expander-open {
        display: none;
      }


      /* ---- RECENT STORIES responsive enhancement ---- */
      /* Story items are allocated grid space and location based on their story-item extension class, e.g. .story-item--primary spans full first row. */

          /*  RECENT STORIES MEDIUM BREAKPOINT -- breakpoint-width-m: 684px */
          @media screen and (min-width: 684px) {

            .hmpg-org-recent-stories__list {
              grid-template-columns: repeat(6, 1fr);
              grid-template-areas:
                "primary primary primary primary primary primary"
                "2ndary  2ndary  2ndary 2ndary  2ndary  2ndary";
            }

                .hmpg-org-recent-stories__list > .story-item--primary {
                grid-column: auto / span 6;
                }

                .hmpg-org-recent-stories__list > .story-item--secondary {
                grid-column: auto / span 2;
                }

                .hmpg-org-recent-stories__list > .story-item--tertiary {
                grid-column: auto / span 3;
                }

          }

          /*  RECENT STORIES LARGE BREAKPOINT -- breakpoint-width-l: 1368px */
          @media screen and (min-width: 1368px) {

            .hmpg-org-recent-stories__list {
              grid-template-columns: repeat(4, 1fr);
              grid-template-areas:
                "primary primary primary ad"
                "2ndary  2ndary  2ndary  ad";
            }

                .hmpg-org-recent-stories__list > .story-item--primary {
                grid-area: primary;
                }

                .hmpg-org-recent-stories__list > .story-item--secondary {
                grid-column: auto / span 1;
                }

                .hmpg-org-recent-stories__list > .story-item--tertiary {
                grid-column: auto / span 1;
                }

                .hmpg-org-recent-stories__list .hmpg-ad-box--halfpage {
                  grid-area: ad;
                }
          }

  /* end of Recent Stories */



/* TYEE INSIDER organism ----------------- */
    /* AG -- It would be great to use subgrids to keep molecules separated yet aligned, but the subgrid spec isn't completed yet and no browsers support it. The display: content also has very poor support so that's not viable either. */
.hmpg-org-tyee-insider {
  display: grid;
  margin-top: var(--gutter-row);
  padding-top: 2rem;
  grid-column-gap: var(--gutter-column);
  grid-row-gap: var(--gutter-row);

  background-color: var(--brand-colour--mod-bg);
}

  .m-tyee-insider__main .story-item--primary { }
    .m-tyee-insider__main .story-item--primary .badge--story-item-placement
      { display: none;}
    .m-tyee-insider__main .story-item--primary .category-label
      { display: none;}
    .m-tyee-insider__main .story-item--primary .story-item__headline
      { grid-area: headline; }
    .m-tyee-insider__main .story-item--primary .story-item__deck
      { grid-area: deck; }
    .m-tyee-insider__main .story-item--primary .story-item__author
      { display: none;}
    .m-tyee-insider__main .story-item--primary .story-item__date
      { display: none;}

    /* ---- TYEE INSIDER responsive enhancement ---- */

        /*  TYEE INSIDER MEDIUM BREAKPOINT -- breakpoint-width-m: 684px */
        @media screen and (min-width: 684px) {

          .hmpg-org-tyee-insider {
            grid-template-columns: repeat(6, 1fr);
          }
              .hmpg-org-tyee-insider > :first-child {
              grid-column: auto / span 6;
              }
              .hmpg-org-tyee-insider > :nth-child(2) { grid-column: auto / span 3;}
              .hmpg-org-tyee-insider > :nth-child(3) { grid-column: auto / span 3;}
        }

        /*  TYEE INSIDER LARGE BREAKPOINT -- breakpoint-width-l: 1368px */
        @media screen and (min-width: 1368px) {

          .hmpg-org-tyee-insider {
            grid-template-columns: repeat(5, 1fr);
          }
              .hmpg-org-tyee-insider > :first-child {
              grid-column: auto / span 3;
              }
              .hmpg-org-tyee-insider > :nth-child(2) { grid-column: auto / span 1;}
              .hmpg-org-tyee-insider > :nth-child(3) { grid-column: auto / span 1;}
        }
/* End of Tyee Insider organism */



/* PINNED STORY organism ----------------- */

.hmpg-org-pinned-story {
  padding-top: var(--gutter-row); }

/* End of Pinned Story organism */



/* DEEP DIVE organism ----------------- */

.hmpg-org-deep-dive {
  display: grid;
  margin-top: var(--gutter-row);
  padding-top: 2rem;
  grid-column-gap: var(--gutter-column);
  grid-row-gap: var(--gutter-row);

  background-color: #f1f1f1ad; /* For testing purposes */ /* AG - temporary tansparency to show grid */
  }

  .hmpg-org-deep-dive > .story-item:first-of-type .story-item__image { display: none; }
  .hmpg-org-deep-dive > .story-item:first-of-type .badge--story-item-placement { display: none; }
  .hmpg-org-deep-dive > .story-item:first-of-type .category-label { display: none; }
  .hmpg-org-deep-dive > .story-item:first-of-type .story-item__author { display: none; }
  .hmpg-org-deep-dive > .story-item:first-of-type .story-item__date { display: none; }


      /* ---- DEEP DIVE responsive enhancement ---- */
      /*  */

      /*  DEEP DIVE MEDIUM BREAKPOINT -- breakpoint-width-m: 684px */
      @media screen and (min-width: 684px) {

        .hmpg-org-deep-dive {
          grid-template-columns: repeat(6, 1fr);
        }
            .hmpg-org-deep-dive > *
              { grid-column: auto / span 2; }
            .hmpg-org-deep-dive > .hmpg-module-header
              { grid-column: 1 / -1; }
            .hmpg-org-deep-dive > .story-item:first-of-type
              { grid-column: 1 / span 3;
                grid-template-rows: auto 1fr;
                grid-template-areas:
                  "headline"
                  "deck";
              }
            .hmpg-org-deep-dive > .story-item--secondary
              { grid-column: auto / span 3; }
            .hmpg-org-deep-dive > .story-item--tertiary {
              grid-column: auto / span 2;
              grid-template-columns: 1fr;
              grid-template-areas:
                "image"
                "category"
                "headline"
                "deck"
                "author"
                "date";
              }
      }

      /*  DEEP DIVE LARGE BREAKPOINT -- breakpoint-width-l: 1368px */
          @media screen and (min-width: 1368px) {

            .hmpg-org-deep-dive {
              grid-template-columns: repeat(6, 1fr);
            }
                .hmpg-org-deep-dive > .story-item:first-of-type {
                  /* Set the item's position */
                  grid-column: 1 / span 2;
                  grid-row: auto / span 3;

                  /* Set the item's internal grid */
                  grid-template-rows: auto;
                  align-content: start;
                  }

                .hmpg-org-deep-dive > .story-item--secondary {
                  /* Set the item's position */
                  grid-column: auto / span 2;
                  grid-row: auto / span 3;

                  /* Set the item's internal grid */
                  align-content: start;
                  }

                .hmpg-org-deep-dive > .story-item--tertiary {
                  /* Set the item's position */
                  grid-column: auto / span 2;

                  /* Set the item's internal grid */
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: repeat(4, auto) 1fr;
                  grid-template-areas:
                    "category image"
                    "headline image"
                    "deck image"
                    "author image"
                    "date image";
                  }
          }
/* End of Deep Dive organism */



/* MOST organism ----------------- */

.hmpg-org-most {
  display: grid;
  padding-top: var(--gutter-row);
  grid-column-gap: var(--gutter-column);
  grid-row-gap: var(--gutter-row);
}



      /* ---- MOST responsive enhancement ---- */
      /*  */

      /*  MOST MEDIUM BREAKPOINT -- breakpoint-width-m: 684px */
      @media screen and (min-width: 684px) {

        .hmpg-org-most {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

/* End of Most organism */



/* REPORTED ELSEWHERE organism ----------------- */

.hmpg-org-reported-elsewhere {
  display: grid;
  padding-top: var(--gutter-row);
  grid-column-gap: var(--gutter-column);
  grid-row-gap: 0;
  align-items: start;
}


  .hmpg-org-reported-elsewhere > .hmpg-module-header {
  }

  .hmpg-org-reported-elsewhere__list .story-item {
    padding-top: var(--grid-unit-2);
  }


      /* ---- REPORTED ELSEWHERE responsive enhancement ---- */
      /*  */

      /*  Reported Elsewhere MEDIUM BREAKPOINT -- breakpoint-width-m: 684px */
      @media screen and (min-width: 684px) {
        .hmpg-org-reported-elsewhere__list {
          column-count: 2;
          column-gap: var(--gutter-column);
        }
        .hmpg-org-reported-elsewhere__list > .story-item{
          -webkit-column-break-inside: avoid;
          break-inside: avoid;
          page-break-inside: avoid;
        }
      }


      /*  Reported Elsewhere NONSTANDARD BREAKPOINT -- breakpoint: 1010px */
      /*  The fixed width of the bigbox ad requires a specific breakpoint here. */
      @media screen and (min-width: 1010px) {
        .hmpg-org-reported-elsewhere__list {
          column-count: 3;
          column-gap: var(--gutter-column);
        }
        .hmpg-org-reported-elsewhere__list > .story-item{
          -webkit-column-break-inside: avoid;
          break-inside: avoid;
          page-break-inside: avoid;
        }
      }

/* End of Reported Elsewhere organism */



/* SITE HEADER organism ----------------- */
/* This thing is a beast ---------------- */

.site-header__logo-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--gutter-column);
  grid-row-gap: 0;
  align-items: start;

  padding-top: var(--page-margin-top);
}

.site-header__tagline {
  margin-top: calc(.3rem + 2vw);
}

  .site-header__tagline--a, .site-header__tagline--b {
    display: none;
  }

  .site-header__logo {
    justify-self:center;
    line-height: 0; /* required to prevent additional height in element */
    min-height: 12rem; /* Keeps height of logo block aligned with grid */
  }

    .site-header__logo img{
      max-width: 100%;
      max-height: 96px;
      padding: 0 2vw;
    }

    /* SITE NAV MOLECULE */

    /* Default for narrow views:
    Hide all nav item items except the hamburger, search button, and the dropdown menus.
        (This rule leaves the dropdown menus unaffected so that their visibility will be controlled by the checkbox state of #expander--nav-menu (and #expander--search) as defined below in the NAV DROPDOWN EXPANDER rules) */
    .site-nav-main > :not(.nav__burger):not(.site-nav__dropdown):not(.nav__link--search):not(.site-nav__search-dropdown) {
      display: none;
    }

    .nav__link {
      cursor: pointer;
    }

    .site-nav-main__expander-toggle.nav__burger::before,
    .site-nav-main__expander-toggle.nav__link--more::after {
      content: "arrow_drop_down";
      display: inline-block;
      vertical-align: -.25em;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 1.5em;
      line-height: 1rem; /* required to prevent additional height in element */
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }

    .nav__link--join {
        position: relative;
        left: 1.35em;
    }

      .nav__link--join::before {
        content: url('/ui/img/icon-dollar-heart.svg');
        display: inline-block;
        position: absolute;
        left: -1.35em;
        transform: scale(.6) translate(-40%, -30%);
      }

    .nav__link--search {
      position: relative;
      left: 1.35em;
    }

      .nav__link--search::before {
        content: url('/ui/img/icon-search.svg');
        display: inline-block;
        position: absolute;
        left: -1.35em;
        transform: scale(.6) translate(-40%, -30%);
      }


      /* SEARCH DROPDOWN EXPANDER */
      /* This uses a checkbox and labels to toggle the display of content without using javascript. See: https://jsfiddle.net/Algreenwich/uLpzvx4n/36/
      This was adapted from The Checkbox/Label Trick described here: https://javascript.works-hub.com/learn/a-javascript-free-frontend-61275
      An alternative (although less robust) method is to use anchors links:
      https://jsfiddle.net/Algreenwich/uym9s0bg/
      https://stackoverflow.com/questions/40312901/showing-and-hiding-something-with-pure-css-with-show-and-hide-button */

          /* DEFAULT state: Search Dropdown is hidden */
          .site-nav__search-dropdown {
            display: none ;
            grid-column: 1 / -1;
            margin-top: 2rem;
          }

          .site-nav__search-dropdown .site-nav__search-form {
            display: grid ;
            grid-template-columns: 4fr 1fr;
            font-size: 2em;
          }


          .site-nav__search-dropdown .site-nav__search-form > * {
            display: grid ;
            grid-template-columns: 4fr 1fr;
            font-size: .6em;
            height: 4rem
          }

          /* ACTIVATED state: Search Dropdown is shown */
          #expander--search:checked ~ .site-nav__search-dropdown {
            display: grid ; /* This must be "grid" if the revealed menu is itself using an internal grid layout */
          }


      /* NAV DROPDOWN EXPANDER */
      /* This uses a checkbox and labels to toggle the display of content without using javascript. See: https://jsfiddle.net/Algreenwich/uLpzvx4n/36/
      This was adapted from The Checkbox/Label Trick described here: https://javascript.works-hub.com/learn/a-javascript-free-frontend-61275
      An alternative (although less robust) method is to use anchors links:
      https://jsfiddle.net/Algreenwich/uym9s0bg/
      https://stackoverflow.com/questions/40312901/showing-and-hiding-something-with-pure-css-with-show-and-hide-button */

          /* DEFAULT state: Dropdown Menu is hidden */
          .site-nav__dropdown {
            display: none ;
            grid-column: 1 / -1;
          }

          /* ACTIVATED state: Menu is shown and toggle icon is inverted */
          #expander--nav-menu:checked ~ .site-nav__dropdown {
            display: grid ; /* This must be "grid" if the revealed menu is itself using an internal grid layout */
          }
          .site-nav #expander--nav-menu:checked ~ .site-nav-main__expander-toggle::before,
          .site-nav #expander--nav-menu:checked ~ .site-nav-main__expander-toggle::after {
            transform: rotate(180deg);
          }

      /* SUB-NAV DROPDOWN EXPANDERS */
      /* This uses a checkbox and labels to toggle the display of content without using javascript. See: https://jsfiddle.net/Algreenwich/uLpzvx4n/36/
      This was adapted from The Checkbox/Label Trick described here: https://javascript.works-hub.com/learn/a-javascript-free-frontend-61275
      An alternative (although less robust) method is to use anchors links:
      https://jsfiddle.net/Algreenwich/uym9s0bg/
      https://stackoverflow.com/questions/40312901/showing-and-hiding-something-with-pure-css-with-show-and-hide-button */

          /* Sub-nav has arrow toggle icon */
          .site-nav__dropdown-expander-toggle::after {
            content: "arrow_drop_down";
            display: inline-block;
            vertical-align: -.25em;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 1.5em;
            line-height: 1rem; /* required to prevent additional height in element */
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
          }

          /* subnav DEFAULT STATE: Menu content in adjacent sibling div is hidden */
          #expander--nav-menu-section-submenu + label.site-nav__dropdown-expander-toggle + div.expander-content,
          #expander--nav-menu-topics-submenu + label.site-nav__dropdown-expander-toggle + div.expander-content,
          #expander--nav-menu-more-submenu + label.site-nav__dropdown-expander-toggle + div.expander-content {
            display: none ;
          }

          /* subnav ACTIVATED STATE: Menu content is shown and adjacent sibling toggle icon is inverted */
          #expander--nav-menu-section-submenu:checked + label.site-nav__dropdown-expander-toggle + div.expander-content,
          #expander--nav-menu-topics-submenu:checked + label.site-nav__dropdown-expander-toggle + div.expander-content,
          #expander--nav-menu-more-submenu:checked + label.site-nav__dropdown-expander-toggle + div.expander-content {
            display: grid ; /* Menu content is shown */
          }
          #expander--nav-menu-section-submenu:checked + .site-nav__dropdown-expander-toggle::after,
          #expander--nav-menu-topics-submenu:checked + .site-nav__dropdown-expander-toggle::after,
          #expander--nav-menu-more-submenu:checked + .site-nav__dropdown-expander-toggle::after {
            transform: rotate(180deg); /* toggle icon is inverted */
          }


          /* ---- SITE HEADER responsive enhancement ---- */
          /* -------------------------------------------- */

          /*  Site Header NON-STANDARD BREAKPOINT -- MAX 849px */
          /*  Style Nav only in narrow views */
          @media screen and (max-width: 850px) {

              .site-header__logo-block {
                  padding-top: 2rem;
              }

               .site-header__logo img{
                max-width: 50vw; /*  Makes room for burger and search icons beside logo */
               }

              /* Raise Nav to be parallel with logo in narrow views */
              .site-nav-main {
                position: relative;
                top: -4rem;
              }

              .site-nav-main__expander-toggle.nav__burger {
                position: relative;
              }

              .site-nav-main__expander-toggle.nav__burger::before {
                content: "menu";
                display: inline-block;
                position: absolute;
                top: -3rem;
                left: -.5rem;
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 5.5rem;
                line-height: 1rem; /* required to prevent additional height in element */
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
              }


              .nav__link--search {
                position: absolute;
                right: 0rem;
                left: initial;
              }

               .nav__link--search::before {
                top: -4rem;
                left: 1rem;
                transform: scale(1);
              }

              .hmpg-org-recent-stories {
                  padding-top: 4rem; /* Narrows gap between header and main content */
              }




          } /*  end os narrow breakpoint styles -- max-wdith 849px */


          /*  Site Header NON-STANDARD BREAKPOINT -- 850px */
          @media screen and (min-width: 850px) {

              /* Expand site-header grid and show taglines */
              .site-header__logo-block {
                grid-template-columns: 1fr 1fr 1fr;
              }

              .site-header__tagline--a {
                display: block;
                text-align: right;
              }

              .site-header__tagline--b {
                display: block;
              }


              /* Create site-nav bar grid */
              .site-nav-main {
                /* Set element's position within its container (.site-header__logo-block) */
                grid-column: 1 / -1;

                /* Define Grid within element */
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                padding-top: var(--gutter-row);
                grid-column-gap: var(--gutter-column);
                grid-row-gap: 0;
                align-items: end;

                padding-top: 4rem;
              }

                /* In wide views show all nav item items except the hamburger, search button, and the dropdown menus.
                    (This rule leaves the dropdown menus unaffected so that their visibility will be controlled by the checkbox state of #expander--nav-menu (and #expander--search) as defined below in the NAV DROPDOWN EXPANDER rules) */
                .site-nav-main > :not(.nav__burger):not(.site-nav__dropdown):not(.nav__link--search):not(.site-nav__search-dropdown) {
                  display: block;
                }

                /* In wide views hide the hamburger */
                .site-nav-main > .nav__burger {
                  display: none;
                }

                /* Nav Dropdown grid for wide views */
                .site-nav__dropdown {
                  grid-column: 1 / -1;
                  grid-template-columns: [col-z] 1fr [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr ;
                  grid-template-rows: auto [row-2] 1fr;
                  grid-column-gap: var(--gutter-column);
                  grid-auto-flow: row dense;
                  align-items: start;
                }

                    .expander-content__section-submenu,
                    .expander-content__topics-submenu,
                    .expander-content__more-submenu { display: grid !important} /* show submenus by default */

                    .site-nav__dropdown-expander-toggle::after {content: none;} /* Hides dropdown toggle arrows */

                    .site-nav__dropdown-heading-more {display: none;} /* Hides redundant heading */

                    .site-nav__dropdown-heading-sections,
                    .expander-content__section-submenu {grid-column: col-1;}

                    .site-nav__dropdown-heading-topics,
                    .expander-content__topics-submenu {grid-column: col-2;}


                    .expander-content__more-submenu {
                      grid-column: col-3;
                      grid-row: row-2; /* Prevents submenu from expanding first row of grid */
                      position: relative;
                      top: -2rem; /* Fills gap left by hidden submenu header */
                    }

                    .site-nav__dropdown .nav__link--newsletter {grid-column: col-4; padding-top: 2rem;}

                    .site-nav__dropdown .nav__link--join {display: none} /* Hides redundant link */

                    .site-nav__dropdown .facebook,
                    .site-nav__dropdown .twitter {grid-column: col-5;}

                    .site-nav__dropdown .facebook { padding-top: 2rem;}

          } /* End of Site Header responsive breakpoint 850px*/

  /* End of Site Header organism */



/* SITE FOOTER organism ----------------- */

.site-footer--homepage {
  display: grid;
  margin-top: var(--gutter-row);
  padding-top: 4rem;
  padding-bottom: var(--gutter-row);
  grid-column-gap: var(--gutter-column);
  grid-row-gap: var(--gutter-row-half);
  justify-items: center;
  align-items: end;

  background-color: #ddd;
}


      /* ---- SITE FOOTER responsive enhancement ---- */
      /*  */

      /*  Site Header NON-STANDARD BREAKPOINT -- 850px */
      @media screen and (min-width: 850px) {

        .site-footer--homepage {
          grid-template-columns: repeat(7, 1fr);
        }

      }

/* End of Site Footer organism */





/*------------------------------------*\
  #HELPER CLASSES
\*------------------------------------*/


/*  RESPONSIVE IMAGES -- forces the image to be the same width as its parent
    element. Confusingly similar in name to Bootstrap's .img-responsive but this
    will actually stretch an image rather than merely shrink it. */
.responsive-img {
  width: 100%;
  height: auto;
  display: block;
}


/*------------------------------------*\
  #GRID GUIDES
\*------------------------------------*/

/* This draws guides for column grid and baseline grid to tune the layout. */

/* Apply the grid background to container elements: */
.hmpg-org-wrapper {
    /* Define grid structure: column width (inc gutter), baselines */
    background-size:
    calc((100% + var(--gutter-column) - 2 * var(--page-margin-sides))  / var(--column-number) )    var(--baseline-grid);
    /*   (width +    trailing gutter   -   the page margins    )        / number of columns    )  | baseline increment */
    /*   (----------------- total grid width ------------------)        / number of columns    )  | baseline increment */
    /*   (------------------------------ column width inc gutter ------------------------------)  | baseline increment */

    /* Adjust grid for page margins: */
    background-position: var(--page-margin-sides) 0rem;


    background-image:
      /* Mark start of each column: */
      linear-gradient(to right, #6583c552 1px, transparent 1px),

      /* Fill in column widths: */
      linear-gradient(to right, #83aaff17 calc((100vw  + var(--gutter-column))/var(--column-number) - var(--gutter-column) ), #ffd3d300 1px),
      /* column content area      ==            (-------------- column width inc gutter ------------) - ( gutter --------- )  , gutter color   */

      /* Draw baselines: */
      linear-gradient(to bottom, #99b4ff47 1px, transparent 1px);
      /*                      baseline thickness, colour btw baselines */
}


/* Apply the baselines to the body element to test for grid consistency between container elements */
body {
    background-size:
    4rem    2rem;
    /* width of background, grid increment */

    /* Adjust grid for page margins, set top offset */
    background-position: var(--page-margin-sides) 0px;

    background-image:
      /* Draw baselines: */
      linear-gradient(to bottom, #4848486b 1px, transparent 1px);
      /*                      baseline thickness, colour btw baselines */

    background-repeat: repeat;
}
