/* ==========================================================================
   Hide elements not required in print
   ========================================================================== */

.ad-banner, .tool-bar, .ad-box, .series-box, aside .fact-box, .related-story, .presents-box, .messaging-block, .related-event-box, 
.messaging-zone, .latest-stories, .comments-section, footer {
    display: none;
}


/* ==========================================================================
   Show elements that are required in print
   ========================================================================== */
   

/* Show fact-box at bottom of story (as in narrow viewports) */
div.fact-box {
    display: block;
}



/* ==========================================================================
   Print styles
   ========================================================================== */


@page {
      margin: 2cm;
}


body {
      color: #000;
      background: #fff;
}

h1, h2, h3, h4 {
   page-break-after: avoid;
}

img {
   page-break-inside: avoid;
}


/* LINK STYLES  ============================================================= */

article a {
  font-weight: bolder;
  text-decoration: none;
}

/* Show link urls */
article a[href^=http]:after {
  content:" <" attr(href) "> ";
}

/* Hide anchor link urls */
article a[href^="#"]:after {
   content: "";
}