/* @override http://127.0.0.1:4000/ui/css/subpages.css */

/* subpage specific code */

p.intro-large {
	font-family: var(--typeface-sans);
	font-size: 1.42em;
	line-height: 1.4;
	font-weight: 300;
}

strong {
	font-weight: 500;
}

.fluid-width-video-wrapper {
	margin: 30px 0;
}

.article__header {
	padding: 15px 0 0 0;
	max-width: 45em;
}

@media screen and (max-width: 879px) {
	.article__header {
		max-width: 38em;
		padding: 15px 0 0 15px;
	}
}

.article__header h1 {
	margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
	body.subpage .article__header {
		max-width: 45em;
	}
}

body.subpage article h2, h3, h4 {
	line-height: 1.3;
}

body.subpage article h2 {
	font-family: var(--typeface-serif);
	font-size: 1.75em;
}

body.subpage article h3 {
	font-family: var(--typeface-sans);
	font-size: 1.4em;
	font-weight: 500;
}

body.subpage article h4 {
	font-family: var(--typeface-sans);
	font-size: 1.2em;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 0;
}

body.subpage article h3 {
	margin-top: 37px;
}

body.subpage article h2 + h3 {
	margin-top: 25px;
}

body.subpage article ul li {
	margin-bottom: 8px;
}

body.subpage aside a:hover {
	transform: none !important;
}

body.subpage aside .toc {
	border-top: 6px solid;
}

@media screen and (min-width: 939px) {
	body.subpage aside .toc {
		display: block;
	}
}

body.subpage aside .toc h6 {
	background: none;
}

body.subpage aside .toc h6:hover {
	text-decoration: none;
}

body.subpage aside .toc ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	border-top: 1px solid;
	margin-top: 6px;
}

body.subpage aside .toc li {
	border-bottom: 1px solid;
	padding: 6px 0;
}

body.subpage aside .toc li:last-child {
	border-bottom: none;
}

body.subpage aside .toc li a:hover {
	background: var(--yellow);
}

/* see line 2885+ on article.css */

.presents-box { 
    padding-bottom: 0;
}
        
.presents-box h5 {
    margin-bottom: 1em;
}

.presents-box h6 {
    padding-top: .66em;
}


.presents-box img {
    float: right;
    margin-top: 0.3em;
    margin-bottom: 0em;
    padding-right: .75em;
    height: auto;
    max-width: 5.5em;
    background-color: none;
}

.presents-col-container {
    margin-top: -1.5em;
    margin-bottom: 3em;
}


/*  IN WIDER VIEWPORTS: 
- don't show the fact-box at the bottom of the article-body
- show the aside containing the fact-bax (.hide-on-narrow-vp)
- show the factbox within an aside */
@media screen and (min-width: 939px) {

	.presents-box {
	    display: none;
	}
	
	.aside .presents-box {
	    display: block;
	}
}

.index-page__story-list .presents-box {
    display: block;  /* Show presents-box at all views on index-pages. */
}

.presents-box.index-list-spacing { 
    margin-top: 2em;
}  /* Matches margin to the common index-list-spacing margin */


.presents-box.text-block-container {
	border-bottom: 0;
	border-top: 6px solid;
}

.presents-box p {
	font-family: var(--typeface-sans);
	font-size: 1em;
	line-height: 1.4;
	margin-top: 7px;
	border-bottom: 1px solid #333;
	padding-bottom: 15px;
}

.presents-box h5 {
	font-weight: normal;
	text-align: center;
	font-size: 0.9em;
	font-family: var(--typeface-sans);
	letter-spacing: 0.03em;
	border-bottom: 1px solid #111;
	padding-bottom: 15px;
	margin-top: 1.4em;
}

.presents-box h6,
body.subpage aside .toc h6 {
	font-family: var(--typeface-sans);
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0;
	text-align: left;
	line-height: 1.5 !important;
	border: 0;
	background: none;
	color: #111 !important;
	padding: 0 !important;
}

.presents-box h6 a {
	text-transform: none;
	text-decoration: underline;
	color: #111 !important;
	font-weight: bold !important;
	padding: 0;
}

.presents-box a:hover {
	transform: scale(1);
	font-size: 1em;
	background: var(--yellow);
	border: 0;
}

.presents-box h6:hover {
	border: 0;
}

.presents-box img {
	float: right;
	margin-top: 14px;
}