.weekender-home-top {
    /* Fudge to line up the weekender module with the bottom 
       of the header without editing the header's margin */
    margin-top: calc(-1 * (.5rem - 1px - 2px));

    background-color: var(--light-green);
}

.weekender-home-top > .wrapper {
    display: grid;
    grid-template-areas: 
        "header header header"
        "feature feature feature"
        "thumb1 thumb2 thumb3";
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gutter-row) var(--gutter-column);

    max-width: 1800px;
    margin-inline: auto;   
    padding-block: var(--gutter-row);
    padding-inline: var(--page-margin-sides);
}

.weekender-home-top header {
    grid-area: header;
    text-align: center;
}

.weekender-home-top .story-item-feature {
    grid-area: feature;
}

